<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>City Selector Modal</title>
  <link rel="stylesheet" href="../styles/style.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<button class="btn btn--primary clickMe" style="z-index:9999;">click me</button>
    <div class="modal_wrapper overlay modal-hide">
  <div class="modal__body padding-reset">
    <div class="search">
      <div class="wrapper">
        <!-- Popup close -->
        <button class="btn-close flt-right text-center">
          <svg fill="#999999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
          <p>ESC</p>
        </button>
        <!--<button class="btn-location">
          <svg fill="#999999" height="18" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>Change Location: <span class="current-location">Delhi/NCR</span>
        </button>-->
        <br/>
        <h4 class="txt-center txt-primary margin-top-xxxl margin-bottom-xxl font-weight-semibold">Pick a City</h4>

        <!-- Search -->
        <div class="searchbox margin-top-xxl">
          <div class="searchbox__input">
              <input autofocus type="search" placeholder="Enter your city name"/>
          </div>
          <div class="searchbox__btn">
            <button class="btn btn--primary" (click)="goToSearch()">Use my current location</button>
          </div>
          
          <!-- Search Suggestions -->
          <ul class="searchbox__suggestion">
            <li>
              <a href="#">
                <h6 class="searchbox__suggestion-heading">Jaipur</h6>
                <p class="searchbox__suggestion-desc">Rajasthan</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h6 class="searchbox__suggestion-heading">Udaipur</h6>
                <p class="searchbox__suggestion-desc">Rajasthan</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h6 class="searchbox__suggestion-heading">Darjeeling</h6>
                <p class="searchbox__suggestion-desc">West Bengal</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h6 class="searchbox__suggestion-heading">Guwahati</h6>
                <p class="searchbox__suggestion-desc">Assam</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h6 class="searchbox__suggestion-heading">Bhopal</h6>
                <p class="searchbox__suggestion-desc">Madhya Pradesh</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h6 class="searchbox__suggestion-heading">Cuttak</h6>
                <p class="searchbox__suggestion-desc">Orissa</p>
              </a>
            </li>
          </ul>
        </div>
      
        <!-- Search -->
        <h6 class="font-weight-semibold margin-top-xxxl txt-center">Top Cities</h6>
        <div class="txt-center margin-top-xl">
          <a href="#" class="search-tags">Ahmedabad</a>
          <a href="#" class="search-tags">Bangalore</a>
          <a href="#" class="search-tags">Chandigarh</a>
          <a href="#" class="search-tags">Delhi / NCR</a>
          <a href="#" class="search-tags">Chennai</a>
          <a href="#" class="search-tags">Gurgaon</a>
          <a href="#" class="search-tags">Hyderabad</a>
          <a href="#" class="search-tags">Jaipur</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 $(document).ready(function(){
	
	 $(".clickMe").click(function(){
	    $(".modal-hide").addClass("show_modal_wrapper");
		$(".search").addClass("search_show");
		 });
	 });

</script>

</body>
</html>
