<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
  <body>
     <div class="header_wrapper">
    <nav class="wrapper" role="navigation">
      <!-- Logo -->
      <a nb-router-link [routerLink]=" ['./offers',division] " [queryParams]="{}" class="brand_logo">
        <img class="header-logo" height="40px" width="138px" src="https://d2xy0t4o47vcev.cloudfront.net/resources/local/images/nearbuy/nearbuy-logo-new1.png" alt="logo" >
      </a>

      <!-- Primary Navigation -->
      <ul class="list_inline primary_nav">
        <li class="category_menu" [class.active]="isLocal" [class.header-hover]="aroundYouHover" (mouseenter)="addHover('local')" (mouseleave)="removeHover('local')" >
          <a nb-router-link [routerLink]="  ['./offers',division] " [queryParams]="{}" class="main_menu"  >Around You</a>
          <div class="arrow_dropup"></div>
          <div class="sub_menu">
            <div class="row">
              <div class="col-m-3 col-xl-2" *ngFor="let menu of localMenus">
                <!-- Food & Drinks -->
                <div class="local-sub-category {{menu.id}}">
                  <p class="sub-category-head margin-bottom-xs">
                    <a (click)="onMenuCategoryClick()" nb-router-link [routerLink]=" ['./offers',division,menu.id] " [queryParams]="{}">{{menu.label}}
                      <span>({{menu.count}})</span></a>
                  </p>
                  <ul>
                    <li *ngFor="let subMenu of menu.subMenus">
                      <a (click)="onMenuCategoryClick()" nb-router-link [routerLink]=" ['./offers',division,menu.id,subMenu.id] " [queryParams]="{}">{{subMenu.label}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Images-->
              <div class="col-m-3 col-xl-2"  *ngFor="let banner of localBanners">
                <div class="image_banner-local">
                  <a [href]="banner.redirectionUrl">
                    <img [src]="banner.imgUrl" [alt]="banner.title">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="category_menu" [class.active]="isTravel" [class.header-hover]="hotelHover" (mouseenter)="addHover('hotel')" (mouseleave)="removeHover('hotel')"  >
          <a class="main_menu" nb-router-link [routerLink]=" ['./travel'] " [queryParams]="{}">Hotels</a>
          <div class="arrow_dropup"></div>
          <div class="sub_menu">
            <div class="row">
              <div class="col-m-3 col-xl-3" *ngFor="let _arr of travelMenus">
                <div class="travel-sub-category">
                  <ul>
                    <li class="js-ga-menu-item" *ngFor="let menu of _arr">
                      <a (click)="onMenuCategoryClick()" nb-router-link [routerLink]=" ['./travel',menu.id] " [queryParams]="{}">{{menu.label}}
                        <span>({{menu.count}})</span></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-m-3 col-xl-3" *ngFor="let banner of travelBanners">
                <div class="image_banner">
                  <a [href]="banner.redirectionUrl">
                    <img [src]="banner.imgUrl" [alt]="banner.title">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- Secondary Navigation -->
      <ul class="list_inline secondary_links flt-right">
        <li class="nearbuy_working" (click)="openHowItWorksPopup()">
          <button>How it works</button>
        </li>
        <li>
          <a href="">List your business</a>
        </li>
        <li [ngClass]="[(hideLoginBtn)?'hide':'show']" >
          <a  class="btn-gray btn-left" href="/sign-up" (click)="openLoginPop($event,'signup')">Sign Up</a>
        </li>
        <li [ngClass]="[(hideLoginBtn)?'hide':'show']" >
          <a  class="btn-gray btn-right" href="/login" (click)="openLoginPop($event,'login')">Login</a>
        </li>
        <li class="myaccount_dropdown hide" [ngClass]="[(hideLoginBtn)?'show':'hide']" >
          <a  (click)="ddtoggle=!ddtoggle">My Account</a>
          <ul class="dropdown_menu" [ngClass]="[(ddtoggle)?'show':'hide']">
            <li><a nb-router-link [routerLink]="['./user','purchases']" [queryParams]="{}" (click)="ddtoggle=false">My Orders</a></li>
            <li><a nb-router-link [routerLink]=" ['./user','credit'] "  [queryParams]="{}" (click)="ddtoggle=false">My Credits</a></li>
            <li><a nb-router-link [routerLink]=" ['./user','profile'] " [queryParams]="{}" (click)="ddtoggle=false">My Profile</a></li>
            <li><a nb-router-link [routerLink]=" ['./user','news-letter'] " [queryParams]="{}" (click)="ddtoggle=false">My Newsletters</a></li>
            <li><a nb-router-link [routerLink]=" ['./favourite'] " [queryParams]="{}" (click)="ddtoggle=false">My Favourite</a></li>
            <li><a (click)="logout()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  </body>
</html>
