<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/style.css">  
</head>
<body>
	<div class="header__secondary">
      <div class="wrapper">
        <!--city selector-->
        <div class="city-selector display-inline-block ">
          <a class="display-block">
            <div class="texticon-group">
              <div class="texticon-group__icon padding-right-xs">
                <img onload="lzld(this)"  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" xsrc="//d2zy2ox515891i.cloudfront.net/static/images/city-location.svg" width="15" height="15" alt="location">
               </div>
              <div class="texticon-group__content vertical-align-middle">
                <p class="font-sm txt-tertiary">
                  Select Location
                  <span class="font-sm txt-primary city-name">New Delhi</span>
                </p>
              </div>
            </div>
          </a>
        </div>

        <!--secondary navigation-->
        <ul class="list_inline secondary_links flt-right">
          <li (click)="openHowItWorksPopup()">
            <a class="utility-btn">How it Works</a>
          </li>
          <li>
            <a class="utility-btn" href="/list-your-business">List your Business</a>
          </li>

          <li *ngIf="!hideLoginBtn" >
            <a  class="utility-btn" href="/login" (click)="openLoginPop($event,'login')">
              <div class="texticon-group">
                <div class="texticon-group__icon vertical-align-middle padding-top-zero padding-right-xs">
                  <span class="secure-icon"></span>
                </div>
                <div class="texticon-group__content">
                  <span class="font-xs">Login / Sign Up</span>
              </div>
            </a>
          </li>

          <li class="myaccount_dropdown">
            <a class="utility-btn">My Account</a>
            <ul class="dropdown_menu">
              <li><a  [routerLink]="['/user','purchases','active']" [queryParams]="{}" (click)="ddtoggle=false">My Orders</a></li>
              <li><a  [routerLink]=" ['/user','credit'] "  [queryParams]="{}" (click)="ddtoggle=false">My Credits</a></li>
              <li><a  [routerLink]=" ['/user','profile'] " [queryParams]="{}" (click)="ddtoggle=false">My Profile</a></li>
              <li><a  [routerLink]=" ['/favourite'] " [queryParams]="{}" (click)="ddtoggle=false">My Favourites</a></li>
              <li><a  [routerLink]=" ['/user','refer'] " [queryParams]="{}" (click)="ddtoggle=false">Refer a friend</a></li>        
              <li><a (click)="logout()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</body>
</html>
