<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Occasion on Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	<!-- header -->
	<div class="header_wrapper">
      <nav class="wrapper" role="navigation">
        <!-- Logo -->
        <a nb-router-link [routerLink]=" ['./offers',division] " [queryParams]="{}" class="brand_logo">
          <img class="header-logo" height="40px" width="138px" src="https://d2xy0t4o47vcev.cloudfront.net/resources/local/images/nearbuy/nearbuy-logo-new1.png" alt="logo" >
        </a>

        <!-- Primary Navigation -->
        <ul class="list_inline primary_nav">
          <li class="category_menu" [class.active]="isLocal" [class.header-hover]="aroundYouHover" (mouseenter)="addHover('local')" (mouseleave)="removeHover('local')" >
            <a nb-router-link [routerLink]="  ['./offers',division] " [queryParams]="{}" class="main_menu"  >Around You</a>
            <div class="arrow_dropup"></div>
            <div class="sub_menu">
              <div class="row">
                <div class="col-m-3 col-xl-2" *ngFor="let menu of localMenus">
                  <!-- Food & Drinks -->
                  <div class="local-sub-category {{menu.id}}">
                    <p class="sub-category-head margin-bottom-xs">
                      <a (click)="onMenuCategoryClick()" nb-router-link [routerLink]=" ['./offers',division,menu.id] " [queryParams]="{}">{{menu.label}}
                        <span>({{menu.count}})</span></a>
                    </p>
                    <ul>
                      <li *ngFor="let subMenu of menu.subMenus">
                        <a (click)="onMenuCategoryClick()" nb-router-link [routerLink]=" ['./offers',division,menu.id,subMenu.id] " [queryParams]="{}">{{subMenu.label}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Images-->
                <div class="col-m-3 col-xl-2"  *ngFor="let banner of localBanners">
                  <div class="image_banner-local">
                    <a [href]="banner.redirectionUrl">
                      <img [src]="banner.imgUrl" [alt]="banner.title">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="category_menu" [class.active]="isTravel" [class.header-hover]="hotelHover" (mouseenter)="addHover('hotel')" (mouseleave)="removeHover('hotel')"  >
            <a class="main_menu" nb-router-link [routerLink]=" ['./travel'] " [queryParams]="{}">Hotels</a>
            <div class="arrow_dropup"></div>
            <div class="sub_menu">
              <div class="row">
                <div class="col-m-3 col-xl-3" *ngFor="let _arr of travelMenus">
                  <div class="travel-sub-category">
                    <ul>
                      <li class="js-ga-menu-item" *ngFor="let menu of _arr">
                        <a (click)="onMenuCategoryClick()" nb-router-link [routerLink]=" ['./travel',menu.id] " [queryParams]="{}">{{menu.label}}
                          <span>({{menu.count}})</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-m-3 col-xl-3" *ngFor="let banner of travelBanners">
                  <div class="image_banner">
                    <a [href]="banner.redirectionUrl">
                      <img [src]="banner.imgUrl" [alt]="banner.title">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- Secondary Navigation -->
        <ul class="list_inline secondary_links flt-right">
          <li class="nearbuy_working" (click)="openHowItWorksPopup()">
            <button>How it works</button>
          </li>
          <li>
            <a href="">List your business</a>
          </li>
          <li [ngClass]="[(hideLoginBtn)?'hide':'show']" >
            <a  class="btn-gray btn-left" href="/sign-up" (click)="openLoginPop($event,'signup')">Sign Up</a>
          </li>
          <li [ngClass]="[(hideLoginBtn)?'hide':'show']" >
            <a  class="btn-gray btn-right" href="/login" (click)="openLoginPop($event,'login')">Login</a>
          </li>
          <li class="myaccount_dropdown hide" [ngClass]="[(hideLoginBtn)?'show':'hide']" >
            <a  (click)="ddtoggle=!ddtoggle">My Account</a>
            <ul class="dropdown_menu" [ngClass]="[(ddtoggle)?'show':'hide']">
              <li><a nb-router-link [routerLink]="['./user','purchases']" [queryParams]="{}" (click)="ddtoggle=false">My Orders</a></li>
              <li><a nb-router-link [routerLink]=" ['./user','credit'] "  [queryParams]="{}" (click)="ddtoggle=false">My Credits</a></li>
              <li><a nb-router-link [routerLink]=" ['./user','profile'] " [queryParams]="{}" (click)="ddtoggle=false">My Profile</a></li>
              <li><a nb-router-link [routerLink]=" ['./user','news-letter'] " [queryParams]="{}" (click)="ddtoggle=false">My Newsletters</a></li>
              <li><a nb-router-link [routerLink]=" ['./favourite'] " [queryParams]="{}" (click)="ddtoggle=false">My Favourite</a></li>
              <li><a (click)="logout()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </nav>
  </div>

	<!-- local hero banner-->
  <div class="hero-banner hero-banner--local">
    <div class="wrapper">
      <div class="center-box txt-center margin-bottom-xxxl">
        <div class="center-box-top">
          <h2 class="txt-center txt-white">Experience the world around you</h2>
          <!--search box-->
              <div class="hero-banner__search hero-banner-homepage">
                <div class="wrapper">
                <div class="row row--no-gutter">
                  <div class="col-l-3 col-m-3 col-xs-12">
                    <div class="hero-banner__location margin-bottom-s">
                      <button class="hero-banner__location-list txt-left padding-top-s padding-bottom-s padding-left-xxxl"><p class="icon-s txt-tertiary line-height-xs">Search within</p><h6>Delhi/NCR</h6></button>
                    </div>
                  </div>
                  <div class="col-l-9 col-m-9 col-xs-12">
                    <form>
                      <div class="hero-banner__search-group">
                        <div class="hero-banner__search-input">
                          <input type="search" class="font-weight-light" name="searchKey" placeholder="Search restaurants, spa, events, things to do..."/>
                          <div class="loader"></div>
                          <div class="hero-banner__suggestion">
                          <ul class="hero-banner__suggestion-list margin-reset txt-left">
                            <li class="active menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> deal</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                            <li class="menu-tem padding-left-s padding-right-s padding-top-xs padding-bottom-xs txt-black margin-reset cursor-pointer">Fooddrinks <span class="txt-brand-primary"> category</span> </li>
                          </ul>
                          </div>
                        </div>
                        <div class="hero-banner__serach-button">
                          <button type="submit" class="search-button"></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!--hero banner caterories-->
        <div class="hero-banner__categories">
          <ul>
            <li><a href="javascript:void(0);"><img src="../images/health_fitness.jpeg" alt="Fooddrinks"/><p class="txt-white txt-center">Fooddrinks</p></a></li>
            <li><a href="javascript:void(0);"><img src="../images/health_fitness.jpeg" alt="Fooddrinks"/><p class="txt-white txt-center">Fooddrinks</p></a></li>
            <li><a href="javascript:void(0);"><img src="../images/health_fitness.jpeg" alt="Fooddrinks"/><p class="txt-white txt-center">Fooddrinks</p></a></li>
            <li><a href="javascript:void(0);"><img src="../images/health_fitness.jpeg" alt="Fooddrinks"/><p class="txt-white txt-center">Fooddrinks</p></a></li>
            <li><a href="javascript:void(0);"><img src="../images/health_fitness.jpeg" alt="Fooddrinks"/><p class="txt-white txt-center">Fooddrinks</p></a></li>
            <li><a href="javascript:void(0);"><img src="../images/health_fitness.jpeg" alt="Fooddrinks"/><p class="txt-white txt-center">Fooddrinks</p></a></li>
            <li><a href="javascript:void(0);"><img src="../images/health_fitness.jpeg" alt="Fooddrinks"/><p class="txt-white txt-center">Fooddrinks</p></a></li>
          </ul>
        </div>
      </div>
      </div>
  </div>

	<div class="secondary-nav">
	  <div class="wrapper">
	    <div class="secondary-nav__wrapper">
	      <div class="row">
	        <div class="col-m-3 col-l-2">
	        	<a href="">
	        		<div class="secondary-nav__item">
		            <div class="secondary-nav__icon">
		              <img src="../images/categories/fnd.svg" alt="" class="img-responsive" />
		            </div>
		            <p class="secondary-nav__heading line-height-xs">Food &amp; Drinks</p>
		            <p class="secondary-nav__subheading">(1874 Offers)</p>
		          </div>
	        	</a>
	        </div>

	        <!-- secondary 1 -->
	        <div class="col-m-3 col-l-2">
	        	<a href="">
	        		<div class="secondary-nav__item">
		            <div class="secondary-nav__icon">
		              <img src="../images/categories/spa.svg" alt="" class="img-responsive" />
		            </div>
		            <p class="secondary-nav__heading line-height-xs">Spa &amp; Massage</p>
		            <p class="secondary-nav__subheading">(765 Offers)</p>
		          </div>
	        	</a>
	        </div>

	        <!-- secondary 2 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/salon.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Beauty &amp; Salon</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>

	        <!-- secondary 3 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/auto.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Home &amp; Auto</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>

	        <!-- secondary 4 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/health.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Health &amp; Wellness</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>

	        <!-- secondary 5 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/fitness.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Health &amp; Fitness</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>

	        <!-- secondary 6 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/events.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Movies &amp; Events</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>

	        <!-- secondary 7 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/activities.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Activities</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>

	        <!-- secondary 8 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/shopping.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Shopping</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>

	        <!-- secondary 9 -->
	        <div class="col-m-3 col-l-2">
	          <div class="secondary-nav__item">
	            <div class="secondary-nav__icon">
	              <img src="../images/categories/hobbies.svg" alt="" class="img-responsive" />
	            </div>
	            <p class="secondary-nav__heading line-height-xs">Hobbies</p>
	            <p class="secondary-nav__subheading">(1874 Offers)</p>
	          </div>
	        </div>


	      </div>
	    </div>
	    <div class="secondary-nav__toggle">
	      <button class="secondary-nav__close">
	        <div class="secondary-nav__close-icon"></div>
	        <h2 class="h6 secondary-nav__heading txt-secondary font-weight-medium">View more</h2>
	      </button>
	    </div>
	  </div>
	</div>

	<!-- occasion -->
	<div class="occasion">
    <div class="wrapper">
      <!-- occasion banner -->
      <div class="occasion__banner">
        <div class="occasion__content">
          <img src="../images/dtr/logo2.svg" alt="" width="400">

            <ul class="occasion__event list-inline">
              <li>
                <div class="occasion__counter">97,462</div>
                <p class="occasion__text">People are going!</p>
              </li>
              <li>
                <div class="occasion__counter"><span>UP TO</span> 25%</div>
                <p class="occasion__text">Cashback</p>
              </li>
            </ul>
          <a href="javascript:void(0);" class="btn btn--primary txt-capitalize margin-top-xl">View 3,400 Parties</a>
        </div>
      </div>

      <!-- occasion collection -->
      <div class="occasion__collection">
        <div class="wrapper">
          <div class="card-slide-wrapper">
            <div class="card card--secondary">
              <div class="row">
                <div class="col-m-6 col-l-4">
                  <div class="card__inner">
                    <a href="#">
                      <!-- Card Image -->
                      <div class="card__image">
                        <img src="https://img1.nbstatic.in/la-webp-m/58466995c9e77c000d173386.jpg" alt="deal-image" class="img-responsive"/>
                      </div>

                      <!-- Card Description -->
                      <div class="card__description txt-center">
                        <p class="h6 card__title margin-bottom-s font-weight-bold">NYE Parties</p>
                        <ul class="list-inline margin-bottom-m">
                          <li>
                           <div class="texticon-group">
                              <div class="texticon-group__icon">
                                <img alt="" src="../images/deal.svg">
                              </div>
                              <div class="texticon-group__content">
                                <p class="">1241 Offers</p>
                              </div>
                            </div>
                          </li>
                          <li>
                           <div class="texticon-group">
                              <div class="texticon-group__icon">
                                <i class="fa fa-inr txt-secondary font-m" aria-hidden="true"></i>
                              </div>
                              <div class="texticon-group__content">
                                <p class="">2,000 - 25,000</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <button class="btn btn--secondary btn--small txt-capitalize">Explore</button>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-m-6 col-l-4">
                  <div class="card__inner">
                    <a href="#">
                      <!-- Card Image -->
                      <div class="card__image">
                        <img src="https://img1.nbstatic.in/la-webp-m/58466995c9e77c000d173386.jpg" alt="deal-image" class="img-responsive"/>
                      </div>

                      <!-- Card Description -->
                      <div class="card__description txt-center">
                        <p class="h6 card__title margin-bottom-s font-weight-bold">NYE Parties</p>
                        <ul class="list-inline margin-bottom-m">
                          <li>
                           <div class="texticon-group">
                              <div class="texticon-group__icon">
                                <img alt="" src="../images/deal.svg">
                              </div>
                              <div class="texticon-group__content">
                                <p class="">1241 Offers</p>
                              </div>
                            </div>
                          </li>
                          <li>
                           <div class="texticon-group">
                              <div class="texticon-group__icon">
                                <i class="fa fa-inr txt-secondary font-m" aria-hidden="true"></i>
                              </div>
                              <div class="texticon-group__content">
                                <p class="">2,000 - 25,000</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <button class="btn btn--secondary btn--small txt-capitalize">Explore</button>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-m-6 col-l-4">
                  <div class="card__inner">
                    <a href="#">
                      <!-- Card Image -->
                      <div class="card__image">
                        <img src="https://img1.nbstatic.in/la-webp-m/58466995c9e77c000d173386.jpg" alt="deal-image" class="img-responsive"/>
                      </div>

                      <!-- Card Description -->
                      <div class="card__description txt-center">
                        <p class="h6 card__title margin-bottom-s font-weight-bold">NYE Parties</p>
                        <ul class="list-inline margin-bottom-m">
                          <li>
                           <div class="texticon-group">
                              <div class="texticon-group__icon">
                                <img alt="" src="../images/deal.svg">
                              </div>
                              <div class="texticon-group__content">
                                <p class="">1241 Offers</p>
                              </div>
                            </div>
                          </li>
                          <li>
                           <div class="texticon-group">
                              <div class="texticon-group__icon">
                                <i class="fa fa-inr txt-secondary font-m" aria-hidden="true"></i>
                              </div>
                              <div class="texticon-group__content">
                                <p class="">2,000 - 25,000</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <button class="btn btn--secondary btn--small txt-capitalize">Explore</button>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="nav-pane">
            <button class="prev">
              <img src="../images/deal-detail/arrow.svg" alt="">
            </button>
            <button class="next">
              <img src="../images/deal-detail/arrow.svg" alt="">
            </button>
          </div>
        </div>
      </div>

    </div>
	</div>

	<!-- scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$('.secondary-nav__close').on('click', function() {
		  $('.secondary-nav').toggleClass('secondary-nav--open');
		});
	</script>
</body>
</html>
