<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Offer Banner</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
  <body>
  <div class="wrapper">
    <div class="card card--tertiary position-relative">
      <div class="card__inner">
        <!-- Offer Banner -->
        <div class="offer-banner offer-banner--secondary">
          <div class="offer-banner__desc txt-center">
            <h1 class="offer-banner__heading margin-reset">save <span>more</span></h1>
            <button class="btn btn--primary btn--small txt-trasnform-none margin-top-m">View more offers</button>
          </div>

          <div class="offer-banner__content">
            <div class="block">
              <div class="block__inner">
                <div class="offer-card txt-center">
                  <div class="offer-card__content txt-left">
                    <div class="offer-card__desc">
                      <p class="h4 font-weight-bold txt-primary">&#8377; 1500 Cashback</p>
                      <p class="offer-card__off font-weight-medium  txt-brand-tertiary">Get <span>extra 10%</span> on the app</p>
                      <p class="font-sm text-primary line-height-xs margin-bottom-xs">Min Purchase ₹ 2000*</p>
                      <div class="coupon">
                        <div class="coupon__code txt-uppercase">CB7354CB7354RED</div>
                        <div class="tooltip-wrapper">
                          <button class="coupon__btn">Copy</button>
                          <div class="tooltip tooltip--left"> Code copied
                            <span class="arrow"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block__footer block__footer--sm">
                <div class="row">
                  <div class="col-m-7">
                    <p class="line-height-xs txt-left"><b>Valid till Jan 1, 2017</b></p>
                  </div>
                  <div class="col-m-5">
                    <div class="txt-right">
                      <p class="line-height-xs txt-brand-primary"><b>Know more</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="offer-banner__content">
            <div class="block">
              <div class="block__inner">
                <div class="offer-card txt-center">
                  <div class="offer-card__content txt-left">
                    <div class="offer-card__desc">
                      <p class="h4 font-weight-bold txt-primary">&#8377; 1500 Cashback</p>
                      <p class="offer-card__off font-weight-medium  txt-brand-tertiary">Get <span>extra 10%</span> on the app</p>
                      <p class="font-sm text-primary line-height-xs margin-bottom-xs">Min Purchase ₹ 2000*</p>
                      <div class="coupon">
                        <div class="coupon__code txt-uppercase">CB7354CB7354RED</div>
                        <div class="tooltip-wrapper">
                          <button class="coupon__btn">Copy</button>
                          <div class="tooltip tooltip--left"> Code copied
                            <span class="arrow"></span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block__footer block__footer--sm">
                <div class="row">
                  <div class="col-m-7">
                    <p class="font-sm line-height-xs txt-left"><b>Valid till Jan 1, 2017</b></p>
                  </div>
                  <div class="col-m-5">
                    <div class="txt-right">
                      <p class="font-sm line-height-xs txt-brand-primary"><b>Know more</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- offer banner popup -->
  <div class="modal_wrapper promo-offer-modal overlay" style="display:none;">
  <div class="modal modal--md">
    <div class="modal__header">
      <button type="button" class="close" (click)="closePopup()">
        <span>×</span>
      </button>
      <h6 class="font-weight-semibold">Available Offers</h6>
    </div>
    <div class="modal__body clearfix">
      <div class="offer-banner__slider-element">
        <div class="offer-card">
          <div class="offer-card__content offer-card__left txt-left">
            <!--value-->
            <div class="offer-card__value">
              <!-- <div class="offer-tag margin-bottom-xs"></div> -->
              <h5 class="offer-card__heading txt-brand-primary font-weight-bold">300
                <span class="txt-brand-primary">%</span>
                <p class="txt-right txt-uppercase margin-reset txt-brand-primary font-weight-semibold">CASHBACK</p>
              </h5>

              <h5 class="offer-card__heading txt-brand-primary font-weight-bold h1">
                <span class="txt-brand-primary font-weight-medium">&#8377;</span>
                <p class="txt-right txt-uppercase margin-reset txt-brand-primary font-weight-semibold" [innerHtml]="(offer.isCashback?'CASHBACK':'OFF')"></p>
              </h5>


              <!--coupon-->
              <div class="offer-card__desc margin-top-s">

                <div class="coupon" *ngIf="offer.code">
                  <div class="coupon__code txt-uppercase" [innerHtml]="offer.code"></div>
                  <div class="tooltip-wrapper" *ngIf="!isSafari">
                    <button class="coupon__btn" (click)="copyCode(offer,j+1);">
                      Copy
                      <!--<svg fill="#999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                      </svg>-->

                    </button>

                    <div class="tooltip tooltip--left" [ngClass]="{'tooltip--active': offer.isCodeCopied}">
                      Code copied
                      <span class="arrow"></span>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div class="offer-card__content  offer-card__right right"  *ngIf="offer.knowMoreTitle || offer.knowMoreDetails">
            <h6 class="font-sm font-weight-semibold" *ngIf="offer.knowMoreTitle" [innerHtml]="offer.knowMoreTitle"></h6>
            <!--<p class="font-xs">Promo codes are subject to maximum cash back amounts.</p>-->
            <ul class="margin-top-m" *ngIf="offer.knowMoreDetails">
              <li class="font-xs" *ngFor="let detail of offer.knowMoreDetails" [innerHtml]="detail"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
