.social-media-links {
  list-style: none;
  li a {

    background: url('//res4.nbstatic.in/static/images/social-media-sprite-new.png') no-repeat;
    display: inline-block;
    text-indent: -999px;
    height: 48px;
    width: 40px;
  }
  .fb a{
    background-position: -21px -15px;
    &:hover {
      background-position: -21px -65px;
    }
  }
  .twitter a{
    background-position: -66px -15px;
    &:hover {
      background-position: -66px -65px;
    }
  }
  .linkedIn a{
    background-position: -111px -15px;
    &:hover {
      background-position: -111px -65px;
    }
  }
  .gmail a{
    background-position: -156px -15px;
    &:hover {
      background-position: -156px -65px;
    }
  }
  .website a{
    background-position: -201px -15px;
    &:hover {
      background-position: -201px -65px;
    }
  }
  .pinterest a{
    background-position: -246px -15px;
    &:hover {
      background-position: -246px -65px;
    }
  }
  .instagram a{
    background-position: -291px -15px;
    &:hover {
      background-position: -291px -65px;
    }
  }
  .youtube a{
    background-position: -336px -15px;
    &:hover {
      background-position: -336px -65px;
    }
  }
}


