
.hero-banner--local-search input[type=search]{
  border-radius: 4px 0 0 4px;
  border: 1px solid $color-divider-secondary;
  height: 60px;
  transition: none;
  padding-left: 42px;
  &:focus{
    border-color:$color-divider-secondary;
  }
}

.hero-banner--travel input[type=search]{
  border-radius:4px 0 0 4px;
  border: 1px solid $color-divider-secondary;
  height: 60px;
  transition: none;
  padding-left: 42px;
  &:focus{
    border-color:$color-divider-secondary;
  }
}



// Autosuggest list
.hero-banner-suggestion {
  position: relative;
}

.searchbox__suggestion {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $color-white;
    margin: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    z-index: 9;
    border: 1px solid $color-divider-secondary;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    opacity: 0;
    visibility: hidden;
    max-height: 269px;
    overflow-y: auto;
    transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
      
    li {
      border-bottom: 1px solid #e0e0e0;
      margin-top:0;
      
      &:last-child {
        border-bottom: 0;
      }
      
      a {
        padding: 12px 12px;
        display: block;
        
        &:hover, &:focus {
          background-color: #f7f7f7;
        }
      }

      &.active {
        background-color: #f7f7f7;
      }
    }
      
    &-heading {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 13px;
    }
    
    &-desc {
      margin-top :0;
      margin-bottom:0;
      font-size: 12px;
      color: $color-text-tertiary;
    }
  }
  
.searchbox--suggest {
  .searchbox__suggestion {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    opacity: 1;
    visibility: visible;
  }
}

// .searchbox__input {
//   &:before {
//     content: '';
//     position: absolute;
//     background: url(/src/static/images/city-location.svg) no-repeat;
//     background-size: 130%;
//     background-position: center center;
//     height: 20px;
//     width: 25px;
//     top: 50%;
//     left: 12px;
//     transform: translateY(-50%);
//     -webkit-transform: translateY(-50%);
//     -moz-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     -o-transform: translateY(-50%);
//   }
// }