.auto-suggest-modal {
  &.modal_wrapper {
    transition: opacity 0.3s ease-in-out;
  }

  &.modal-hidden {
    opacity: 0;
    transform: translate3d(0,100%,0);
  }

  &.modal-shown {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  .modal__body {
    padding: 0;
  }

  &.slide-up {
    .search {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

  .search {
    background-color: $color-white;
    padding: 36px 0 0;
    transform: translate3d(0,50px,0);
    opacity: 0;
    position: relative;
    z-index: 9;
    -o-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    min-height: calc(100vh - 36px - 38px);
  }

  .searchbox__input {
    background-color: $color-white;

    .icon-search {
      position: absolute;
      left: 16px;
      top: 21px;
      font-size: 17px;
      color: $color-text-tertiary;
    }

    // input {
    //   width: 65%;
    //   border: 0;
    // }
  }

  .btn-location {
    font-size: 14px;
    color: $color-text-tertiary;
    padding: 6px 0;
    vertical-align: top;

    .icon-location {
      font-size: 13px;
      color: #999;
    }
  }

  .btn-close {  

    .icon-close {
      font-size: 14px;
      color: #999;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    p {
      margin-top: 0;
      line-height: 18px;
      color: $color-text-tertiary;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &:hover {
      .icon-close, p {
        color: $color-text-primary;
      }
    }
  }

  .btn-group {
    .btn {
      font-size: 15px;
      text-transform: capitalize;
      &:hover,  &:focus {
        box-shadow: none;
      }
    }

    .btn--primary {
      &:hover, &:focus {
        box-shadow: none;
      }
    }

    .btn--secondary {
      border: 1px solid $color-divider-secondary;
      color: $color-text-secondary;
      &:hover,  &:focus {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }

  .search-tags {
    padding: 11px 18px;
    text-align: center;
    font-size: 13px;
    color: $color-text-secondary;
    border: 1px solid $color-divider-secondary;
    border-radius: 30px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }
  }

  .current-location {
    color: $color-text-primary;
    font-size: 14px;
    position: relative;
    padding: 0 24px 0 6px;
    &:after {
      content: '';
      position: absolute;
      border-left: 5px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #333;
      right: 8px;
      top: 50%;
      pointer-events: none;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .search__footer {
    img {
      padding-right: 18px;
      border-right: 1px solid $color-divider-secondary;
      margin-right: 9px;
      width: 148px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      color: $color-text-secondary;
    }
  }
}