// Calendar

.calender-container{
  background: $color-white;
  position: absolute;
  z-index: 1;
  max-width: 100%;
  right: 0;
  margin-top: 12px;
  box-shadow: 10px 0 30px rgba(0,0,0,0.12);
  padding: 12px;
  -ms-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  
  .calender-heading {
    padding: 12px 0;
    
    .close {
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }
}



// Calendar
.calendar {
  //padding:12px;
  table {
    thead {
      th {
        //padding-bottom: 12px;
        text-align: center;
        border-bottom: none;
        padding: 18px 12px 18px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    td {
      border-left: 1px solid $color-divider-secondary;
      padding: 0;

      &:first-child {
        border-left: 0;
      }
    }

    .btn {
      width: 100%;
      padding: 12px 0 0 0;
      &--dis{
        .cal-arrow {
          background-color: transparent !important;
          cursor: not-allowed;
          background: url("//res4.nbstatic.in/static/images/arrow.svg");
          background-size: 16px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  &__header{
    tr{
      &:last-child td {
        border-left: 0;
      }
      th{
        padding: 12px 0;
        &:first-child{
          width: 61px;
        }
      }
    }
    .cal-arrow{
      background: url("//res4.nbstatic.in/static/images/arrow_hover.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
      width: 20px;
      height: 20px;
      display: block;
      padding: 18px;
      border: 1px solid $color-divider-secondary;
      background-color: $color-divider-secondary;
      &--left{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
      &--right{
        float: right;
      }
    }
  }

  &__body{
    &-head{
      th{
        border-top: none;
        border-bottom: 1px solid $color-white;
        font-size: 12px;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
      }
    }
  }
  &__content{
    border: 1px solid $color-divider-secondary;
    >tr{
      border-bottom: 1px solid $color-divider-secondary;
      height: 52px;
      &:first-child{
        border-top: 1px solid $color-divider-secondary;
      }
      >td{
        padding: 8px 7px;
        // height: 52px;
        min-width: 54px;
      }
    }
    .state-weekend{
      background: #f4faff;
    }
  }

  &__inner-data{
    background: transparent;
    height: 35px;
    tr{
      td{
        text-align: right;
        padding-bottom: 6px;
        font-size: 13px;
      }
      &:nth-child(2){
        td{
          padding-bottom: 0;
          font-size: 10px;
          color: $color-text-primary;
        }
      }
    }
  }

  .state-disabled{
    tr:first-child{
      td{
        color: $color-divider-secondary;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          border-left: 2px solid $color-divider-secondary;
          top: 4px;
          right: -10px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);

        }
      }
    }
  }
}

