// Bank Offer Banner
.payment-offers {
  text-align: center;

  &__heading {
    p{
      font-weight: $font-weight-semibold;
      color: $color-text-primary;
      margin-bottom: 6px;
      &:nth-child(2){
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        line-height: 30px;
        margin-bottom: 22px;
      }
    }
  }

  &__subtitle {
    height: 28px;
  }

  &__list {
    background-color: $color-white;
    border: 1px solid $color-divider-secondary;
    border-radius: 2px;
    padding: 14px 18px;
    margin-left: 24px;
    margin-bottom: 18px;
    font-size: 16px;
    cursor: pointer;

    img{
      border-radius: 2px;
      display: block;
    }
  }

  ul{
    font-size: 0;
  }

  .texticon-group{
    width: 100%;

    &__content{
      vertical-align: middle;
      text-align: left;

      p{
        font-size: 12px;
        line-height: 14px;
        width: 200px;
        overflow: hidden;
        // max-height: 28px;
        word-wrap: break-word;
        // height: 28px;

        &:first-child{
          line-height: 18px;
          font-weight: 600;
          color: $color-text-primary;
          height: auto;
        }
      }
    }

    &__info{
      display: table-cell;
      vertical-align: middle;
      padding-left: 24px;
      position: relative;

      .addon {
        background: url("/src/static/images/information.svg") no-repeat;
        width: 15px;
        height: 15px;
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  .btn--tertiary {
    border: 1px solid $color-text-tertiary;
    color: $color-text-secondary;
    box-shadow: none;
    transition: all 0.15s ease;

    &:hover {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }

    &.active {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }
  }
}


// Bank Offer Banner Modal
.bank-offer-modal {
  .offer-banner__slider-element {
    display: block;
    width: 100%;
    padding: 18px 24px;
    border: 1px solid $color-divider-secondary;
    box-shadow: 0 2px 0 0 $color-divider-secondary;
    border-radius: 2px;
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .offer-card {
    padding: 0;
    box-shadow: none;
    display: table;
    width: 100%;

    &__content{
      display: table-cell;
      vertical-align: top;
      &.right {
        border-right: 0;
        vertical-align: top;
        padding-left: 24px;
        border-left: 1px solid $color-divider-secondary;
      }
    }

    &__left{
      width: 35%;
      padding-right: 18px;
    }
    &__right{
      width: calc(100% - 25% - 23px);
    }

    &__heading {
      margin-bottom: 12px;
    }

    &__desc {
      border-left: 0;
      padding-left: 0;
    }
  }
}