
.deal-detail-travel-popup {
  .back-btn:hover{
    color: $color-white;
  }

  .arrow-left {
    background: url("//res4.nbstatic.in/static/images/arrow-left.png") no-repeat;
    width: 7px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
  }

  .option {
    .room-image {
      width: 96px;
      height: 78px;
      border-radius: 4px;
    }
    .actual-price {
      font-size: 12px;
      color: $color-text-tertiary;
      // font-weight: 100;
      line-height: 1;
    }
    .discounted-price {
      font-size: 16px;
    }
    .apply-promocode {
      text-decoration: underline;
      color: #22517f;
      font-size: 13px;
    }
    .inclusive-shape{
      background: $color-brand-secondary;
      color: $color-white;
      padding: 4px 30px 4px 18px;
      display: inline-block;
      font-size: 12px;
      position: relative;
      margin-bottom: 24px;
      &:after{
        position: absolute;
        content: '';
        display: block;
        border-right: 16px solid $color-white;
        border-left: 16px solid transparent;
        width: 16px;
        height: 16px;
        border-bottom: 16px solid transparent;
        border-top: 16px solid transparent;
        right: 0px;
        top: 0;
      }
    }
    // payment offers
    .payment-offers__cards {
      img {
        //border: 2px solid #e0e0e0;
        margin-right: 6px;
        height: 30px;
      }
    }
  }

  .add-on{
    &__heading{
      margin-bottom: 18px;
    }
    &__content{
      padding: 12px;
      &:hover, &.active{
        background: #f6f6f6;
        p{
          color: $color-text-primary;
        }
        .quantity__inc{
          background: $color-white;
          //position: relative;
        }
      }

      .quantity {
        display: inline-block;
        &__dec, &__inc {
          height: 22px;
          width: 22px;
          font-size: 16px;
          line-height: 1;
          float: left;
          border: 2px solid #999;
          border-radius: 50%;
          background: transparent;
          border-width: 2px;
          color: $color-text-tertiary;
          padding: 0;
          &:hover, &.active{
            border-color: $color-brand-primary;
            color:  $color-brand-primary;
          }
          &.btn--disabled{
            opacity: 0.20;
          }
        }
        &__inc {
          position: relative;
        }

        &__count {
          font-size: 16px;
          float: left;
          line-height: 22px;
          color: $color-text-secondary;
          height: 22px;
          margin: 0 6px;
        }
        .max-limit:hover .tooltip{
          //opacity: 1;
          display: inline-block;
          margin-bottom: 12px;
          -webkit-transition: all 0.2s ease;
          -moz-transition:    all 0.2s ease;
          -ms-transition:     all 0.2s ease;
          -o-transition:      all 0.2s ease;
        }
      }
    }
  }

  .addon-icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
    margin-left: 6px;
    background: url('//res4.nbstatic.in/static/images/information.svg');
  }
  
  .addon-icon + .tooltip-popover--left{
    left: -14px;
  }
  
  .edit-link{
    color: $color-brand-primary;
    font-size: 13px;
    padding-left: 12px;
    border-left: 1px solid #c2c2c2;
    margin-left: 12px;
  }

  textarea {
    background: $color-text-quaternary;
  }

  .close-wrapper {
    margin-bottom: 66px;
    position: relative;
    display: block;
  }

  .close {
    background: #595959;
    padding: 14px;
    height: 48px;
    width: 48px;
  }

  .close-modal {
    position: absolute;
    right: 0;
    top: 0;
    &:hover .icon-close{
      color: #fff;
    }
  }

  .icon-close {
    // background: url('//res4.nbstatic.in/static/images/deal-detail/close-white.svg') no-repeat;
    // height: 20px;
    // width: 20px;
    // display: block;
    // margin-right: 0;
    // opacity: 0.45;
    font-size: 16px;
    color: #333;
    -webkit-transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease; 
    -ms-transition: all 0.25s ease; 
    -o-transition: all 0.25s ease; 
    transition: all 0.25s ease; 
  }
}


.ribbon-shape{
  background: $color-brand-secondary;
  color: $color-white;
  padding: 4px 30px 4px 18px;
  display: inline-block;
  font-size: 12px;
  position: relative;
  margin-bottom: 24px;
  &:after{
    position: absolute;
    content: '';
    display: block;
    border-right: 16px solid $color-white;
    border-left: 16px solid transparent;
    width: 16px;
    height: 16px;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    right: 0px;
    top: 0;
  }
}
