//Breadcrumbs Styling

.breadcrumbs {
  background: 0;
  border: 0;
  padding: 0;
  // margin: 24px 0 26px;
  margin: 14px 0 15px;
  position: relative;
  z-index: 9;

  &__list {
    a {
      color: #75787b;
      font-size: 12px;
      text-transform: uppercase;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
      max-width:85px;

      &:hover {
        max-width: 100%;
      }
    }

    & > .arrowright {
      border: 5px solid #babbbd;
      display: inline-block;
      border-right: 5px solid transparent;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      margin-left: 12px;
    }

    &:last-child {
        a{
          max-width: 100%;
        }
        .arrowright {
          border: none;
      }
    }
  }

  &__txt{
    font-size: 12px;
    color: #75787b;

    &:hover {
       color: #ef534e;
    }
  }
}