.card-slide-wrapper {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 18px;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  .card > .row > [class*="col-"] {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

.nav-pane  {
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 80px;
    width: 40px;
    background-color: $color-white;
    // text-indent: -999px;
    padding: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.10);
  }

  img {
    display: block;
  }

  .prev {
    img {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}