.card {
  &__inner {
    background-color: $color-white;
    box-shadow: rgba(0,0,0,0.04706) 0 2px 3px 0;
    margin-bottom: 24px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 2px;
    overflow: hidden;
    &:hover{
      box-shadow: 0 1px 25px rgba(153, 153, 153, 0.5);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    a{
      display: block;
    }
  }

  &__description {
    padding: 12px;
  }

  &__image {
    position: relative;
    width: 100%;
    background-color: #b5b6b8;
    padding-top: 60%;
    overflow: hidden;
    > img{
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      border-top-right-radius: 3px;
    }
  }

  /*-----===== CARD SECONDARY =====-----*/
  &--secondary {
    .card__inner {
      // border: 1px solid #e0e0e0;
      &:hover {
        box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
      }
    }

    .card__image {
      position: relative;
      border-radius: 2px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0,0,0,0);
        // background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 63%,rgba(0,0,0,0.42) 75%,rgba(0,0,0,0.7) 100%);
        // background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(63%,rgba(0,0,0,0)),color-stop(75%,rgba(0,0,0,0.42)),color-stop(100%,rgba(0,0,0,0.7)));
        // background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 63%,rgba(0,0,0,0.42) 75%,rgba(0,0,0,0.7) 100%);
        // background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 63%,rgba(0,0,0,0.42) 75%,rgba(0,0,0,0.7) 100%);
        // background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 63%,rgba(0,0,0,0.42) 75%,rgba(0,0,0,0.7) 100%);
        // background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 63%,rgba(0,0,0,0.42) 75%,rgba(0,0,0,0.7) 100%);
        background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.72) 70%,rgba(0,0,0,0.9) 100%);
        background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(40%,rgba(0,0,0,0)),color-stop(53%,rgba(0,0,0,0)),color-stop(70%,rgba(0,0,0,0.72)),color-stop(100%,rgba(0,0,0,0.9)));
        background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.72) 70%,rgba(0,0,0,0.9) 100%);
        background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.72) 70%,rgba(0,0,0,0.9) 100%);
        background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.72) 70%,rgba(0,0,0,0.9) 100%);
        background: linear-gradientlinear-gradient(to bottom, transparent 0, transparent 40%, transparent 53%, rgba(0, 0, 0, 0.72) 70%, rgba(0, 0, 0, 0.9) 100%);
      }
    }

    .card__image img {
      border-radius: 2px 2px 0 0;
    }

    .card__description {
      padding: 0 18px 18px 18px;
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 2;
      .list-inline li {
        margin-right: 6px;
        vertical-align: middle;
      }
    }

    > .texticon-group__icon {
      padding-right: 6px;
      img{
        height: 20px;
        width: 20px;
      }
    }

    .card__title {
      +.list-inline li {
        padding-right: 12px;
        border-right: 1px solid #e0e0e0;
        margin-right: 12px;
        &:last-child {
          border: none;
          padding-right: 0;
          margin-right: 0;
        }
      }
    }

    .btn--primary {
      margin-top: 10px;
    }
  }

  /*-----===== CARD HORIZONTAL =====-----*/
  &--horizontal {
    &__footer {
      padding: 12px;
      height: 58px;
      max-height: 58px;
    }

    .card__inner {
      &:hover {
        transform: none;
        box-shadow: none;
      }

      .card__image img {
        height: 100%;
        max-height: 272px;
        @media (min-width: to-em($breakpoint-desktop)) {
          max-height: 187px;
        }
      }

      .card__option {
        white-space: pre-wrap;
        height: auto;
        max-height: none;
      }

      .card__favourite {
        border-top-right-radius: 0;
      }

      .card__description {
        padding: 21px 26px 12px 12px;
      }
    }
  }
}