
.card-cvv-input{
  border:1px solid #efefef;
  background: url("//res4.nbstatic.in/static/images/cvv.png") no-repeat calc(100% - 12px);
}
.credit-card-input {
  background: url("//res4.nbstatic.in/static/images/credit-cards.svg") no-repeat center;
  transition: none;
  background-size: 55%;
  background-position: 161%;
}
.debit-card-input {
  background: url("//res4.nbstatic.in/static/images/debit-cards.svg") no-repeat center;
  transition: none;
  background-size: 62%;
  background-position: 191%;
}

// card images for the input
.mastercard {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -211px #fff;
  background-size: 42px 378px;
}
.visa {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -1px #fff;
  background-size: 42px 378px;
}
.maestro {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -43px #fff;
  background-size: 42px 378px;
}
.amex {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -127px #fff;
  background-size: 42px 378px;
}
.rupay {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -84px #fff;
  background-size: 42px 378px;
}
.jcb {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -253px #fff;
  background-size: 42px 378px;
}
.laser {
 transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -295px #fff;
  background-size: 42px 378px;
}
.discover {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -337px #fff;
  background-size: 42px 378px;
}
.diner {
  transition: none;
  background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -169px #fff;
  background-size: 42px 378px;
}
