.card-main {
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1),0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: block;
  border-radius: 4px;
  height: 100%;

  &__content {
    padding: 12px;
  }

  &__content--lg {
    padding: 18px;
  }

  &--no-border {
    border-radius: 0;
  }

  &--top-border {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__heading {
    font-size: 15px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    font-family: $font-default-bold;
    line-height: 1.5;
  }

  &__img {
    border-radius: 2px;
  }

  &__field,  &__value {
    font-size: 12px;
    line-height: 1;
    font-family: $font-default-regular;
  }

  &__field {
    color: #333;
  }

  &__value {
    color: #666;
  }

  &__desc, &__details {
    line-height: 1.5;
    font-size: 14px;
  }

  &__desc {
    color: $color-text-primary;
  }

  &__details {
    color: $color-text-secondary;
  }

  &__action {
    padding: 11px 12px;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
  }

  .card__favourite {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    .nb-checkbox {
      margin-right: -12px;
      padding: 11px 12px;
    }
  }
}

.card-main--equal-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.m_rating {
  &__img {
    display: inline-block;
  }
  &__value {
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    color: $color-text-primary;
    font-family: $font-default-bold;
  }
}