.secondary-nav {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: 94px;
  background-color: $color-white;
  // margin-bottom: 42px;
  margin-bottom: 36px;
  
  .wrapper {
    display: table;
    width: 100%;
  }

  &__wrapper {
    display: table-cell;
    // width: 100%;
    width: calc(100% - 100px);
    vertical-align: top;

    li {
      height: 126px;
      overflow: hidden;
      transition: all 0.3s ease;
      display: inline-block;
      margin:0;
      width: 15.9%;

      > a {
        display: block;
      }

      @media (min-width: to-em($breakpoint-desktop)) {
        width: 11%;
      }
    }
  }

  &__wrapper-list {
    // max-height: 134px;
    max-height: 124px;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
  }

  &__toggle {
    display: table-cell;
    // width: 110px;
    vertical-align: top;
    padding: 26px 0;
    width: 100px;
  }

  &__item {
    text-align: center;
    padding: 30px 8px;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 126px;

    // p {
    //   font-family: $font-OpenSans-Semibold;
    // }

    &:hover {
      background-color: #f7f7f7;
      transform: translateY(-2px);
      
      .secondary-nav__heading {
        color: $color-brand-primary;
        cursor: pointer;
      }
    }
  }

  &__heading {
    color: $color-text-primary;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: $font-weight-semibold;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &__icon {
    display: inline-block;
    width: 30px;
    margin-bottom: 6px;
    background: url("//res4.nbstatic.in/static/images/categories/category-sprite.svg") no-repeat;
    background-size: 30px 900px;
    height: 30px;
    background-position: 0 0;

    img {
      display: block;
      width: 30px;
      height: 30px;

    }
  }

  &__subheading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: $color-text-tertiary;
    line-height: 18px;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &--open {
    .secondary-nav__wrapper .secondary-nav__wrapper-list {
      max-height: 252px;
    }
  }

  &__close {
    display: block;
    text-align: center;
    padding: 0 0 0 30px;
    /*padding: 46px 0 0 40px;*/
  }
  
  &__close-icon {
    width: 30px;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    &:after {
      content: '';
      width: 8px;
      height: 2px;
      background-color: #666;
      display: block;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      position: absolute;
      left: 8px;
      top: 15px;
      transition: all 0.3s ease;
    }
    &:before {
      content: '';
      width: 8px;
      height: 2px;
      background-color: #666;
      display: block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      left: 13px;
      top: 15px;
      position: absolute;
      transition: all 0.3s ease;
    }
  }

  // categories position using their ids
  .food-and-drink {
    .secondary-nav__icon {
      background-position: 0 -74px;
      background-position-x: 0;
      background-position-y: -74px;
    }
  }

  .spa-and-massage {
    .secondary-nav__icon {
      background-position: 0 -104px;
    }
  }

  .beauty-and-salon {
    .secondary-nav__icon {
      background-position: 0 -134px;
    }
  }

  .fitness {
    .secondary-nav__icon {
      background-position: 0 -164px;
    }
  }

  .movies-and-events {
    .secondary-nav__icon {
      background-position: 0 -194px;
    }
  }

  .activities {
    .secondary-nav__icon {
      background-position: 0 -224px;
    }
  }

  .hobbies-and-learning {
    .secondary-nav__icon {
      background-position: 0 -254px;
    }
  }

  .home-and-auto {
    .secondary-nav__icon {
      background-position: 0 -284px;
    }
  }

  .health {
    .secondary-nav__icon {
      background-position: 0 -314px;
    }
  }

  .in-store {
    .secondary-nav__icon {
      background-position: 0 -344px;
    }
  }

  .gourmetexperiences {
     .secondary-nav__icon {
      background-position: 0 -374px;
    }
  }

  .hotels {
    .secondary-nav__icon {
      background-position: 0 -404px;
    }
  }

  .cash-deals {
     .secondary-nav__icon {
      background-position: 0 -434px;
    }
  }

  .amazingbrandsamazingcontests {
    .secondary-nav__icon {
      background-position: 0 -464px;
    }
  }

  .getaways {
    .secondary-nav__icon {
      background-position: 0 -494px;
    }
  }

  .five-star-staycations {
    .secondary-nav__icon {
      background-position: 0 -524px;
    }
  }

  .Goa {
    .secondary-nav__icon {
      background-position: 0 -554px;
    }
  }

  .Rajasthan {
    .secondary-nav__icon {
      background-position: 0 -584px;
    }
  }

  .Kerala {
    .secondary-nav__icon {
      background-position: 0 -614px;
    }
  }

  .hills {
    .secondary-nav__icon {
      background-position: 0 -644px;
    }
  }

  .xmas-special-getaways {
    .secondary-nav__icon {
      background-position: 0 -674px;
    }
  }

  .wildlife {
    .secondary-nav__icon {
      background-position: 0 -704px;
    }
  }

  .new-year-special-getaways {
    .secondary-nav__icon {
      background-position: 0 -734px;
    }
  }

  .Long_Weekend_Special {
    .secondary-nav__icon {
      background-position: 0 -764px;
    }
  }

  .city-hotels {
    .secondary-nav__icon {
      background-position: 0 -794px;
    }
  }
}

.secondary-nav {
  &--open {
    .secondary-nav__close-icon {
      &:after {
        content: '';
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }
      &:before {
        content: '';
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
    }
  }
}