
.filter-wrapper{
  background-color: $color-white;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.047) 0 2px 3px 0;

  .filter-categories{
    .sub-menu-options{
      &-header{
        display: block;
        margin-bottom: 6px;
        span{
          color: $color-text-primary;
          &:hover{
            color: $color-brand-primary;
          }
        }
      }
    }
  }
}

.sub-menu {
  li.active {
    span {
      color: $color-brand-primary;
    }
  }
}

.filter-categories{
  margin-bottom: 24px;

  .count{
    margin: 0 12px;
    font-size: 11px;
    color: $color-text-secondary;
  }
}

.menu-header, .sub-menu-header{
  display: block;
  margin-bottom: 6px;
  position: relative;
  span:first-child{
    color: $color-text-primary;
    font-size: 12px;
    font-weight: 600;
  }
  &:after{
    content: '';
    position: absolute;
    right: 2px;
    top:6px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid $color-brand-primary;
  }
  &-arrow-hide{
    &:after{
      content: none;
    }
  }

  &:hover{
    span{
      color: $color-brand-primary;
    }
  }
}

.sub-menu-header {
  margin-bottom: 0;
}

.menu > li{
  margin-bottom: 18px !important;
}

.sub-menu{
  display: none;
}

.sub-menu-options{
  display: none;
}

.open{
  .menu-header{
    font-weight: 600;
  }
  .sub-menu{
    .menu-header{
      font-weight: 500;
    }
  }

  .menu-header:after{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);;
  }

  .sub-menu{
    display: block;
    margin-left: 12px;
    color: $color-text-primary;
    //font-size: 14px;

    .open{
      .sub-menu-options{
        display: block;
        color: $color-text-primary;
        li{
          line-height: 1.7;
        }
        &--header{
          font-weight: 300;
          span{
            display: block;
            font-size: 12px;
            color: $color-text-secondary;
            &:hover{
              color: $color-brand-primary;
            }
          }
        }
      }

      li{
        margin-bottom: 0;
      }

      .sub-menu-header:after{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
      }
    }
  }
}