.city-selector {
  .modal_wrapper {
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
  }

  .modal__body {
    padding: 0 !important;
  }

  .modal-show {
    .search {
      transform: translate3d(0,0,0);
    }
  }
}

.city-selector {

  .search {
    background-color: $color-white;
    padding: 24px;
    height: auto;
    -ms-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    transform: translate3d(0,-377px,0);

    &__footer {
      text-align: center;
      
      img {
        padding-right: 18px;
        border-right: 1px solid $color-divider-secondary;
        margin-right: 9px;
        width: 170px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }

      p {
        display: inline-block;
        color: $color-text-secondary;
      }
    }
  }

  .searchbox {
    position: relative;
    max-width: 618px;
    margin: 0 auto;

    &__input {
      position: relative;
      // border: 1px solid #e0e0e0;
      input {
        border-radius: 0;
        padding-left: 24px;
        // border: 0;
        // width: 65%;

        &:focus {
          border-color: #999;
        }
      }

      .icon-location {
        position: absolute;
        left: 6px;
        top: 13px;
        color: #999;
      }
    }

    &__suggestion {
      position: absolute;
      left: 0;
      width: 100%;
      background-color: $color-white;
      margin: 0;
      top: 100%;
      list-style: none;
      padding: 0;
      border: 1px solid $color-divider-secondary;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform:translateY(0px);
      max-height: 430px;
      overflow-y: auto;
      transition: opacity 0.2s ease-out;
      border-top: 0;
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -ms-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
        
      li {
        border-bottom: 1px solid #e0e0e0;
        margin-top:0;
        
        &:last-child {
          border-bottom: 0;
        }
        
        a {
          padding: 12px 12px;
          display: block;
          
          &:hover, &:focus {
            background-color: #f7f7f7;
          }
        }

        &.active {
          background-color: #f7f7f7;
        }
      }
        
      &-heading {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 13px;
      }
      
      &-desc {
        margin-top :0;
        margin-bottom:0;
        font-size: 12px;
        color: $color-text-tertiary;
      }
    }

    .searchbox--suggest {
      .searchbox__suggestion {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .search-tags {
    padding: 11px 18px;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    color: $color-text-secondary;
    border: 1px solid $color-divider-secondary;
    border-radius: 30px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }

    &.active {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }
  }

  .btn-close {

    .icon-close {
      font-size: 14px;
      color: #999;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    p {
      margin-top: 0;
      line-height: 18px;
      color: $color-text-tertiary;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    &:hover {
      .icon-close, p {
        color: $color-text-primary;
      }
    }
  }

  .btn-location {
    font-size: 14px;
    color: $color-text-tertiary;
    padding: 6px 0;
    vertical-align: top;
    
    svg {
      vertical-align: middle;
    }
  }

  .current-location {
    color: $color-text-primary;
    padding-left: 6px;
  }

  .btn-nearme {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    color: #666;
    margin: 3px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 9px 20px 9px 36px;
    &:before {
      content: '';
      position: absolute;
      left: 10px;
      top: 50%;
      background: url('/static/images/navigation.svg') no-repeat;
      background-size: 100%;
      background-position: center;
      height: 16px;
      width: 16px;
      transform: translateY(-50%);
    }
  }

  .btn-nearme.spin-loader-bg {
    color: #f1f1f1;
    &:before {
      background: none;
    }
  }

  .spin-loader {
    border: 5px solid rgba(109, 107, 107, 0.96);
    border-top-color: #f1f1f1;
  }
}

.city-selector {
  .loader {
    position: absolute;
    text-indent: -9999em;
    border-top: .3em solid rgba(239,117,117,0.2);
    border-right: .3em solid rgba(239,117,117,0.2);
    border-bottom: .3em solid rgba(239,117,117,0.2);
    border-left: .3em solid $color-brand-primary;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: block;
    z-index: 1;
    top: 6px;
    right: 13px;
  }

  .loader, .loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: $color-white;
  }

  .loader {
    top: 5px;
    right: 221px;
  }

  @-webkit-keyframes load8 {
    0% {
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
    -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}