
// user header
.user{
  // margin-top:78px;
  min-height:247px;
}
// user credits table

.user-credits{
  &__table{
    background: transparent;
    font-size: 18px;
    & th, td{
      border-bottom:1px solid #e0e0e0;
    }
    .credits-content{
      text-align: right;
      padding-right: 10%;
    }
    tr:last-child td{
      border-bottom:0;
    }
  }
  &--padding{
    td,th{
      padding:24px 12px 6px 12px;
      color:#333;
    }
  }
}
