.date-picker-icon {
  background: url('//res1.nbstatic.in/static/images/calender.svg') no-repeat 95% $color-white;
  background-size: 17px;
}


.clear-dates{
  color: $color-brand-primary;
  border-left: 1px solid $color-divider-secondary;
  padding-left: 12px;
  margin-left: 12px;
  font-size: 13px;
}
