
.card {
  &__inner:hover {
    box-shadow: 0 1px 25px rgba(153, 153, 153, 0.5);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  &__discount {
    height: 33px;
    max-height: 33px;
    p {
      color: $color-white;
      background-color: transparent;
      text-align: center;
      border-radius: 2px;
      padding: 10px;
      border: 1px solid $color-divider-secondary;
      font-weight: $font-weight-semibold;
      line-height: 1;
      width: 80px;
    }
  }

  &__rating {
    position: absolute;
    bottom: 0;
    display: table;
    background-color: $color-white;
    padding: 8px 8px 8px 12px;
    border-top-right-radius: 2px;
    span {
      display: table-cell;
      vertical-align: middle;
      padding: 0 0 0 6px;
    }
    
    .rating-icon.zomato {
      background: url("//res4.nbstatic.in/static/images/zomato-rating.svg") no-repeat center left;
      width: 58px;
      background-size: 92%;
    }
    .rating-icon.nearbuy {
      background: url("//res4.nbstatic.in/static/images/nb-rating.svg") no-repeat center left;
      width: 56px;
    }
    .rating-icon.tripadvisor {
      width: 84px;
      height:14px;
      background-size: 80px;
    }
    .rating50 {
      background-position: 0 0 !important;
      display: block;
    }
    .rating45{
      background-position: 0px -14px !important;
      display: block ;
    }
    .rating40{
      background-position: 0px -29px !important;
      display: block;
    }
    .rating35{
      background-position: 0px -44px !important;
      display: block ;
    }
    .rating30{
      background-position: 0px -58px !important;
      display: block;
    }
    .rating25{
      background-position: 0px -73px !important;
      display: block;
    }
    .rating20{
      background-position: 0px -88px !important;
      display: block;
    }
    .rating15{
      background-position: 0px -102px !important;
      display: block;
    }
    .rating10{
      background-position: 0px -116px !important;
      display: block;
    }
    .rating5{
      background-position: 0px -131px !important;
      display: block;
    }
    .rating-score {
      color: #5d8f2b;
      font-size: 12px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      border-left: 1px solid $color-divider-secondary;
    }
     &--empty {
      .rating-score {
        color: $color-text-secondary !important;
      }
      .rating-icon.tripadvisor {
        width: 28px;
        // height: 14px;
        background: url("/src/static/images/ta-logo.svg") no-repeat center left;
        background-size: 22px;
      }
    }
  }

  &__title {
    color: $color-text-primary;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
  }

  &__location {
    max-height: 16px;
    height: 16px;
    overflow: hidden;
    color: $color-text-tertiary;
    margin-bottom: 16px;
    p{
      line-height: 1.2;
      font-size: 12px;
    }
  }

  &__option {
    overflow: hidden;
    max-height: 38px;
    height: 38px;
    font-size: 13px;
    line-height: 1.4;
    white-space: pre-wrap;
  }

  .deal-price{
    height: 18px;
    max-height: 18px;
  }

  .actual-price {
    line-height: 1.2;
  }

  .previous-price {
    height: 13px;
    max-height: 13px;
    p {
      line-height: 1.2;
      display: inline-block;
      vertical-align: top;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        border-top: 0.09rem solid $color-text-tertiary;
        right: 0px;
        top: 50%;
        width: 100%;
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

.dealcard {
  .nav-pane button{
    top: 30%;
  }
}