.common-offer-card {
  position: relative;
  .offer-card{
    &__img{
      img{
        max-width: 100%;
        width: 100%;
        display: block;
        position: relative;
      }

      .img-collection{
        // position: relative;
        img{
          filter: brightness(60%);
          -webkit-filter: brightness(60%);
          -moz-filter: brightness(60%);
          -o-filter: brightness(60%);
        }
        &__content{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          cursor: pointer;
          color: $color-white;
        }
      }

      .deal-main-img{
        // height: 290px;
        overflow: hidden;
        margin-right: 6px;
        border-radius: 4px 0 0 4px;
        position: relative;
        padding-top: calc(60% + 6px);
        
        img {
          border-radius:4px 0 0 4px;
          height: 100%;
          position: absolute;
          top: 0;
          // @media (min-width: to-em($breakpoint-thunderbolt)) {
          //   height: auto;
          // }
        }

        .sold-out-tag {
          position: absolute;
          top: 12px;
          font-size: 16px;
          display: block;
          background: $color-brand-quaternary;
          border: 2px solid $color-white;
          border-left: none;
          padding: 12px 28px;
          color: $color-white;
          line-height: 1;

          span {
            font-size: 24px;
            display: block;
            color: $color-white;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 4px;
          }     
        }
      }

      .single-img {
        max-height: 327px;
        padding-top: 41%;
        img {
          height: auto;
        }
      }

      .thumb-img {
        position: relative;
        background-color: #ccc;
        overflow: hidden;
        margin-bottom: 6px;
        padding-top: 60%;
        // @media (min-width: to-em($breakpoint-thunderbolt)) {
        //   margin-bottom: 4px;
        //   padding-top: 88%;
        // }
        &:last-child {
          margin: 0;
        }
        img {
          position: absolute;
          top: 0;
          // height: 100%;
        }
      }
    }

    &__content{
      //padding: 12px 18px 18px;
      padding: 24px;

      .tooltip-popover {
        padding: 18px;
        .texticon-group__icon{
          padding-top: 0;
          padding-right: 18px;
        }
        // button {
        //   top: 6px;
        //   right: 6px;
        // }
      }
      
      .btn--tertiary{
        padding: 6px;
      }

      .deal-fav-wrapper {
        position: relative;
        .card__favourite {
          left: 24%;
          margin-left: 6px;
          .nb-checkbox {
            padding: 5px 6px;
            border: 1px solid $color-divider-secondary;
            border-radius: 2px;
            span {
              font-size: 12px;
              color: $color-text-primary;
              font-weight: $font-weight-medium;
              margin-right: 0;
              margin-left: 6px;
            }
            .nb-checkbox__icon {
              //top: 6px;
              //left: 12px;
              top: 5px;
              left: 6px;
            }
          }
        }
      }

      // .user-icon{
      //   width: 22px;
      //   height: 22px;
      //   background: url("//res4.nbstatic.in/static/images/deal-detail/bought.svg") no-repeat;
      //   display: block;
      // }

      // .share-icon {
      //   width: 13px;
      //   height: 13px;
      //   background: url("//res4.nbstatic.in/static/images/deal-detail/share.svg") no-repeat;
      //   display: inline-block;
      // }

      // .favourite-icon {
      //   width: 13px;
      //   height: 13px;
      //   background: url("//res4.nbstatic.in/static/images/deal-detail/favourite.svg") no-repeat;
      //   display: inline-block;
      // }
    }


    &__info {
      li {
        padding-right: 6px;
        margin-right: 6px;
        border-right: 1px solid $color-divider-secondary;
        .texticon-group__icon{
          padding-top: 0;
        }
      }
      li:last-child {
        padding-right: 0;
        margin-right: 0;
        border: 0;
      }
    }

    &__title{
      color: $color-text-primary;
      //height: 44px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 6px;
      font-weight: 600;
      line-height: 24px;
    }

    &__location{
      margin-bottom: 11px;
      p{
        font-size:13px;
      }
    }

    &__info {
      >li {
        border-right: 1px solid $color-divider-secondary;
        padding-right: 12px;
        margin-right: 8px;
        &:last-child {
          padding-right: 0;
          margin-right: 0;
          border: 0;
        }
      }
    }

    &__tags{
      //margin: 54px 0 12px 0;
    }
    .two-tags {
      margin-top: 54px;
      margin-bottom: 12px;
    }

    .more-tags {
      margin-top: 18px;
      margin-bottom: 0;
      //height: 85px;
      //max-height: 85px;
      height: 121px;
      max-height: 121px;
    }
  }

  .merchant-footer {
    position: static;
    width: 100%;
    @media (min-width: to-em($breakpoint-tab)) {
      position: absolute;
      bottom: 24px;
      width: 36%;
    }
    @media (min-width: to-em($breakpoint-desktop)) {
      width: 29%;
    }
  }

  .rating-section{
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
  }

  //zomato rating
  .rating {
    display: table;
    border: 1px solid $color-divider-secondary;
    border-radius: 2px;
    span {
      display: table-cell;
      vertical-align: middle;
      padding: 0 6px;
    }
    &__inner{
      padding: 3px 6px;
      height: 28px;
    }
    //.rating-icon {
    //  width: 80px;
    //  border-right: 1px solid $color-divider-secondary;
    //}
    .rating-icon.zomato {
      background: url("//res4.nbstatic.in/static/images/zomato-rating.svg") no-repeat center center;
      width: 58px;
      display: block;
      height: 22px;
      padding:0;
    }
    .rating-icon.nearbuy {
      background: url("//res4.nbstatic.in/static/images/nb-rating.svg") no-repeat center center;
      width: 56px;
      display: block;
      height: 22px;
      padding:0;
    }
    .rating-icon.tripadvisor {
      width: 84px;
      height:20px;
      background-size: 84px;
      padding:0;
    }
    .rating50 {
      background-position: 0 1px !important;
      display: inline-block !important;
    }
    .rating45{
      background-position: 0px -14px !important;
      display: inline-block !important;
    }
    .rating40{
      background-position: 0px -30px !important;
      display: inline-block !important;
    }
    .rating35{
      background-position: 0px -45px !important;
      display: inline-block !important;
    }
    .rating30{
      background-position: 0px -61px !important;
      display: inline-block !important;
    }
    .rating25{
      background-position: 0px -76px !important;
      display: inline-block !important;
    }
    .rating20{
      background-position: 0px -91px !important;
      display: inline-block !important;
    }
    .rating15{
      background-position: 0px -107px !important;
      display: inline-block !important;
    }
    .rating10{
      background-position: 0px -122px !important;
      display: inline-block !important;
    }
    .rating5{
      background-position: 0px -138px !important;
      display: inline-block !important;
    }
    .rating-score {
      color: #5d8f2b;
      font-size: 13px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      border-left: 1px solid $color-divider-secondary;
    }
      // empty rating
    &--empty {
      .rating-score {
        color: $color-text-secondary !important;
      }

      .rating-icon.tripadvisor {
        width: 28px;
        // height: 14px;
        background: url("/src/static/images/ta-logo.svg") no-repeat center left;
        background-size: 24px;
        background-position: center center;
        display: block;
        margin-top: 3px;
      }
    }
  }


  .copy_link {
    .ellipsis {
      max-width: 100%;
    }
    .link {
      border-bottom: 1px solid $color-divider-secondary;
      a {
        font-size: 13px;
        line-height: 18px;
        color: $color-text-secondary;
        display: block;
      }
    }
  }

  .copy-text {
    height:0px !important;
    width:0px !important;
    //border: #f1f1f1;
    outline: 0px !important;
    -webkit-appearance: none !important;
    border-color: #fff;
    text-indent: -999px;
    border: 0!important;
    &:active, &:focus {
      outline: 0px !important;
    }
  }

  .merchant-details {
    //height: 211px;
    //max-height: 211px;
    height: 156px;
    max-height: 156px;
    @media (min-width: to-em($breakpoint-desktop)) {
      height: 181px;
      max-height: 181px;
    }
    @media (min-width: to-em($breakpoint-thunderbolt)) {
      height: 230px;
      max-height: 230px;
    }
  }

  // about section
  .about {
    margin: 18px 0 0;
    &-content {
      //max-height: 58px;
      //overflow: hidden;
      position: relative;
      margin-bottom: 4px;

      &.show-more{
        max-height: 40px;
        overflow: hidden;
         @media (min-width: to-em($breakpoint-desktop)) {
            max-height: 58px;
          }
        &:after {
          content: '...';
          position: absolute;
          bottom: 0;
          right: 0;
          color: $color-text-secondary;
          background: $color-white;
          padding-left: 2px;
        }
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}