// .filter-wrapper{
//   background-color: $color-white;
//   padding: 12px;
//   box-shadow: rgba(0, 0, 0, 0.04706) 0 2px 3px 0;
// }

.favourite-filter {
  .sub-menu-header:after{
    content: none;
  }

  .no-fav-deals{
    background: #e7e7e7;
    border: 1px solid $color-divider-secondary;
    padding: 18px;
  }
}
