
// .filter-wrapper{
//   background-color: $color-white;
//   padding: 12px;
//   box-shadow: rgba(0, 0, 0, 0.04706) 0 2px 3px 0;
//   margin-bottom: 18px;
// }

.ffa-wrapper {
  background-color: #000;
  .share-list {
    img {
      border-radius: 20%;
    }
  }
}

.ffa {
  &__banner {
    max-width: 768px;
    min-height: 170px;
    height:480px;
    margin: 0 auto;
    background-size: cover;
    color: $color-white;
    padding: 94px 0 0;
    position: relative;
    overflow: hidden;
  }
  
  &__image {
    position: absolute;

    img {
      width: 768px;
      margin-bottom: -4px;
    }
  }

  &__inner {
    margin-top: 42px;
  }
}

.clear-both{
  clear:both;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ffa {
    // &-wrapper {
    //   background-color: transparent;
    // }

    &__banner {
      padding: 105px 0 0;
      height: 296px;
    }

    &__image {
      left: 50%;
      transform: translateX(-50%);

      img {
         width: 320px;
      }
    }

    &__inner {
      margin-top: 18px;
    }
  }

  .filter-wrapper {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
  }
}





