.footer-top {
  background: $color-text-primary;
  padding: 36px 0;
  letter-spacing: .2px;
  &__heading {
    color: $color-divider-secondary;
    font-weight: $font-weight-semibold;
    margin-bottom: 6px;
  }
  &__content {
    font-size: 11px;
    line-height: 15px;
    color: $color-text-quaternary;
    a {
      text-decoration: underline;
      color: $color-text-quaternary;
      &:hover{
        color: $color-brand-primary;
      }
    }
  }
}

// social media sprite and icons
.social-links {
  li{
    margin-right:6px;
    &:last-child{
      margin-right:0;
    }
  }
  a {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    font-size: 0;
  }
  .social-media {
    width: 200px;
    height: 200px;
    display: block;
    opacity: 0.9;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    &:hover {
      opacity: 1;
    }
  }
  .fb-icon {
    background: url("//res4.nbstatic.in/static/images/social-icons/facebook.svg");
    width: 30px;
    height: 30px;
  }
  .tw-icon {
    background: url("//res4.nbstatic.in/static/images/social-icons/twitter.svg");
    width: 30px;
    height: 30px;
  }
  .insta-icon {
    background: url("//res4.nbstatic.in/static/images/social-icons/instagram.svg");
    width: 30px;
    height: 30px;
  }
}

// footer bottom
.footer-bottom {
  background: $color-black;
  padding: 36px 0 0;
  &__categories {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      border-right: 1px solid;
      right: 0;
      height: 105px;
      top: 7px;
    }
    li {
      margin-bottom: 12px;
    }
    a {
      color: $color-white;
      font-size: 13px;
      &:hover{
        color: $color-brand-primary;
      }
    }
  }
  &__app {
    li {
      margin-bottom: 18px;
      &:first-of-type {
        margin-right: 18px;
      }
    }
    img {
      height: 38px;
      width: 150px;
    }
  }
}
// back to top icon
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 0;
  .all-icon {
    width: 36px;
    height: 36px;
    display: block;
  }
  .back-icon {
    background-image: url("//res4.nbstatic.in/static/images/back-to-top.svg");
    background-repeat: no-repeat;
  }
}