
.order-summary-header {
 
  .header {

    &_wrapper {
      background-color: $color-white;
      position: relative;
      height: 60px;
      border-bottom: 1px solid $color-divider-secondary;
    }

    &-msg {
      padding:8px 6px;

      li {
        padding: 0 18px;
        border-right: 2px solid $color-divider-secondary;

        &:last-child {
          border-right:none;
          padding-right:0;
        }
      }

      p {
        line-height: 20px;

        &.promise-tag{
          font-size:16px;
        }
      }
    }

    .brand_logo{
      float: left;
      padding: 16px 3px 15px;
      cursor: pointer;
      margin-right: 12px;
    }
  }
}


