@import './../settings.scss';
@import './../tools.scss';
header{
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
}

.header {
  &__secondary {
    height: 34px;
    background-color: #f1f1f1;
  }
  &__primary {
    background-color: $color-white;
    position: relative;
    height: 60px;
    border-bottom: 1px solid $color-divider-secondary;
  }
}

/*-----===== HEADER PRIMARY =====-----*/
.header__primary {
  .brand_logo{
    float: left;
    // padding: 8px 6px;
    padding: 16px 6px 15px;
    cursor: pointer;
    margin-right: 6px;
    @media (min-width: to-em($breakpoint-desktop)) {
      margin-right: 12px;
    }
  }

  .primary_nav{
    margin-bottom: 0;
    line-height: 1px;
    margin-left: 0;
    margin-right: 0 !important;
    li{
      float: left;
      background: 0;
      line-height: 2px;
      &:hover > a.main_menu{
        background-color: #f1f1f1;
        color: $color-text-primary;
      }
      a.main_menu{
        // background-image: url("//res4.nbstatic.in/static/images/nb-ico-sprite4.png");
        // background: url("//res4.nbstatic.in/static/images/down_arrow.svg") no-repeat;
        // background-size: auto auto;
        // background-position: 95% center;
        // background-repeat: no-repeat;
        color: $color-text-secondary;
        text-transform: uppercase;
        float: left;
        font-weight: 600;
        padding: 25px 20px 23px 20px;
        font-size: 13px;
        text-decoration: none;
        // line-height: 1.6;
        text-align: center;
        min-width: 86px;

        .icon-arrow_down {
          font-size: 12px;
          padding-left: 6px;
        }
      }
    }

    li.travel {
      a.main_menu {
        // background: url("//res4.nbstatic.in/static/images/down_arrow.svg") no-repeat;
        // background-position: 95% center;

        .icon-arrow_down {
          font-size: 12px;
          padding-left: 6px;
        }
      }
      &:hover > a.main_menu {
        background-color: #f1f1f1;
      }
    }

    li.active > a.main_menu{
      color: $color-white;
      background: $color-brand-primary;
      // background-position: 95% center;

      .icon-arrow_down {
        color: $color-white;
      }
    }

    li.travel.active{
      a.main_menu {
        background: $color-brand-primary;
        // background-position: 95% center;
      }
    }
  }

  .category_menu{
    position: relative;
    .arrow_dropup {
      position: absolute;
      top: 90px;
      left: 50%;
      border-left: transparent solid 15px;
      border-right: transparent solid 15px;
      border-bottom: $color-white solid 15px;
      visibility: hidden;
      opacity: 0;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .sub_menu{
      width: 100vw;
      position: fixed;
      top: 115px;
      visibility: hidden;
      box-shadow: 0 21px 44px 0 rgba(0, 0, 0, 0.3);
      left: 0;
      right: 0;
      border-bottom: solid 24px $color-white;
      opacity: 0;
      background-color: $color-white;
      .row{
        margin: 0 auto;
      }
    }
  }

  .header-hover{
    .arrow_dropup {
      visibility: visible;
      opacity: 1;
      top: 46px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      transition-delay: .3s;
    }
    .sub_menu {
      opacity: 1;
      top: 94px;
      visibility: visible;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      transition-delay: .3s;  
    }
  }

  .local-sub-category{
    min-height: 202px;
    height: 220px;
    margin-top: 20px;
    border-right: 1px solid $color-divider;
    &:after{
      content: '';
      position: absolute;
      // background: url(//res4.nbstatic.in/static/images/nb-local-drop-down-icon.png) no-repeat scroll 0 0;
      width: 165px;
      top: 72px;
      right: -70px;
      z-index: 1;
      //background-position: 0 -283px;
      height: 106px;
      background-size: 0;
    }

    .sub-category-head a{
      color: $color-text-primary;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 0;
      span {
        color: $color-text-primary;
      }
    }
    
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 2;

      li + li {
        margin-top: 0;
      }
      
      li{
        float: none;
        display: block;
        margin-bottom: 8px;
        a{
          color: $color-text-tertiary;
          font-size: 13px;
          line-height: 18px;
          display: block;
          background-image: none;
          &:hover{
            color: $color-brand-primary;
            background: transparent;
          }
        }
      }
    }
  }

  .travel-sub-category{
    border-right: solid 1px $color-divider;
    height: 217px;
    ul{
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 999;
      margin-top: 20px;
      
      li + li {
        margin-top: 0;
      }

      li{
        float: none;
        background: 0;
        display: block;
        span {
          color: $color-text-primary;
        }
        a{
          display: block;
          color: $color-text-primary;
          font-size: 13px;
          padding: 0;
          text-align: left;
          font-weight: 600;
          line-height: 30px;
          &:hover {
            background-color: transparent;
            color: $color-brand-primary;
            span {
              background-color: transparent;
              color: $color-brand-primary;
            }
          }
        }
      }
    }
  }

  .image_banner{
    margin-top: 20px;
    height: 217px;
  }
}

/*-----===== HEADER PRIMARY - LOCAL CATEGORY ICONS IN BACKGROUND OF MENU =====-----*/
// .food-and-drink:after{
//   top: 90px;
//   right: -80px;
//   background-position: -10px -2px;
//   background-size: 50%;
// }

// .health:after{
//   top: 72px;
//   right: -70px;
//   z-index: 1;
//   background-position: 0 -283px;
//   background-size: 50%;
// }

// .activities:after{
//   background-position: -15px -720px;
//   top: 73px;
//   right: -86px;
//   background-size: 50%;
// }

// .home-and-auto:after{
//   top: 72px;
//   right: -90px;
//   background-position: -20px -831px;
//   background-size: 50%;
// }

// .spa-and-massage:after{
//   top: 65px;
//   right: -73px;
//   background-position: 0 -95px;
//   background-size: 50%;
//   height: 85px;
// }

// .in-store:after{
//   background-position: 0px -938px;
//   background-size: 50%;
// }

// .fitness:after {
//   background-position: 0 -388px;
//   background-size: 50%;
// }

// .beauty-and-salon:after {
//   background-position: 0 -186px;
//   background-size: 50%;
// }

// .hobbies-and-learning:after {
//   background-position: 0 -618px;
//   background-size: 50%;
// }

// .movies-and-events:after {
//   background-position: 0 -499px;
//   background-size: 50%;
// }

.image_banner-local {
  margin-top: 20px;
  img {
    width: 100%;
  }
}

/*-----===== HEADER SECONDARY =====-----*/
.header__secondary {

  .city-selector {
    a {
      padding: 5px 18px 5px 12px;
      position: relative;
      display: block;
    }

    .icon-location {
      font-size: 13px;
      vertical-align: middle;
      color: #999;
    }

    .city-name {
      background-color: $color-white;
      padding: 4px 30px 4px 18px;
      border-radius: 20px;
      margin-left: 3px;
      border: 1px solid $color-text-tertiary;
      transition: all 0.3s ease;
      &:after {
        content: '';
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $color-text-primary;
        right: 32px;
        top: 50%;
        pointer-events: none;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &:hover {
        border: 1px solid $color-text-secondary;
      }
    }
  }

  .secondary_links{
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    margin: 0;
    > li {
      float: left;
    }

    > li:not(.myaccount_dropdown){
      position: relative;
      &::after{
        content: '';
        position: absolute;
        border-left: 1px solid $color-text-tertiary;
        height: 15px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &:last-child {
        &:after {
          content: '';
          border-left: 0;
        }
      }
    }

    .utility-btn{
      cursor: pointer;
      font-size: 11px;
      border: 0;
      color: $color-text-secondary;
      padding: 8px 12px;
      display: inline-block;

      // .secure-icon {
      //   background: url("//res4.nbstatic.in/static/images/secure-hover.svg");
      //   display: inline-block;
      //   vertical-align: middle;
      //   width: 15px;
      //   height: 15px;
      //   opacity: 0.60;
      //   background-size: 16px;
      //   transition: all 0.3s ease;
      // }
      .icon-lock {
        font-size: 13px;
        padding-top: 2px;
      }

      span {
        color: $color-text-secondary;
      }

      &:hover {
        color: $color-text-primary;
        
        span{
          color: $color-text-primary;
        }

        .icon-lock {
         color: $color-text-primary;
        }
      }

      &.ffa {
        font-weight: 700;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .myaccount_dropdown{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        border-left: 1px solid $color-divider;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
      &::after{
        content: '';
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $color-brand-primary;
        right: 0;
        top: 50%;
        pointer-events: none;
        -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
                transform: translateY(-50%);
      }
      a{
        padding: 8px 12px 8px 18px;
      }
      .dropdown_menu{
        position: absolute;
        background-color: $color-white;
        max-width: 200px;
        margin-left: 0;
        width: 100vw;
        right: -12px;
        z-index: 100;
        box-shadow: rgba(0,0,0,0.04706) 0 2px 3px 0;
        li{
          display: block;
          line-height: 1;
          a{
            padding: 12px;
            font-size: 12px;
            color: #333;
            display: block;
            border-left: 4px solid transparent;
            &:hover{
              border-color: $color-brand-primary;
            }
          }
          &:hover{
            background-color: $color-divider;
          }
        }
      }
    }

    .ffa {
      display: none;
      @media (min-width: to-em($breakpoint-desktop)) {
        display: inline-block;
      }
    }
  }
}

.list_inline{
  list-style: none;
  li{
    display: inline-block;
  }
  li + li{
    margin-top: 0;
  }
}

/*-----===== ORDER SUMMARY HEADER =====-----*/
.header-msg{
  padding:8px 6px;
  li{
    padding:0 18px;
    border-right:2px solid $color-divider-secondary;
  }
  li:last-child{
    border-right:none;
    padding-right:0;
  }
  p{
    line-height: 20px;
    font-size:13px;
    &.promise-tag{
      font-size:15px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .header {
    &__secondary {
      height: 45px;
      padding-top:4px
    }
  }
}