.hero-banner {
  margin-top: 94px;
  position: relative;
  z-index: 1;
  height: 420px;

  &__title {
    margin-bottom: 48px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    color: $color-white;
    text-align: center;
  } 

  &__search {
    position: relative;
    margin-bottom: 42px;
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: text;
    }
  }

  .center-box {
    margin: 97px auto 0;
    max-width: 768px;
  }

  &--local {
    background: url("//res4.nbstatic.in/static/images/local-hero-banner.jpg") repeat-x;
    height: 360px;
    .hero-banner__search {

      .search-group {
        display: table;
        width: 100%;

        &__input {
          display: table-cell;
          height: 60px;
          position: relative;

          input[type=search] {
            height: 60px;
            border-radius: 4px 0 0 4px;
            &:focus, &:active{
              border-color: #e0e0e0;
            }
          }
        }

        &__btn {
          display: table-cell;
          vertical-align: top;
          width: 1%;
        
          button {
            min-width: 100%;
            background: url("/src/static/images/search-icon.png") $color-brand-primary no-repeat center;
            background-size: 20px;
            border-radius: 0 4px 4px 0;
            padding:30px;
            height: 60px;
          }
        }
      }
    }
  }

  &--travel {
    background: url("//res4.nbstatic.in/static/images/travel-banner-bg.jpg") repeat-x;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: url("//res4.nbstatic.in/static/images/travel-hero-banner.png") no-repeat;
      background-size: auto 420px;
      background-position: center bottom;
      z-index: 0;
    }

    .hero-banner__title {
      color: #1f4345;
      text-shadow: none;
    }

    .hero-banner__search {
      @media (min-width: to-em($breakpoint-desktop)) {
        margin-bottom: 60px;
      }

      .search-input {
        height: 60px;
        border-radius: 4px 0 0 4px;
        &:focus{
          border-color: inherit;
        }
      }

      .datepicker{
        display: table;
        width: 100%;

        &__item{
          display: table-cell;
          width: 100%;
          input[type="text"]{
            background: url("//res4.nbstatic.in/static/images/date-picker-icon.png") no-repeat $color-white;
            background-position: 94%;
            background-size: 22px;
            width: 50%;
            border: 1px solid $color-divider-secondary;
            font-size: 14px;
            padding: 0 48px 0 12px;
            height: 60px;
            outline:0;
            &:first-child{
              border-right: none;
              border-left: none;
            }
          }
        }

        &__button{
          display: table-cell;
          vertical-align: top;
          button{
            min-width: 100%;
            background: url("//res4.nbstatic.in/static/images/search-icon.png") $color-brand-primary no-repeat center;
            background-size: 20px;
            border-radius: 0 4px 4px 0;
            padding:30px;
          }
        }
      }
    }
    
    .ta-rating {
      &__list {
        li {
          margin-right: 16px;
          padding-right: 16px;
          border-right: 1px solid #a0b192;
          &:last-child {
            border-right: 0;
            margin-right: 0;
            padding-right: 0;
          }
        }
      }

      &__text {
        p {
          color: #717365;
        }
      }
    }
  }   
}