.hiw {
  .how-it-works{
    background: #f7f8fa;
    padding: 66px 0 42px;
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
    -webkit-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
    z-index: 1000;
    position: fixed;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    &-show{
        opacity: 1;
        visibility: visible;
        -o-transform: translateY(-18%);
        -ms-transform: translateY(-18%);
        -moz-transform: translateY(-18%);
        -webkit-transform: translateY(-18%);
        transform: translateY(-18%);
    }

    img{
        // display: block;
        width: 251px;
        height: 251px;
    }

    .btn-close{
        position: absolute;
        top: 6%;
        right: 20px;

        .icon-close {
            font-size: 14px;
            color: #999;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        p {
            margin-top: 0;
            line-height: 18px;
            color: #999;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        &:hover {
            p , .icon-close {
                color: $color-text-primary;
            }
        }
    }

    &__footer{
        img {
        padding-right: 18px;
        border-right: 1px solid $color-divider-secondary;
        margin-right: 9px;
        width: 170px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        }
        p {
        display: inline-block;
        color: $color-text-secondary;
        }
    }
  }
  
  .modal_wrapper{
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;
    &-visible {
      opacity: 0.6;
      display: block;
    }
  }
}