///**===================  POPUP STYLE ===============================**/

// Progress bar in header
.progress {
  &__bar {
    &__display{
      background-color: $color-text-secondary;
      height: 4px;
      width: 8px;
      margin-right: 2px;
      display: inline-block;
    }
    li.active {
      button {
        background-color: $color-brand-secondary;
      }
    }
  }
}
/*---Common css for slider end---*/
///**===================  POPUP STYLE ===============================**/
.imgslider-popup {
  .close {
    top: 18px;
    .icon-close {
      font-size: 16px;
      color: #333;
    }

    &:hover .icon-close {
      color: #999;
    }
  }
}

// ul li structure for images
.slide-wrapper{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  .slide{
    display: inline-block;
    white-space: nowrap;
    img {
      width: 100%;
    }

    >li {
      width: 700px;
      height: 420px;
      min-height: 1px;
      margin: 0 18px;
      //padding: 0 18px;
      position: relative;
      opacity: 0.98;
      -moz-filter: brightness(40%);
      -webkit-filter: brightness(40%);
      filter: brightness(40%);
      transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -ms-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
    }

    >li.active {
      opacity: 1;
      -moz-filter: initial;
      -webkit-filter: initial;
      filter: initial;
    }
  }
}

// navigation pane (prev/next arrow)
.popup, .image-popup{
  position: relative;

  // navigation pane
  .nav-direction {
    button{
      position: absolute;
      background-color: $color-white;
      // opacity: 0.5;
      height: 48px;
      width: 48px;
      display: block;
      top: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transition: opacity 0.2s ease-in;
      padding: 12px;

      .icon-arrow_right {
        font-size: 18px;
        color: #999;

        &.left {
          transform: rotate(180deg);
        }
      }
      &:hover .prev-icon, &:hover .next-icon{
        color: #333;
      }
      &.next--no-img:hover, &.prev--no-img:hover {
        .next-icon,.prev-icon {
          opacity: 0.65;
        }
      }
    }
  }

  .prev {
    left: 4%;
    // .prev-icon{
    //   background: url(//res4.nbstatic.in/static/images/deal-detail/arrow-left.png) no-repeat;
    //   height: 20px;
    //   width: 20px;
    //   display: block;
    //   margin-right: 0;
    //   opacity: 0.65;
    // }
    &--no-img {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .next {
    display: block;
    right: -2%;
    // .next-icon{
    //   background: url(//res4.nbstatic.in/static/images/deal-detail/arrow.png) no-repeat;
    //   height: 20px;
    //   width: 20px;
    //   display: block;
    //   margin-left: 3px;
    //   opacity: 0.65;
    // }
    &--no-img {
      opacity: 0.4;
      cursor: not-allowed;
    }
    @media only screen and (min-width:960px) {
      right: 24px;
    }
  }
}

.image-popup {
  .nav-direction {
    a{
      background-color: $color-white;
    }
  }
}
