
.filter-wrapper{
  background-color: $color-white;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.04706) 0 2px 3px 0;
  margin-bottom: 18px;
}


.sorting_filter {
  margin: 18px 0;
}

.btn_cream {
  font-family: "Open Sans",sans-serif;
  background: #e8e8e8;
  border-radius: 50px;
  color: #7e7e7e;
  display: inline-block;
  font-size: 13px;
  padding: 10px 26px 8px;
  margin-top: 28px;
  margin-bottom: 40px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:active {
    border-color: $color-brand-primary;
  }
}
.result_title {
  margin: 18px 0;
  border-bottom: 1px solid $color-divider;
}

// no-fav

.no-fav{
  background: #e7e7e7;
  border: 1px solid #c7c7c7;
  padding: 18px;
}

.city-name {
  span {
    font-size: 16px;
  }
}