
.filter-location{
  margin-bottom: 24px;
  .view-more{
    display: block;
    margin-top: 12px;
  }
  .count{
    font-size: 12px;
  }
  input[type="search"] {
    font-size: 12px;
    padding: 12px;
  }
}

.menu-header{
  color: $color-text-primary;
  font-weight: 600;
  //font-size: 14px;
  font-size: 12px;
  &:hover{
    color: $color-brand-primary;
  }
}

// .menu-header, .sub-menu-header{
//   display: block;
//   margin-bottom: 6px;
//   position: relative;
//   span:first-child{
//     color: $color-text-primary;
//   }
//   &:after{
//     content: '';
//     position: absolute;
//     right: 2px;
//     top:6px;
//     border-top: 4px solid transparent;
//     border-bottom: 4px solid transparent;
//     border-left: 5px solid $color-brand-primary;
//   }

//   &:hover{
//     span{
//       color: $color-brand-primary;
//     }
//   }
// }

.menu > li{
  margin-bottom: 18px !important;
}

.sub-menu{
  display: none;
}

.sub-menu-options{
  display: none;
}


.open{
  .menu-header{
    font-weight: 600;
  }
  .sub-menu{
    .menu-header{
      font-weight: 500;
    }
  }

  .menu-header:after{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }

  .sub-menu{
    display: block;
    margin-left: 18px;
    color: $color-text-primary;

    //li{
    //  margin-bottom: 0;
    //}
    .open{
      .sub-menu-options{
        display: block;
        margin-left: 18px;
        color: $color-text-primary;
        li{
          line-height: 1.5;
        }
        &--header{
          font-weight: 300;
          span{
            display: block;
            color: $color-text-primary;
            &:hover{
              color: $color-brand-primary;
            }
          }
        }
      }

      li{
        margin-bottom: 0;
      }

      .sub-menu-header:after{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
      }
    }
  }
}

.nb-checkbox__text, .count{
  color: $color-text-secondary;
}

.sublocation-wrapper {
  display: none;
  .nb-checkbox__text {
    color: $color-text-primary;
  }
}

.open {
  .sublocation-wrapper {
    display: block;
  }
}
