.deal-detail-local , .popup {
  > .offer-card{
    &__img{
      img{
        max-width: 100%;
        width: 100%;
        display: block;
        position: relative;
      }

      > .img-collection{
        position: relative;
        img{
          filter: brightness(60%);
          -webkit-filter: brightness(60%);
          -moz-filter: brightness(60%);
        }
        &__content{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .deal-main-img {
        height: 290px;
        overflow: hidden;
        margin-right: 6px;
        border-radius: 4px 0 0 4px;

        img {
          border-radius:4px 0 0 4px;
          height: 100%;
          position: absolute;
          top: 0;
        }  
      }
    }
    
    &__content{
      padding: 12px 18px 18px;

      .tooltip-popover {
        padding: 18px;
        .texticon-group__icon{
          padding-top: 0;
          padding-right: 18px;
        }
        button {
          top: -7px;
        }
        .copy_link {
          .ellipsis {
            max-width: 100%;
          }
          .link {
            border-bottom: 1px solid $color-divider-secondary;
            a {
              font-size: 13px;
              line-height: 18px;
              color: $color-text-secondary;
            }
          }
        }
      }

      //zomato rating
      > .rating {
        display: table;
        border: 1px solid $color-divider-secondary;
        border-radius: 4px;
        span {
          display: table-cell;
          vertical-align: middle;
          padding: 2px 12px;
        }
        .rating-icon {
          //height: 27px;
          width: 80px;
          border-right: 1px solid $color-divider-secondary;
          background: url("//res4.nbstatic.in/static/images/deal-detail/zomato-rating.png") no-repeat;
          background-position: center center;
        }
        .rating-score {
          color: #5d8f2b;
          font-size: 13px;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
        }
      }

      // .user-icon{
      //   width: 22px;
      //   height: 22px;
      //   background: url("//res4.nbstatic.in/static/images/deal-detail/bought.svg") no-repeat;
      //   display: block;
      // }

      // .share-icon {
      //   width: 13px;
      //   height: 13px;
      //   background: url("//res4.nbstatic.in/static/images/deal-detail/share.svg") no-repeat;
      //   display: inline-block;
      // }

      // .favourite-icon {
      //   width: 13px;
      //   height: 13px;
      //   background: url("//res4.nbstatic.in/static/images/deal-detail/favourite.svg") no-repeat;
      //   display: inline-block;
      // }

      //Deal Favourite
      .deal-fav-wrapper {
        position: relative;
        .card__favourite {
          left: 24%;
          .nb-checkbox {
            padding: 6px 12px;
            border: 1px solid $color-divider-secondary;
            border-radius: 4px;
            span {
              font-size: 12px;
              color: $color-text-primary;
              font-weight: $font-weight-medium;
            }
            .nb-checkbox__icon {
              top: 7px;
            }
          }
        }
      }
    }

    &__info {
      li {
        padding-right: 6px;
        margin-right: 6px;
        border-right: 1px solid $color-divider-secondary;
      }
      li:last-child {
        padding-right: 0;
        margin-right: 0;
        border: 0;
      }
    }

    &__title{
      color: $color-text-primary;
      height: 44px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &__location{
      margin-bottom: 11px;
      p{
        font-size:13px;
      }
    }

    &__info {
      >li {
        border-right: 1px solid $color-divider-secondary;
        padding-right: 12px;
        margin-right: 8px;
        &:last-child {
          padding-right: 0;
          margin-right: 0;
          border: 0;
        }
      }
    }

    &__tags{
      //margin: 54px 0 12px 0;
    }
    .two-tags {
      margin-top: 54px;
      margin-bottom: 12px;
    }
    .more-tags {
      margin-top: 18px;
      margin-bottom: 0;
      height: 85px;
      max-height: 85px;
    }
  }

  .option	{
    position: relative;
    .block {
      margin-bottom: 0;
      border-radius: 0;
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
        margin-bottom: 18px;
      }
      &__inner {
        padding: 18px;
        @media (min-width: to-em($breakpoint-desktop)) {
          padding: 24px;
        }
      }
    }

    .option-list-wrapper {
      width: 36px;
    }

    &__list {
      background-color: #f6f6f6;
      font-size: 18px;
      color: $color-text-primary;
      border: solid $color-divider-secondary;
      border-width: 0 1px 1px 0;
      padding: 6px 12px;
      height: 36px;
      width: 36px;
      display: inline-block;
      border-radius: 2px;
      line-height: 1.3;
    }

    &__title {
      font-size: 15px;
      line-height: 1.3;
      /*margin-bottom: 8px;*/
      font-weight: $font-weight-semibold;
    }

    &__price {
      .price, .quantity {
        display: inline-block;
      }
    }

    &__validity {
      margin: 6px 0 0 0;
      > li {
        display: block;
        @media (min-width: to-em($breakpoint-desktop)) {
          padding-right: 12px;
          border-right: 1px solid $color-divider-secondary;
          margin-right: 12px;
          display: inline-block;
        }
      }

      li+li {
        margin-top: 0;
      }

      li:first-child {
        padding-left: 0;
      }

      li:last-child {
        border-right: 0;
      }

      .field, .value {
        font-size: 12px;
        line-height: 18px;
      }

      .field {
        color: $color-text-tertiary;
      }

      .value {
        color: $color-text-primary;
        font-weight: $font-weight-semibold;
      }
    }

    // .sold-out {
    //   p {
    //     line-height: 18px;
    //   }
    //   span {
    //     font-size: 11px;
    //     color: $color-text-tertiary;
    //     display: inline-block;
    //     line-height: 14px;
    //   }
    // }

    .price {
      .actual-price {
        font-size: 11px;
        color: $color-text-tertiary;
        // font-weight: 100;
        line-height: 1;
        display: inline-block;
        // vertical-align: top;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          border-top: 0.09rem solid #999;
          right: 0px;
          top: 50%;
          width: 100%;
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      .discounted-price {
        font-size: 20px;
      }
    }

    .quantity, .price {
      display: inline-block;
      vertical-align: middle;
      &__dec, &__inc {
        height: 30px;
          width: 30px;
          background: $color-brand-primary;
          color: white;
          font-size: 18px;
          // padding: 6px;
          // line-height: 1;
          float: left;
      }

      &__dec {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &__inc {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &__count {
        font-size: 15px;
        padding: 6px 12px;
        float: left;
        line-height: 1;
        color: $color-text-secondary;
        border-top: 2px solid $color-divider-secondary;
        border-bottom: 2px solid $color-divider-secondary;
        height: 30px;
        padding: 6px;
        //width: 30px;
      }
      .tooltip-wrapper {
        &:hover {
          .tooltip {
            display: block;
          }
        }
      }
    }

    .btn--disabled {
      background-color: $color-divider-secondary;
      border-color: $color-divider-secondary;
    }
	}

  .promise-img {
    padding-right: 12px;
    border-right: 1px solid $color-divider-secondary;
    border-right: 1px solid #e5e5e5;
    vertical-align: middle;
    width: 96px;
    @media (min-width: to-em($breakpoint-desktop)) {
      width: 150px;
      height: 35px;
      padding-right: 18px;
    }
  }

  .promise-content {
    margin-left: 12px;
    display: inline-block;
  }

  .tooltip-popover-wrapper{
    vertical-align: middle;
  }

  .nb-promise {
    @media only screen and (min-width:960px) {
     line-height: 36px;
    }
  }

  .map-cont {
    //background-color: $color-divider-secondary;
    max-height: 137px;
    //height: 137px;
    width: 100%;
    overflow: hidden;
    img {
      max-width: 100%;
      width: 100%;
      max-width: 100%;
      transform: translateY(-15%);
    }
  }
  .offer {
    &__status {
      margin: 12px 0 24px 0;
    }

    &__notify {
      margin: 18px 0;
      p{
        font-size: 13px;
        line-height: 1;
      }
    }
  }

  > .payment-offers{
    background-color: $color-text-quaternary;
    border: 2px solid $color-divider-secondary;
    &__cards img {
      border: 2px solid $color-divider-secondary;
      margin-right: 6px;
      height: 30px;
    }
  }

  .menu-btn {
    width: 125px;
  }

  .view-menu, .right-arrow {
    background: url('//res4.nbstatic.in/static/images/deal-detail/menu.svg') no-repeat;
    height: 10px;
    width: 10px;
    display: inline-block;
  }

  .right-arrow {
    background: url('//res4.nbstatic.in/static/images/deal-detail/arrow.svg') no-repeat;
  }

  .icon-help {
    vertical-align: middle;
    color: #999;
    font-size: 22px;
    cursor: pointer;
  }

  .btn--tertiary {
    padding: 6px 12px;
    font-size: 12px;
    box-shadow: inset 0px 0px 0px 1px rgba(224,224,224,1);
    border: 0;
    color: $color-text-secondary;
  }

  .btn{
    &--tags{
      background: #e0e0e0;
      color: #333;
    }
  }

  .location-address-list {
    ul {
      li {
        padding: 12px 22px;
        margin-bottom: 6px;
        cursor: pointer;
        background-color: $color-white;
        border-left: 4px solid $color-divider-secondary;
        //font-size: 12px;
        .location-text {
          color: $color-text-secondary;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

      li.active {
        background-color: $color-text-quaternary;
        border-left: 4px solid $color-brand-secondary;
        font-weight: 600;
        .location-text {
          color: $color-text-primary;
        }
      }
    }
  }

  .view-services {
    border-radius: 0 0 4px 4px;
    border: 1px solid #e5e5e5;
  }
  
    
  .custom-list-detail {
    list-style: none;
    margin-left: 20px;
    li {
      font-size: 13px;
      position: relative;
      line-height: 16px;
      margin-bottom: 18px;
      > p {
          font-size: 13px;
          line-height: 16px;

          > span {
            font-size: 13px;
            line-height: 16px;
            color: $color-text-secondary;

            > a{
                color: $color-brand-primary;
              }

            > span{
              font-size: 13px;
              line-height: 16px;
              color: $color-text-secondary;
              > a{
                color: $color-brand-primary;
              }
            }
          }

          > a {
            color: $color-brand-primary;
          }
      }

      > h3 {
          font-size: 13px;
          line-height: 16px;
          color: $color-text-secondary;
      }

      &:before {
        content: '';
        width: 7px;
        height: 7px;
        background-color: $color-divider-secondary;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 5px;
        left: -20px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    &--secondary{
      li{
        &:before{
          background-color: $color-text-tertiary;
        }
      }
    }

    li + li {
      margin-top: 0;
    }
  }
}

// sold out pages

  .sold-out {
    position: fixed;
    width: 100%;
    top: 94px;
    background-color: #fcf8e3;
    font-weight: $font-weight-semibold;
    padding: 12px 0;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.20);
    z-index: 9;

      &__txt{
        font-size: 16px;
        text-align: center;
        line-height: 1;
        color: #825c02;
      }
  }

  .similar-offers-wrapper {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: #f1f1f1;
    bottom: 0;
    padding: 30px 0;
    max-height: 78px;
    box-shadow: 0 -2px 22px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;

    .hide-icon {
      width: 20px;
      height: 10px;
      background: url(//d2zy2ox515891i.cloudfront.net/static/images/down_arrow.svg) no-repeat;
      transform: rotate(180deg);
      display: inline-block;
      background-position: center;
      background-size: 22px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    &.show {
      max-height: 454px;

      .hide-icon {
        transform: rotate(0);
      }
    }

    .card-slide-wrapper {
      padding-top: 18px;
    }
  }

  .similar-offers {
    height: 414px;
  }

  .sold-out-message {
    position: relative;
    height: 384px;
  }
  .sold-out-inner {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
