.hero-banner {
  &__search {

    .loader {
      top: 14px;
    }

    .hero-search-group{
      display: table;
      width: 100%;

      .hero-search-input {
        display: table-cell;
        height: 60px;
        position: relative;
        // &:before{
        //   content: '';
        //   position: absolute;
        //   background: url(//res4.nbstatic.in/static/images/city-search.svg) no-repeat;
        //   background-size: 100%;
        //   background-position: center center;
        //   height: 24px;
        //   width: 24px;
        //   top: 50%;
        //   left: 14px;
        //   transform: translateY(-50%);
        // }
      }

      .hero-search-button{
        display: table-cell;
        vertical-align: top;
        width: 1%;

        .btn--primary{
          display: block;
          box-shadow: none;
          border-radius: 0 4px 4px 0;
          padding: 20px 30px;
          text-transform: capitalize;
          height: 60px;
        }
      }
    }
  }
}