
.travel-filter-wrapper {
  .count{
    font-size: 12px;
    color: $color-text-secondary;
  }
  .view-more {
    display: block;
    margin-top: 12px;
  }
}
.filter-location{
  input[type="search"] {
    font-size: 12px;
    padding: 12px;
  }
}
