
.location-cards, .collection-cards {
  .card {
    &__inner {
      &:hover{
        box-shadow: 0 1px 5px #ccc;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      a{
        display: block;
      }
    }

    &--secondary {
      .card__inner {
        // border: 1px solid #e0e0e0;
        // border-radius: 5px;

        &:hover {
          box-shadow: 0 1px 25px rgba(153, 153, 153, 0.5);
        }
      }

      .card__overlay {
        box-shadow: inset 0 -30px 100px #000000;
      }

      .card__description {
        .list-inline li {
          &:last-child {
            border: none;
            padding-right: 0;
            margin-right: 0;
          }
        }
      }

      .texticon-group__icon {
        padding-right: 6px;
        padding-top: 0;
        vertical-align: middle;
      
         img{
          height: 15px;
          width: 15px;
        }
      }
      .texticon-group__content {
        padding-top: 3px;
      }
    }
  }
  .nav-pane button {
    top: 50%;
  }
}

.collection-cards {
  .nav-pane {
    .prev {
      left: -10px;
    }

    .next {
      right: -10px;
    }
  }
}

.icon-deal {
  font-size: 12px;
  color:#fff;
}