// ticketing
.ticketing {
  .card-head {
    border-bottom: 2px solid $color-divider-secondary;
  }

  .block-collapsible {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 18px;
  }
  .venue {
    margin-top: 18px;
    &__image {
      position: relative;
      overflow: hidden;
      padding-top: 60%;
      img {
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: 2px;
      }
    }

    &.collapsible {
      max-height: 235px;
      overflow: hidden;
      margin-bottom: 12px;
      + .opener{
        transform: translate(-50%,-50%) !important;
        -webkit-transform: translate(-50%,-50%) !important;
        -moz-transform: translate(-50%,-50%) !important;
        -ms-transform: translate(-50%,-50%) !important;
        -o-transform: translate(-50%,-50%) !important;
      }
    }
    .more-data {
      opacity: 0.50;
    }
  }
}

.opener {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
    background: url(//res4.nbstatic.in/static/images/nb-ico-sprite4.png) no-repeat #e0e0e0;
    cursor: pointer;
    background-position: 15px -2094px;
}