
.login-modal {
  z-index: 1000;
  .modal {
    max-width: 440px;
  }

  .modal__header {
    padding: 18px 24px 0;
  }

  .modal__body {
    padding: 0 24px 18px ;
  }

  .login-popup, .sign-up-poup{
    padding-top: 12px;
  }

  .login-tabs {
    li {
      margin-right: 24px;
      display: inline-block;
      padding: 0 0 6px;
      color: $color-text-tertiary;
      cursor: pointer;
      font-size: 16px;
      line-height: 1.6;
    }
    li.active {
      color: $color-text-primary;
      border-bottom: 3px solid $color-brand-primary;
    }
  }
}
