.login-modal {
  .signin-card {
    background-color: $color-white;
    padding: 18px 24px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .has-error {
    .form-control {
      &:focus {
        border-color: $color-brand-primary;
      }
    }
  }

  .secondary-links {
    a {
      color: $color-brand-tertiary;
      &:hover {
        color: $color-brand-primary;
        text-decoration: underline;
      }
    }
  }

  .login-popup {
    padding-top: 6px;
  }

  .signup {
    padding-top: 6px;
  }

  .field-group {
    label {
      margin-bottom: 3px;
    }
    &:first-child {
      margin-top: 0px;
    }
  }
}