

#locationContainer{
  .modal__header h5{
    font-size: 16px;
    color: $color-black;
    font-weight: 300;
  }
  
  .menu-header{
    display: inline-block;
    padding-right: 12px;
    font-size: 16px;
    color: $color-text-primary;
    font-weight: 600;
    &:after{
      content: '';
      border-color: $color-white;
    }
  }

  .nb-checkbox__text, .count{
    color: $color-text-secondary;
  }
}
