
// user newsletter css
// .user{
//   margin-top:78px;
// }

.user-newsletter{
  label{
    display: block;
    color:#666;
    font-size: 13px;
  }
  .btn--small {
    padding: 12px 18px;
  }

  // user newsletter location box
  &__location{
    background: $color-white;
    border:1px solid #aaa;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
    border-radius: 4px;
    padding: 12px;
    li{
      width:calc(100% - 84%);
      //margin-bottom: 12px;
    }
    li:first-child{
      display: block;
    }
    label{
      display: inline-block;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.newsletter-img {
  background: url('//res4.nbstatic.in/static/images/nl.svg') no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100px;
  margin: 0 auto 24px;
}


