
.no-search-result {
  text-align: center;
  padding: 48px 0 60px;

  &__img {
    img {
      height: 120px;
      width: 120px;
    }
  }

  &__text {
    .searched-term {
      color: $color-text-primary;
      &::before {
        content: '"';
      }
      &::after {
        content: '"';
      }
    }
  }
}