// @import "../../../../static/styles/settings";
// @import "../../../../static/styles/tools";
// @import "../../../common/components/dealcard/dealcard.component";
// @import "../../../common/components/promo-banner/promo-banner.component.scss";


.occasion-landing {
  .html {
    background-color: #f1f1f1;
  }

  .occasion-collection {
    position: relative;
    padding-top: 30px;
    border-bottom: 1px solid #E4E4E4;
    &__inner {
      position: relative;
      max-width: 1440px;
      margin: 0 auto;
    }
    .card__inner {
      box-shadow: 0 2px 0 0 $color-divider-secondary;
      .btn--secondary {
        -moz-transition: all 0.25s ease-out;
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        &:hover {
          background-color: $color-brand-primary;
          color: $color-white;
        }
      }

      .texticon-group__icon {
        padding-right: 6px;
        padding-top: 0;
        vertical-align: middle;
      
        img{
          height: 17px;
          width: 17px;
        }
      }
      
      .texticon-group__content {
        padding-top: 3px;
      }
    }
  }

  .occasion__content {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
  }

  .negative-margin {
    margin-top: -50px;
    .block:last-child{
      margin-bottom: 36px;
    }
  }

  // promo offers
  .occasion-promo {
    display: table;
    table-layout: fixed;
    width: 100%;

    &__desc {
      display: table-cell;
      width: 308px;
      vertical-align: middle;

      p {
        font-weight: 600;
        color: #333;
        margin-bottom: 6px;

        &:nth-child(2) {
          font-weight: 700;
          text-transform: uppercase;
          line-height: 30px;
          margin-bottom: 36px;
        }
      }
    }

    &__content {
      display: table-cell;

      .offer-card {
        box-shadow: none;
        padding: 0;
        border: 1px solid #e5e5e5;

        &__heading {
          font-size: 54px;
        }

        &__content {
          display: inline-block;
          width: initial;
          padding: 12px;

          &:last-child{
            margin-right: 0;
          }
        }

        &__desc {
          width: 205px;
          max-width: 205px;
        }

        &__footer {
          padding: 6px 12px;
          background: #f1f1f1;
          border-top: 1px solid #e5e5e5;
        }
      }
    }
  }


  // Payment offers new css
  .payment-offers{
    text-align: center;
    padding-bottom: 44px;
    
    &__heading{
      p{
        font-weight: $font-weight-semibold;
        color: $color-text-primary;
        margin-bottom: 6px;
        &:nth-child(2){
          font-weight: $font-weight-bold;
          text-transform: uppercase;
          line-height: 30px;
          margin-bottom: 36px;
        }
      }
    }

    ul{
      font-size: 0;
    }

    .texticon-group{
      width: 100%;

      &__content{
        vertical-align: middle;
        text-align: left;
      }

      &__info{
        display: table-cell;
        vertical-align: middle;
        padding-left: 24px;
        position: relative;

        .addon {
          background: url("/src/static/images/information.svg") no-repeat;
          width: 15px;
          height: 15px;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }


  .btn--tertiary {
    border: 1px solid $color-text-tertiary;
    color: $color-text-secondary;
    box-shadow: none;
    transition: all 0.15s ease;
    
    &:hover {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }

    &.active {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }
  }

  // .block {
  //   // margin-bottom: 24px;
  //   &__inner {
  //     padding: 18px 30px;
  //   }
  // }


  // payment-offer-modal
  .payment-offer-modal {
    .modal__body {
      max-height: 320px;
      overflow: auto;
    }
  }
}