// .deal-detail-local , .popup {
//   .option	{
//     .option-list-wrapper {
//       width: 36px;
//     }

//     &__list {
//       background-color: $color-text-quaternary;
//       color: $color-text-primary;
//       border: solid $color-divider-secondary;
// 			border-width: 0 1px 1px 0;
//       padding: 6px 12px;
//       height: 36px;
//       width: 36px;
//       display: inline-block;
//       border-radius: 0 0 4px;
//       line-height: 1.3;
//     }

//     &__title {
//       color: $color-text-primary;
//       line-height: 20px;
//       white-space: pre-wrap;
//       max-height: 48px;
//       height: 48px;
//     }

//     &__validity {
//       white-space: normal;
//       margin: 6px 0 0 0;
//       li {
//         padding-right: 12px;
//         margin-right: 12px;
//         border-right: 1px solid $color-divider-secondary;
//       }

//       li:first-child {
//         padding-left: 0;
//       }

//       li:last-child {
//         border-right: 0;
//       }

//       .field, .value {
//         font-size: 12px;
//         line-height: 18px;
//       }

//       .field {
//         color: $color-text-tertiary;
//       }

//       .value {
//         color: $color-text-primary;
//         font-weight: $font-weight-semibold
//       }
//     }

//     .sold-out {
//       p {
//         line-height: 18px;
//       }
//       span {
//         font-size: 11px;
//         color: $color-text-tertiary;
//         display: inline-block;
//         line-height: 14px;
//       }
//     }

//     .price {
//       .actual-price {
//         font-size: 12px;
//         color: $color-text-tertiary;
//         font-weight: 100;
//         line-height: 1;
//       }
//       // .discounted-price {
//       //   //font-size: 20px;
//       // }
//     }

//     .quantity, .price {
//       display: inline-block;
//       vertical-align: middle;
//       &__dec, &__inc {
//         height: 30px;
//         width: 30px;
//         background: $color-brand-primary;
//         color: white;
//         font-size: 18px;
//         padding: 6px;
//         line-height: 1;
//         float: left;
//       }

//       &__dec {
//         border-top-left-radius: 2px;
//         border-bottom-left-radius: 2px;
//       }

//       &__inc {
//         border-top-right-radius: 2px;
//         border-bottom-right-radius: 2px;
//       }

//       &__count {
//         font-size: 16px;
//         padding: 0 6px;
//         float: left;
//         line-height: 1.6;
//         color: $color-text-secondary;
//         border-top: 2px solid $color-divider-secondary;
//         border-bottom: 2px solid $color-divider-secondary;
//         height: 30px;
//         min-width: 30px;
//       }
//     }

//     .btn--disabled {
//       background-color: $color-divider-secondary;
//       border-color: $color-divider-secondary;
//     }
//   }
// }

///**===================  POPUP STYLE ===============================**/

.offer-menu-slider {

  .modal__header {
    padding: 0;
    padding-left: 12px;
  }

  .tabs-menu {
    padding: 0;
    margin:0;

      li {
        padding: 4px 0;
        top: 0;
        border-radius: 0;
        border-top: 4px solid transparent;

      &.current {
        border: none;
        border-top: 4px solid $color-brand-primary;
      }

      &:first-child {
        border-radius: 4px 0 0 0;

        &.current {
          border-radius: 4px 0 0 0;
        }
      }
    } 
  }

  .modal__body {
    li {
      width: 100%;
    }
  }
}
