@import './../settings.scss';
.offer-section {
  .orders {
    &__list p{
      font-size: 12px;
      line-height: 18px;
    }

    &__total {
      margin-bottom: 18px;
      p {
        font-size: 16px;
        font-weight: 600;
        color: $color-text-primary;
      }

      &--empty p{
        color: $color-text-tertiary;
      }
    }

    &__buy {
    margin: 18px 0;
    }

    &__discount {
      background-color: $body-bg;
      border: 1px solid $color-divider-secondary;
      border-radius: 4px;
      padding: 12px;

      p:first-child {
        line-height: 18px;
        color: $color-text-primary;
        font-weight: $font-weight-bold;
        margin-bottom: 6px;
      }
      p:not(:first-child) {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .per-order-quant {
      color: $color-text-primary;
      font-weight: $font-weight-semibold;
      margin-right : 18px;
    }

    .per-order-price {
      font-size: 13px;
      color: $color-text-secondary;
      font-weight: $font-weight-semibold;
    }
  }

  .o-sold-out {
    .offer__status {
      margin-bottom: 12px;
    }
  }


  .block{
    &__header{
      background-color: #e0e0e0;
    }
    .datepicker {
      background: url("//res4.nbstatic.in/static/images/date-picker-icon.png") no-repeat;
      background-size: 100%;
      height: 32px;
      width: 28px;
      display: block;
    }
  }
}

