
// payment discount
.payment-discount{
  background: url("//res4.nbstatic.in/static/images/offer-icon.png") no-repeat 12px 15px #f1f1f1;
  padding: 12px 18px 18px 60px;
  border-radius: 4px;
  p{
    font-size: 13px;
  }
  a{
    font-size:13px;
    color:$color-text-tertiary;
    &:hover{
      text-decoration: underline;
      color:$color-brand-primary;
    }
    &:hover .info-circle{
      background: url("//res4.nbstatic.in/static/images/information_hover.svg");
      display: inline-block;
    }
  }
  &__heading{
    font-size: 16px!important;
    color: #22517f;
    font-weight: $font-weight-semibold;
  }
  &__offer{
    position: relative;
    p{
      display: inline-block;
    }
  }
  .info-circle{
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
    margin-left: 6px;
    background: url("//res4.nbstatic.in/static/images/information.svg");
  }
  .tooltip-popover-wrapper{
    .tooltip-popover--left{
      left: -17px;
    }
  }
}
