//tabs styling modified for my-orders page
// .tabs-container {
//   background-color: transparent;
//   .current {
//     > a, span {
//       color: $color-brand-primary;
//     }
//   }
// }

.user {
  .sort-buttons {
    a {
      display: inline-block;
      font-size: 11px;
      padding: 6px;
      border-radius: 4px;
      background: $color-white;
      color: $color-text-secondary;
      border: solid 1px #ccc;
      margin-left: 3px;
      margin-right: 0;
      margin-bottom: 0;
    }
    a.active {
      background: $color-brand-primary;
      color: $color-white;
      border: solid 1px $color-brand-primary;
    }
  }
}


