// .voucher-count {
//   position: relative;
//   margin: 0 6px;
//   color: $color-text-primary;
//   display: inline-block;
//   vertical-align: top;

//   &:before, &:after {
//     position: absolute;
//     top: 50%;
//     -ms-transform: translateY(-50%);;
//     -moz-transform: translateY(-50%);
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
//     line-height: 1.6;
//   }

//   &:before {
//     content: '(';
//     left: -4px;
//   }

//   &:after {
//     content: ')';
//     right: auto;
//   }
// }


//new design css start
.my_orders {
  .block {
    &__header , &__inner {
      padding: 12px 18px;
    }
  }
  .btn {
    font-size: 11px;
    padding: 6px 12px;
  }

  &__details {
    .details-head {
      font-size: 13px;
      color: $color-text-tertiary;
      font-weight: $font-weight-bold;
    }
    .details-data {
      font-size: 12px;
      color: $color-text-primary;
      span {
        font-size: 12px;
      }
    }
    .my_orders-options {
      padding-top: 12px;
      p {
        line-height: 18px;
      }
      .row {
        padding-bottom: 18px;
        &:last-child {
          padding-bottom: 0;
        }
      }

      .ellipsis-on-tab {
        max-width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
        @media (min-width: to-em($breakpoint-desktop)) {
          white-space: inherit;
          display: block;
        }
      }
    }
  }
}
//new design css end

// .user{
//   margin-top:78px;
//   min-height:247px;
// }