// order summary css
.order-summary {
  margin-top:74px;
}

.card-heading {
  margin: 18px 0;
}

.payment {

  .card__inner {

    &--no-hover {
      transform: none;
      box-shadow: rgba(0, 0, 0, 0.04706) 0 2px 3px 0;
    }

    &-content {
      padding: 18px;
    }
  }

  #accordion {
    .card__inner {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: 2px solid $color-divider-secondary;
    }
    .user-detail {
      margin-left: 18px;
      padding-left: 18px;
      border-left: 1px solid $color-divider-secondary;
      p:first-child {
        margin-bottom: 3px;
      }
    }
  }
}



// offer image section (header)
.offer{

  .card__inner-content {
    padding: 18px;
  }

  .card__image {
    max-height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0 0;
    img {
      display: block;
      border-radius: 4px 4px 0 0;
    }
  }
  .card__overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 52%,rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 52%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 52%,rgba(0,0,0,0.7) 100%);
  }
  .card__main-heading {
    font-size: 16px;
    position: absolute;
    bottom: 18px;
    left: 0;
  }
}


// offer content section (footer)
// .offer{
//   &-content{
//     &__actual-price{
//       font-size:12px;
//       text-decoration: line-through;
//     }
//   }
//   &-coupon {
//     text-decoration: underline;
//     color: $color-brand-primary;
//     font-size: 13px;
//     // &:hover{
//     //   text-decoration: none;
//     //   color: #22517f;
//     // }
//   }
// }

// payment error banner
.payment-error-banner{
  background: #757575;
  padding: 30px 0;
  margin-top: 60px;
  position: relative;
  .error-btn{
    background: $color-white;
    color: $color-text-primary;
    font-weight: $font-weight-semibold;
  }
  .close{
    position: absolute;
    right: 30px;
    top: 10px;
    span{
      font-size: 40px;
      color: $color-white;
      opacity: 0.40;
    }
  }
}
