.pal {
  background: #d3f1ee; /* Old browsers */
  background: -moz-linear-gradient(top, #d3f1ee 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d3f1ee 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d3f1ee 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3f1ee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  &__content {
   padding: 70px 0;
   @media (min-width: to-em($breakpoint-desktop)) {
     padding: 70px 117px;
    }
  }

  &__intro {
    font-size: 18px;
    color: #333;
    max-width: 350px;
    line-height: 30px;
  }

  &__input {
    input{
      background: transparent;
      border-radius: 4px 0 0 4px;
      border-right: 0;
      padding: 6px;
      &:focus {
        border-color: #e0e0e0;
      }
    }
  }

  &__edit {
    padding: 0 12px;
    border: 1px solid #e0e0e0;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    cursor: pointer;
  }
}