.payment-proceed {
  &--disable{
    opacity: 0.30;
    pointer-events: none;
  }
  &__navigation{
    min-width: 130px;
    overflow: hidden;
    display: table-cell;
    width: 124px;
    vertical-align: top;
    li{
      position:relative;
      padding:18px;
      margin-bottom:0;
      background: $color-divider-secondary;
      font-size:13px;
      color:$color-text-primary;
      border-bottom:1px solid $color-text-quaternary;
      cursor: pointer;
      border-left:1px solid #e1e9ec;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      &:hover{
        background-color: #f3f3f3;
      }
      &.active{
        background-color: $color-white;
        border-left-color: $color-brand-primary;
        color: $color-brand-primary;

      }
      // &:after{
      //   content: '';
      //   background: url("//res4.nbstatic.in/static/images/arrow.svg") no-repeat -2px 0;
      //   width: 8px;
      //   height: 14px;
      //   background-size: 14px;
      //   position: absolute;
      //   top: 50%;
      //   right: 12px;
      //   transform: translateY(-50%);
      //   -webkit-transform: translateY(-50%);
      //   -ms-transform: translateY(-50%);
      //   -moz-transform: translateY(-50%);
      //   -o-transform: translateY(-50%);
      // }

      .icon-arrow_right {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        color: #666;
      }

      &:hover {
        .icon-arrow_right {
          color: #333;
        }
      }
    }
  }
}

.payment-proceed {
  .has-offer {
    background: url("//res4.nbstatic.in/static/images/offer.svg") no-repeat -2px 0 $color-divider-secondary;
    background-size: 42px;
  }

  &__content-wrapper {
    background: $color-white;
    display: table-cell;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
    padding: 12px 18px 24px 18px;
    width: 100%;
    position: relative;
  }
  &__content {
    min-height: 362px;
    label {
      font-size: 13px;
    }
    .bank-btn {
      padding: 12px 6px 12px 36px;
      height: 54px;
      background-color: $color-white;
      border:1px solid $color-divider-secondary;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      line-height:24px;
      .nb-radio__bg{
        position: absolute;
        left: 12px;
        top: 32%;
      }
      .border{
        border: 2px solid $color-brand-primary;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: none;
        right: 0;
        border-radius: 4px;
      }
      &:hover{
        border: 1px solid $color-brand-primary;
      }
      img{
        vertical-align: middle;
      }
      & input:checked  {
        ~.border {
          display: block;
        }
      }
    }
    .wallet-btn{
      height:67px;
      background: #f3f3f3;
      line-height:30px;
    }
  }
}

