.filter-pricing-wrapper {
  .filter-pricing-heading {
    padding-bottom: 6px;
    font-size: 18px;
    border-bottom: 1px solid $color-divider-secondary;
  }

  ul li {
    margin-bottom: 6px;
  }

  .count {
    font-size: 12px;
    color: $color-text-secondary;
  }

  label {
    // font-size: 13px;
    color: $color-text-primary;
    cursor: pointer;
    margin-bottom: 6px;
    display: block;
  }
  .range-input {
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    line-height: 1;
    width: 42%;
    display: inline-block;
  }
  .range-separator {
    line-height: 36px;
    margin: 0 5px;
  }
  .apply-btn {
    color: $color-brand-primary;
    font-size: 12px;
  }
  .price-range-label {
    font-size: 12px;
  }
}

