.occasion {
  // padding-top: 64px;
	// padding: 36px;
	padding: 0 36px 0 36px; // for new SF
	max-width: 1440px;
	margin: 0 auto;

	// .block {
  //   margin-bottom: 24px;
  //   overflow: hidden;
	// }
	
	&__content-wrapper{
		// margin-left: 60px;
		margin-top: -50px; //it should be there only for open template of SF
		.btn {
			&:hover, &:active, &:focus {
				box-shadow: none;
        color: $color-white;
			}
		}
	}

	&__logo {
		height: 180px;
		overflow: hidden;

		img {
			// height: 100%;
			display: block;
		}
	}

	&__event {
	  margin: 30px 0 0 !important;

	  li {
	    position: relative;
	    margin-right: 36px;
	    padding-right: 36px;

			&:after{
				position: absolute;
				content: '';
				height: 100%;
		    width: 1px;
		    background: linear-gradient(#010026, #fff, #010026);
				top: 0;
				right: 0;
			}

	    &:last-child {
	      margin-right: 0;
				padding-right: 0;

				&:after{
					background: transparent;
				}
	    }
	  }

    .cashback-text {
      font-size: 18px;
      color: $color-white;
      width: auto;
    }
	}

	&__counter {
	  font-size: 36px;
	  font-weight: 700;
	  line-height:1;
	  position: relative;
	  transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;

	  span {
	    font-size: 14px;
	    line-height: 1;
	    display: inline-block;
	    width: 18px;
	    color: $color-white;
	  }
	}

	&__text {
	  font-size: 16px;
	  font-weight: 100;
	  color: $color-white;
	  margin-top:6px;
	}

	&__collection {	
		margin-top: -60px;
		position: relative;
		&:after {
			content: '';
			background-color: #fff;
			height: 100%;
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: -1;
		}

		.card-slide-wrapper {
			padding-top: 0;
			> .row {
				margin-left: 0;
				margin-right: 0;
			}
		}
		.card__inner {
			border: 0;
			margin-bottom: 0;
      // box-shadow: 0 2px 0 0 $color-divider-secondary;
			.btn--secondary {
        -o-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
	      -moz-transition: all 0.25s ease-out;
	      -webkit-transition: all 0.25s ease-out;
	      transition: all 0.25s ease-out;
	      &:hover {
	        background-color: $color-brand-primary;
	        color: $color-white;
	      }
	    }
		}
		.collection-cards {
			.card__inner {
				border: 0;
			}
		}
	}

	.olp-content {
		margin-top: 0 !important;
		padding: 0;
	}
}

// .btn {
// 	&--tertiary {
//     background: $color-white;
//     border-radius: 24px;
//     padding: 15px 36px;
//     font-size: 15px;
//     font-weight: bold;
//   }
// }


