@import './../settings.scss';
// .section-spacing {
//   margin: 60px 0 0;
// }

// .section-spacing {
//   padding: 0 0 18px 0;
// }

// .card--tertiary {
//   box-shadow: 0 2px 15px rgba(0,0,0,0.25);
//   &:hover {
//     // box-shadow: none;
//     transition: none;
//   }
//   .card__inner {
//     background-color: $color-white;
//     box-shadow: none;
//     &:hover{
//       box-shadow: none;
//       transform: none;
//     }
//   }
// }

// .card-slide-wrapper {
//   position: relative;
//   white-space: nowrap;
// }

// .nav-pane  {
//   button {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     height: 60px;
//     width: 30px;
//     background-color: $color-white;
//     text-indent: -999px;
//     //padding: 6px 12px 6px 0;
//     box-shadow: 0 0 6px rgba(0,0,0,0.2);
//     text-align: center;
//   }

//   img {
//     display: block;
//   }

//   .prev img {
//     transform: rotate(180deg);
//   }

//   .prev {
//     transform: translateX(-50%) translateY(-50%);
//   }
//   .next {
//     right: 0;
//     transform: translateX(50%) translateY(-50%);
//   }
// }

.offer-banner {
  display: table;
  table-layout: fixed;
  width: 100%;

  &__desc {
    display: table-cell;
    //vertical-align: top;
    vertical-align: middle;
    width: 300px;
    //padding: 25px 0 18px;
    padding: 20px;
    background: url(//res4.nbstatic.in/static/images/BG-PNG.png) no-repeat -20px -20px  $color-brand-secondary;
  }
  &__heading {
    line-height: 1;
    text-shadow: 0 2px rgba(11,122,109, 0.3);
    letter-spacing: 2px;
    font-weight: $font-weight-bold;

    span {
      display: block;
      font-size: to-em(12);
      color: $color-white;
    }
  }
  &__slider {
    display: table-cell;
    width: 100%;
    position: relative;
    vertical-align: middle;
  }

  &__slider-wrapper {
    white-space: nowrap;
    overflow: hidden;
  }
  &__slider-element {
    display: inline-block;
    width: 475px;
    position: relative;
    .info-icon{
      position: absolute;
      right: 12px;
      top: 12px;
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
  }
  .promo-offer-text {
    color: $color-white;
    font-size: 13px;
  }
}

.offers-card {
  //padding: 31px 24px;
  padding: 19px 30px;
  box-shadow: 5px 0 18px rgba(0,0,0,0.1);


  &__content {
    display: table-cell;
    white-space: normal;
    // display: -moz-inline-box;
  }

  &__left{
    width: 37%;
    padding-right: 18px;
    @media (min-width: to-em($breakpoint-thunderbolt)) {
      width: 35%;
    }
  }
  &__right{
    width: calc(100% - 35% - 23px);
  }

  &__value {
    float: left;
    //margin-right: 18px;
  }

  &__heading {
    line-height: 1;
    margin: 0;
    font-size: 60px;
    font-weight: $font-weight-semibold;
  }

  &__operator {
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    display: inline-block;
  }

  &__txt {
    margin: 0;
    font-size: 18px;
    display: block;
    font-weight: $font-weight-semibold;
    text-align: right;
    color: $color-text-primary;
    text-transform: uppercase;
    padding-top: 4px;
  }

  &__desc {
    //overflow: hidden;
    border-left: 1px solid $color-divider-secondary;
    padding-left: 18px;

    > p {
      height: 32px;
      max-height: 32px;
      overflow: hidden;
    }
  }
}

.coupon {
  position: relative;
  display: block;
  max-width: 220px;

  &__code {
    border: 1px dashed $color-divider-secondary;
    float: left;
    padding: 9px 12px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: $color-brand-primary;
    cursor: pointer;
  }

  &__btn {
    vertical-align: middle;
    background-color: $body-bg;
    border: 1px solid $color-divider-secondary;
    border-left: 0;
    border-radius: 0 2px 2px 0;
    font-size: 13px;
    padding: 9px 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #666;
    /*svg {
      -o-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
    }*/
  }
}

.offer-validity {
  p, button {
    display: inline-block;
  }
}

.offer-tag {
  font-size: 11px;
  color: $color-white;
  background-color: $color-brand-quaternary;
  display: inline-block;
  padding: 6px 6px 8px;
  border-radius: 2px 0 0 2px;
  position:relative;
  padding-right: 15px;
  line-height: 1;

  &:after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    right: -9px;
    top: 4px;
    background-color: $color-brand-quaternary;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 0;
  }
  &:before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: $color-white;
    position: absolute;
    right: -2px;
    top: 9px;
    z-index: 2;
    border-radius: 50%;
  }

  &--secondary {
    background-color: $color-brand-tertiary;

    &:after {
      content: '';
      background-color: $color-brand-tertiary;
    }
  }
}


//Bank Offer Modal
.promo-offer-modal {
  .modal--md {
    // top: 10%;
    // -moz-transform: translate(-50%, -10%);
    // -webkit-transform: translate(-50%, -10%);
    // transform: translate(-50%, -10%);
    @media (min-width: to-em($breakpoint-thunderbolt)) {
      max-width: 768px !important;
    }
  }

  // .modal__body {
  //   max-height: 433px;
  //   min-height: 247px;
  //   overflow: scroll;
  // }

  .offer-banner__slider-element {
    display: block;
    width: 100%;
    padding: 18px 24px;
    border: 1px solid $color-divider-secondary;
    box-shadow: 0 2px 0 0 $color-divider-secondary;
    border-radius: 2px;
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .offers-card {
    padding: 0;
    box-shadow: none;
    display: table;
    width: 100%;
  }

  .offers-card__value {
    //width: 216px;
    //max-width: 216px;
    .offer-tag {
      display: block;
      width: 81px;
    }
    .offers-card__heading {
      display: inline-block;

    }
  }

  //.coupon {
  //  width: 180px;
  //  max-width: 180px;
  //}

  .offers-card__content.right {
    border-right: 0;
    vertical-align: top;
    padding-left: 24px;
    border-left: 1px solid $color-divider-secondary;
    margin-left: -5px;
  }

  .offers-card__desc {
    border-left: 0;
    padding-left: 0;
  }
}
