// .nb-promise{
//   display: table;
//   background-color: $color-white;
//   margin-bottom: 24px;
//   border: 1px solid #e0e0e0;
//   width: 100%;
//   table-layout: auto;
// }

// .nb-promise__content{
//   display: table-cell;
//   //vertical-align: top;
//   vertical-align: middle;
// }

// .promise-right-container{
//   padding: 18px 6px;
//   .promise-tag{
//     color: $color-text-primary;
//     font-size: 12px;
//     line-height: 20px;
//     text-transform: uppercase;
//     font-weight: $font-weight-bold;
//   }
// }

// .nb-promise-img{
//   display: block;
//   height: 100%;
//   width: 215px;
// }


// .nb-promise-img{
//   display: block;
//   height: 100%;
//   width: 215px;
// }

// //Travel deal detail nearbuy promise
// :host-context(.promise-popup) .wrapper {
//   padding: 0;
// }

// :host-context(.promise-popup) .nb-promise {
//   margin: 0;
//   border-radius: 8px;
//   border: 0;
//   background-color: transparent;
// }

// :host-context(.promise-popup) .nb-promise__content img {
//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
// }

// .nb-reply {
//   padding: 6px 0;
//   @media (min-width: to-em($breakpoint-thunderbolt)) {
//     padding: 12px 0 6px;
//   }
// }

// .section-spacing {
//   margin: 60px 0 0;
// }

.section-spacing {
  padding: 0 0 18px 0;
 }

.card--hiw {
  margin-bottom: 24px;
  @media (min-width: to-em($breakpoint-desktop)) {
    margin-bottom: 0;
  }

  .card__inner {
    background: url(//res4.nbstatic.in/static/images/hiw-bg.png) no-repeat center center;
    background-size: 100% 100%;
    height: 152px;
    box-shadow: 0 0 20px rgba(0,0,0,0.10);
    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,0.10);
      transform: none;
    }
  }

  button {
    text-transform: initial;
  }
}

.card--promise {
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  .card__inner {
    position: relative;
    overflow: hidden;
    height: 152px;
    display: table;
    width: 100%;
    background: $color-white;
    padding: 16px 0;
    margin-bottom: 0;
    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,0.10);
      transform: none;
    }
    &:after {
      content: '';
      background: url(//res4.nbstatic.in/static/images/nb-promise-bg.svg) no-repeat right top;
      background-size: 150px;
      position: absolute;
      width: 151px;
      height: 180px;
      top:-28px;
      right: -10px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      opacity: 0.1;
    }
   }

  &__logo {
    max-width: 173px;
    padding: 0 18px 0 18px;
    display: table-cell;
    vertical-align: middle;
    min-width: 173px;

    img {
      vertical-align: middle;
    }
  }
  &__content {
    border-left: 1px solid $color-divider-secondary;
    overflow: hidden;
    display: table-cell;
    padding: 0 20px;

    ul {
      margin: 12px 0;
    }
    li {
      font-size: 13px;
      color: $color-text-secondary;

      + li {
        margin-top: 3px;
      }
    }
    ul.list-style-disc {
      li {
        margin-top: 3px;
        margin-bottom: 0;

        .icon-check {
          padding-right: 10px;
          font-size: 9px;
        }
        &:before {
          content : none;
        }
      }
    }
  }
}

