@import './../settings.scss';
/*-----=====PROMO BANNER=====-----*/
.promo-banner-wrapper {
  .card--tertiary {
    box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    
    &:hover {
      transition: none;
    }
    
    .card__inner {
      background-color: $color-white;
      box-shadow: none;
      overflow: initial;

      &:hover {
        box-shadow: none;
        transform: none;
      }
    }
  }

  .promo-banner {
    width: 100%;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    background: url("//res4.nbstatic.in/static/images/promo-pattern-1.svg") no-repeat $color-white;

    &.less-offers {
      .promo-banner__desc {
        background: none;
        // height: 216px;
        height: 236px;
        // padding: 45px 18px 45px 42px;
        padding: 60px 18px 60px 42px;
      }
      +.nav-pane {
        button{
          display: none;
        }
      }
    }

    &.more-offers {
      .promo-banner__desc {
        background: url("//res4.nbstatic.in/static/images/promo-pattern-1.svg") no-repeat $color-white;
        z-index: 9;
      }
    }

    &__desc {
      display: inline-block;
      vertical-align: middle;
      width: 280px;
      // padding: 30px 18px 30px 42px;
      padding: 40px 18px 40px 42px;
      position: relative;
      &:after {
        content: '';
        background-image: linear-gradient(to bottom, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.2) 50%, hsla(0,0%,0%,0) 100%);
        height: 236px;  
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &__heading {
      color: $color-text-primary;
      font-size: 65px;
      font-weight: 600;
      line-height: 49px;
    }

    &__element {
      display: inline-block;
      vertical-align: middle;
      width: 442px;
      padding: 0 24px 0 0;
      @media (min-width: to-em($breakpoint-desktop)) {
        width: 352px;
      }
      @media (min-width: to-em($breakpoint-thunderbolt)) {
        width: 412px;
      }
    }

    &__slider-wrapper {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      white-space: nowrap;
      padding-left: 18px;
    }

    &__slider {
      position: relative;
      white-space: nowrap;
      padding-left: 18px;
      // overflow: hidden;  
    }
  }

  .nav-pane {
    button {
      z-index: 10;
      top: 50%;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
      -ms-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
      }
    }
    .prev {
      left: 242px;
      @media (min-width: to-em($breakpoint-desktop)) {
        left: 252px;
      }
    }
    .next {
      right: -12px;
    }
  }
}

/*-----=====PROMO CARD=====-----*/
.promo {
	&__price{
		margin-bottom: 10px;
		span {
			font-size: 0.9em;
		}
		h4 {
			line-height: 22px;
		}
	}

	&__title{
		
		p{
			white-space: normal;
			height: 36px;
		}
	}

	&__off {
		color: #5ba4da;
		margin-bottom: 8px;
		height: 14px;
    	line-height: 14px;

		p {
			font-size: 11px;
			font-weight: 700;
			text-transform: uppercase;
			color: #5ba4da;
			line-height: 14px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 190px;

			@media (min-width:to-em($breakpoint-desktop)) {
				width: 100%;
			}
		}
	}

	&__code {
		padding-top: 6px;
		&__text {
			float: left;
			font-size: 12px;
			// line-height: 1;
			font-weight: $font-weight-semibold;
			text-transform: uppercase;
			color: $color-brand-tertiary;
			padding: 7px 12px;
			border: 1px dashed #bdbdbd;
			border-radius: 2px 0 0 2px;
		}
		&__copy {
			float: left;
			button {
				// padding: 9px 15px;
				padding: 7px 12px;
				margin: 0;
				border: 1px solid #bdbdbd;
				border-left: 0;
				background-color: $body-bg;
				// font-size: 12px;
				font-size: 13px;
				// line-height: 1;
				line-height: 13px;
				border-radius: 0 2px 2px 0;
				color: $color-text-secondary;
			}
		}
	}

	&__error{
		margin-bottom: 10px;
	}

	&__validity{
		p{
			font-size: 12px;
			font-weight: $font-weight-semibold;
		}
	}

	&__more{
		button {
			padding: 0;
			color: $color-brand-primary;
			font-weight: $font-weight-semibold;
			font-size: 12px;
		}
	}
	
	.icon-arrow_down {
		font-size: 9px;
    margin-left: 6px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.block {
		width: 100%;
		margin-bottom: 0;
		
		&__inner {

    		// min-height: 141px;
			min-height: 161px;

			&.block-category-img {

				-moz-background-size: 110px !important;
				background-size: 110px !important;
				-moz-background-position-x: right !important;
				background-position-x: right !important;
				-moz-background-position-y: 35px !important;
				background-position-y: 35px !important;
        background-position: right center;
				
				&.local-promo {
					background: url('//res4.nbstatic.in/static/images/local_promo.svg') no-repeat right center;
				}

				&.travel-promo {
					background: url('//res4.nbstatic.in/static/images/travel_promo.svg') no-repeat right center;
				}

				.promo__title {
					p {
						max-width: 240px;
					}
				}
			}
		}

		.spin-loader {
			width: 20px;
			height: 20px;
			border: 5px solid rgba(102, 102, 102, 0.30);
			border-top-color: $color-text-secondary;

			&-bg {
				color: $body-bg;
			}
		}
		
		&__footer {
			transition-property: max-height;
			-webkit-transition-duration: .9s;
			-moz-transition-duration: .9s;
			-o-transition-duration: .9s;
			transition-duration: .9s;
			overflow: hidden;

			&.show-less {
				max-height: 37px;
			}

			&.show-more {
				max-height: 1500px;

				.icon-arrow_down {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}

	.tooltip-wrapper {
		position: relative;
		.tooltip {
			width: 100px;
    	left: -39px;
		}
	}
}

/*-----=====PROMO SLIDER=====-----*/
.promo-slider-wrapper {

  .all-promo-wrapper {
    overflow: hidden;
    margin-bottom: 18px;

    .promo-wrapper {
      position: relative;
      white-space: nowrap;
      -ms-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      
      .promo-cont {
        display: inline-block;
        vertical-align: top;
        // margin: 0px 3px;
        width: 100%;
      }
    }
  }

  .nav-pane {
    button {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      top: 50%;
      border: 0;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
      transition: all 0.25s ease;
      
      .icon-arrow_right {
        font-size: 14px;
      }

      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
      }
    }
    .prev {
      left: -11px;
    }

    .next {
      right: -11px;
    }
  }
}


.promo-slider {
  .promo-banner {
    &__desc {
      display: none;
      height: 236px;

      @media (min-width: to-em($breakpoint-desktop)) {
        display: inline-block;
      }
    }

    &__element {
      width: 472px;
      @media (min-width: to-em($breakpoint-desktop)) {
         width: 442px;
      }
      @media (min-width: to-em($breakpoint-thunderbolt)) {
         width: 265px;
      }
      .promo-price {
        h4 {
          font-size: 21px;
        }
      }
    }
  }

  .nav-pane {
    .prev {
      left: -12px;
      @media (min-width: to-em($breakpoint-desktop)) {
        left: 252px;
      }
    }
  }
  
  .all-promo-wrapper {
    padding: 18px;
    @media (min-width: to-em($breakpoint-desktop)) {
      padding: 18px 0 18px 18px;
    }
  }
}