.qty-counter {
	overflow: hidden;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid $color-brand-primary;
  white-space: nowrap;
  position: relative;
  box-shadow: 0 2px 0 #b73b37;
    //border-bottom: 3px solid #b73b37;
    transition: all 0.25s ease;

	&__btn-increment, &__btn-decrement {
  	background-color: $color-brand-primary;
    font-size: 24px;
    line-height: 1;
    color: $color-white;
    font-family: $font-default-bold;
    margin: 0;
    width: 30px;
    height: 30px;
    padding:0;
    border-radius: 0;
    min-height: auto;

    // &:first-child {
    //   border-radius: 2px 0 0 2px;
    // }

    // &:last-child {
    //   border-radius: 0 2px 2px 0;
    // }

		&:disabled {
			background-color: $bg-primary;
			color: $color-text-tertiary;
		}
	}

	input {
		width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 1;
    border: 0;
    font-weight: 300;
    vertical-align: top;
    text-align: center;
    color: $color-text-secondary;
    border: 0;
    margin: 0;
    padding: 0;
	}

  &__btn-activate {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-family: $font-default-regular;
    color: $color-white;
    background-color: $color-brand-primary;
    border-radius: 1px;
    // display: none;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 0.9rem;
    align-items: center;
    // line-height: 2.5;

    // &:focus, &:active, &:hover {
    //   display: none;
    // }

    > span:last-child {
      font-size: 24px;
      line-height: 1.29;
    }
  }

  &.active {
    box-shadow: 0 0px 0 transparent;
    //border-bottom: 3px solid #b73b37;
    transition: all 0.25s ease;
    .counter__btn-activate {
      display: none;
    }
  }
}