.raffles {
  .card__discount {
    background-color: transparent;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    font-weight: 600;
    line-height: 1;
    width: 74px;
  }
  
  .nav-pane {
    .prev {
      left: -12px;
    }
    .next {
      right: -12px;
    }
  }

  .price p {
    line-height: 1.2;
  }

  .awesome-offers {
    display: none;
    @media (min-width: to-em($breakpoint-desktop)) {
      display: block;
      background: url('//res4.nbstatic.in/static/images/raffles-pattern.png') no-repeat;
      background-size: cover;
      /*height: 219px;*/
      background-position: center center;
      position: relative;
      padding-top: calc(30% + 58px);
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }

  .counter {
    height: 33px;
    max-height: 33px;
    p {
      line-height: 36px;
    }
  }

  .more-offers {
    .card__inner {
      margin-bottom: 24px;
      @media (min-width: to-em($breakpoint-desktop)) {
        margin-bottom: 0;
      }
    }
  }
}