.location-address-list {
  ul {
    li {
      padding: 12px 22px;
      margin-bottom: 6px;
      cursor: pointer;
      background-color: $color-white;
      border-left: 4px solid $color-divider-secondary;
      //font-size: 12px;
      .location-text {
        color: $color-text-secondary;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    li.active {
      background-color: $color-text-quaternary;
      border-left: 4px solid $color-brand-secondary;
      font-weight: 600;
      .location-text {
        color: $color-text-primary;
      }
    }
  }
}


///**===================  POPUP STYLE ===============================**/
/*---Common css for slider start---*/
.location-popup {
  .close  {
    top: 18px;
    right: 18px;
    &:hover .close-icon{
    opacity: 1;
    }
  }
}
/*---Common css for slider end---*/


// specifically for location popup
.location {
  // location popup content
  &__cont{
    background-color: $color-white;
    width: 80%;
    margin: 0 auto;

    // map
    &__map {
      background: $color-divider-secondary;
      height: 100%;
      width: 100%;
      overflow: hidden;
      max-height: 640px;
      height: 640px;
    }

    // address list
    &__list {
      .location-address-header {
        background-color: $color-text-quaternary;
        padding: 18px;
        //p {
        //  font-size: 15px;
        //}
      }

      .location-address-list {
        max-height: 575px;
        overflow-y: auto;
        li {
          padding: 12px 18px;
        }
      }
    }
  }
}
