
// .user{
//   margin-top:78px;
// }

.referral{

  &__heading {
    margin-bottom: 72px;
    text-align: center;
  }

  &__data {
    margin-top: 36px;
  }
   &__share {
     position: absolute;
     margin-top: -18px;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
   }

   &__text {
     max-width: 90%;
     color: $color-text-secondary;
     padding: 15px 25px;
     border-radius: 50px 0 0 50px;
     border: 2px solid $color-divider-secondary;
     background: $color-white;
     font-size: 18px;
     box-shadow: rgba(0,0,0,0.0980392) 0 3px 21.34px 0.66px;

      &--no-referral {
        border-radius: 50px;
        display: inline-block;
      }
   }

   &__code {
      color: $color-brand-secondary;
      font-weight: 600;
      margin-left: -6px;
      padding: 15px 25px;
      border-radius: 0 50px 50px 0;
      border: 2px solid $color-divider-secondary;
      background-image: url("https://res4.nbstatic.in/static/images/referrals/pattern.png");
      overflow: hidden;
      font-size: 18px;
      background-position: 0 0;
      box-shadow: rgba(0,0,0,0.0980392) 0 3px 21.34px 0.66px;
   }

   &__icon {
     margin: 60px 0;

     li{
       margin-right: 6px;

       &:last-child {
         margin-right: 0;
       }
     }
    img {
      width: 51px;
      height: auto;
      border-radius: 56px;
      box-shadow: 0 5px 8px 2px rgba(0,0,0,0.2);
    }
  }

  &__content {

    p {
      color: $color-text-primary;
      line-height: 24px;
      padding: 0 12px;
    }
    img {
      width: 110px;
      height: auto;
      margin-bottom: 6px;
    }
  }
}

// continue button
// .continue_shopping{
//   &:hover, &:focus {
//     color: $color-white!important;
//   }
// }





