// referral popup css

.referral-popup {
  width: 300px;
  height: 180px;
  position: fixed;
  bottom: -200px;
  right: 24px;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 1px 20px -5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

  &.show {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }

  button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    .icon-close {
       color: #333;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &:hover .icon-close {
      color: $color-brand-primary;
    }
  }
  
  &__image {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }
}