.saved-card{
  border-bottom: 1px solid $color-divider-secondary;
  padding: 12px 0 18px 0;

  label {
     height: 24px;
  }

  .card-cvv-input {
    border: 1px solid #efefef;
    background: url("//res4.nbstatic.in/static/images/cvv.png") no-repeat calc(100% - 12px);
  }
  .mastercard {
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -210px #fff;
    background-size: 37px 370px;
  }
  .visa {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -25px #fff;
    background-size: 37px 370px;
  }
  .maestro {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -62px #fff;
    background-size: 37px 370px;
  }
  .amex {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -136px #fff;
    background-size: 37px 370px;
  }
  .rupay {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -99px #fff;
    background-size: 37px 370px;
  }
  .jcb {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -247px #fff;
    background-size: 37px 370px;
  }
  .laser {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -284px #fff;
    background-size: 37px 370px;
  }
  .discover {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -321px #fff;
    background-size: 37px 370px;
  }
  .diner {
    transition: none;
    background: url("//res4.nbstatic.in/static/images/cards.svg") no-repeat calc(100% - 12px) -173px #fff;
    background-size: 37px 370px;
  }
}
