@import './../settings.scss';
/*-----=====SITEMAP=====-----*/

.sitemap {
  padding: 18px;
  background: $color-white;
  border-radius: 4px;

  a {
    color:$color-text-primary;
    &:hover {
      color: $color-brand-primary;
    }
  }
  .city-name {
    color: #333;
    padding-right: 18px;
    vertical-align: middle;
  }

  .show-all-deal {
    font-size: 12px;
    color: $color-brand-primary;
    border-left: 1px solid $color-text-tertiary;
    padding-left: 18px;
    font-weight: 600;
    margin-left: -4px;
    vertical-align: inherit;
  }

  .internal-sitemap {
      min-height: 220px;
  }
}