.sort-buttons button.active {
  background: #ef534e;
  color: #fff;
  border: solid 1px #ef534e;
}
.sort-buttons button {
  display: inline-block;
  font-size: 11px;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  color: #666;
  border: solid 1px #ccc;
  margin-left: 3px;
  margin-right: 0;
  margin-bottom: 0;
}