// spin loader
.loader {
  position: absolute;
  text-indent: -9999em;
  border-top: .3em solid rgba(239,117,117,0.2);
  border-right: .3em solid rgba(239,117,117,0.2);
  border-bottom: .3em solid rgba(239,117,117,0.2);
  border-left: .3em solid $color-brand-primary;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  display: block;
  z-index: 1;
  top: 6px;
  right: 13px;
}

.loader, .loader:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: $color-white;
}

.loader {
  top: 14px;
}

@-webkit-keyframes load8 {
  0% {
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
   -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}