.tab-horizontal {
  background-color: $color-white;
  li {
    padding: 22px 36px;
    border-bottom: 4px solid $color-divider-secondary;
    border-left: 1px solid $color-divider-secondary;
    margin-left: -4px;
    font-size: 16px;
    line-height: 1;
    color: $color-text-primary;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
      border-left: 0;
    }
    &.active {
      background-color: $color-text-quaternary;
    }
    &.txt-delight-primary {
      border-bottom-color: $color-delight-primary;
    }
    &.txt-delight-secondary {
      border-bottom-color: $color-delight-secondary;
    }
    &.txt-delight-tertiary {
      border-bottom-color: $color-delight-tertiary;
    }
  }
}