.tag {
  display: inline-block;
  vertical-align: top;
  padding: 3px 6px 4px;
  font-size: 11px;
  font-family: $font-default-regular;
  border-radius: 2px;
  line-height: 1;
  margin-right: 6px;

  &:last-child {
    margin-bottom: 0;
  }
  
  &--delight {
    color: #fff;
    text-transform: uppercase;
    border: 0;
  }
  &--delight-primary {
    background-color: $color-delight-primary;
  }

  &--delight-secondary {
    background-color: $color-delight-secondary;
  }

  &--delight-tertiary {
    background-color: $color-delight-tertiary;
  } 

  &--delight-quaternary {
    background-color: $color-delight-quaternary;
  }

  &--delight-quinary {
    background-color: $color-delight-quinary;
  }

  &--delight-senary {
    background-color: $color-delight-senary;
  }
}