.occasion {
  padding: 94px 0 0;
  position: relative;
  overflow: hidden;

  &__image {
    overflow: hidden;
    position: relative;
    display: block;
  }

  &__content-wrapper {
    position: relative;
  }

  &__content {
    padding: 24px 24px 0;
    background-color: #fff;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  }

  &__video {
    position: absolute;
    right: 0;
    // top: 131px;
    top: 94px;
    //width: 100%;
    height: 100%;
    z-index: 0;

    video {
      height: auto;
      width: auto;
      height: 480px;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      right: -287px;
      top: 0;
      background: -moz-linear-gradient(left,  rgba(1,0,38,0) 0%, rgba(1,0,38,0) 45%, rgba(1,0,38,1) 68%, rgba(1,0,38,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(1,0,38,0) 0%,rgba(1,0,38,0) 45%,rgba(1,0,38,1) 68%,rgba(1,0,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(1,0,38,0) 0%,rgba(1,0,38,0) 45%,rgba(1,0,38,1) 68%,rgba(1,0,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left,  rgba(1,0,38,1) 0%, rgba(1,0,38,0.91) 2%, rgba(1,0,38,0) 22%, rgba(1,0,38,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(1,0,38,1) 0%,rgba(1,0,38,0.91) 2%,rgba(1,0,38,0) 22%,rgba(1,0,38,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(1,0,38,1) 0%,rgba(1,0,38,0.91) 2%,rgba(1,0,38,0) 22%,rgba(1,0,38,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
  
  &__desc {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 100;
  }

  &__desc li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 6px;
    &+li {
      &:before {
        content:"";
        width: 5px;
        height: 5px;
        display: inline-block;
        background-color: $color-white;
        border-radius: 50%;
        margin-right: 12px;
        vertical-align:middle;
      }
    }
    &:last-child {
      margin-right:0;
    }
  }

  &__text {
    font-size: 12px;
    // font-weight: $font-weight-semibold;
    color: $color-white;
    margin-top:0;
    line-height: 18px;
    margin-top: 12px;
    @media (min-width: to-em($breakpoint-desktop)) {
      font-size: 14px;
    }
    @media (min-width: to-em($breakpoint-thunderbolt)) {
      font-size: 16px;
    }
  }

  .cashback-prefix {
    font-size: 9px;
    @media (min-width: to-em($breakpoint-desktop)) {
      font-size: 12px;
    }
    @media (min-width: to-em($breakpoint-thunderbolt)) {
      font-size: 15px;
    }
  }

  &__info {
    margin-top: 44px;
    p {
      font-size: 14px;
      line-height: 24px;
      max-width: 404px;
    }
  }

  &__event {
    list-style: none;
    margin: 36px 0 0;
    padding: 0;

    li {
      display: inline-block;
      color: $color-white;
      position: relative;
      margin-right: 30px;
      padding-right: 30px;
      // border-right: 1px solid $color-white;

      &:after{
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        background: linear-gradient(#010026, #fff, #010026);
        top: 0;
        right: 0;
      }

      &:last-child {
        margin-right: 0;
        border-right: 0;
        &:after{
          background: transparent;
        }
      }
    }
  }

  &__counter {
    font-size: 20px;
    font-weight: 700;
    line-height:1;
    position: relative;
    transition: all 0.2s ease-out;
    transform: rotate3d(1,0,0, 360deg);
    @media (min-width: to-em($breakpoint-desktop)) {
      font-size: 30px;
    }


    span {
      font-size: 14px;
      line-height: 1;
      display: inline-block;
      width: 18px;
      color: $color-white;
    }

    .cashback-text {
      font-size: 18px;
      color: $color-white;
      width: auto;
    }
  }

  // .share {
  //   margin-top: 44px;
  //   &__text, &__icons {
  //     display: inline-block;
  //     vertical-align: middle;
  //   }

  //   &__text {
  //     font-size: 16px;
  //     color: $color-white;
  //     margin-right: 6px;
  //     line-height: 1;
  //   }

  //   &__icons {
  //     li {
  //       margin-right: 6px;
  //       &:last-child {
  //         margin-right: 0;
  //       }
  //     }
  //   }
  // }

  .btn-count {
    color: $color-white;
    background-color: $color-white;
  }

  .occasion-sort {
    margin-top: 40px;
  }

  .form-inline {
    input {
      @media (min-width: to-em($breakpoint-laptop)) {
        width: 190px;
      }
      @media (min-width: to-em($breakpoint-desktop)) {
        width: 235px;
      }
      @media (min-width: to-em($breakpoint-thunderbolt)) {
        width: 305px;
      }
    }
  }
  .counters {
    > [class*="col-"] {
      border-right: 1px solid #e0e0e0;
      text-align: center;
      padding: 9px 0;
      &:last-child {
        border-right: 0;
      }
    }
  }

  .timer {
    > .list-inline{
      > li {
        position: relative;
        width: 20%;
        &:after {
          content: ':';
          display: inline-block;
          right: 0;
          top: 30%;
          position: absolute;
          transform: translateY(-50%);
          font-size: 30px;
          color: #333;
          // margin-top: -4px;
        }
        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}