
// payment banner css
.payment-banner {
  background-color: $color-brand-secondary;
  padding: 24px 0 104px;
  color: $color-white;
  margin-top: 94px;

  &__text {
    font-weight: $font-weight-semibold;
    color: #bcf0e9;
    line-height: 28px;

    b {
      color: $color-white;
    }

    a {
      color: $color-white;
      text-decoration: underline;
    }
  }

  // message icon
  .msg-icon {
    background: url("//res4.nbstatic.in/static/images/white-check.png") no-repeat center center;
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 2px solid $color-brand-secondary;
    border-radius: 50%;
    margin-bottom: 18px;
  }

}

// payment content css
.payment-content {
  margin-top: -78px;

  .card__inner {

    &--no-hover {
      box-shadow: rgba(0, 0, 0, 0.04706) 0 2px 3px 0;
      transform: none;
    }

    &-content {
      padding: 24px 18px;
    }
  }

  a {
    display: inline-block;
  }
  
  .sms-link {

    .icon-edit {
      font-size: 12px;
      margin-left: 12px;
      vertical-align: middle;
      color: #999;
      cursor: pointer;

      &:hover {
        color: $color-brand-primary;
        display: inline-block;
      }
    }
  }

  .edit-number-box {
    position: relative;

    .icon-check {
      position: absolute;
      right: 10px;
      top: 15px;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }

  .sms-success-msg {
    background: url("//res4.nbstatic.in/static/images/circle-check.png") no-repeat 0 0;
    padding-left: 30px;
    font-size: 13px;
    background-size: 22px;
    background-position: 0 50%;
    line-height: 22px;
  }

  .cash-back {
    background: #fef4db;
    border-radius: 4px;
    padding: 6px;
  }

  .bottom-info {
    background: $color-divider;
    border-radius: 4px;
    padding:18px 24px;
    
    ul{
      display: table;

      li {
        border-right: solid 1px $color-divider-secondary;
        margin-right: 12px;
        width: 29.5%;
        vertical-align: top;
        display: table-cell;
        padding: 0 12px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border-right: none;
          padding-right: 0;
        }
      }
    }

    .icon-contact {
      padding-right: 12px;
      color: #999;
      vertical-align: middle;
    }

    .view-all-locations {
      font-size: 12px;
      text-decoration: underline;
    }
  }
}




// view all location modal css
.view-all-locations-pop-up {

  .modal__body {
    max-height: 590px;
    overflow-y: scroll;

    .icon-contact {
      // background: url("//res4.nbstatic.in/static/images/li-bg.png") no-repeat left center;
      // padding-left: 24px;
      // background-size: 14px;
      // font-weight: $font-weight-semibold;
      // color: $color-text-secondary;
      padding-right: 12px;
      color: #999;
      vertical-align: middle;
    }
    .location-popup-inner {
      min-height: 150px;
      position: relative;
      padding: 18px 0;
      vertical-align: top;
      &:after{
        position: absolute;
        content: '';
        width: 90%;
        display: block;
        border-bottom: 1px solid $color-divider-secondary;
        bottom: 0;
      }
    }

    .row [class*="col-"]:nth-child(odd) {
      .location-popup-inner{
        border-right: 1px solid $color-divider-secondary;
      }
    }

    .row:last-child [class*="col-"] .location-popup-inner {
      &:after{
        border-bottom: 0;
      }
    }
  }
}

.deals {
  .browse_deals_padding {
    margin-top: 15px;
  }
}

// continue button
.continue_shopping {
  &:hover, &:focus {
    color: $color-white !important;
  }
}



