.ticketing-calendar {
  position: relative;

  .card__inner {
    background-color: $color-white;
    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
  
  .card__heading {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 0;
    line-height: 18px;
  }

  .card__description {
    padding: 18px;
    @media (min-width: to-em($breakpoint-desktop)) {
      padding: 18px 30px;
    }
  }

  .nav-pane {
    button {
      top: 65%;
      height: 60px;
      width: 30px;
      .icon-arrow_right {
        font-size: 14px;
      }
    }
    .prev {
      left: -12px;
    }
    .next {
      right: -12px;
    }
  }

  .dt-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    .calendar_heading {
      position: absolute;
      left: 0;
      padding: 0 18px 0 0;
      background-color: $color-white;
      z-index: 9;
      &.active {
        color: $color-text-secondary;
      }
    }
    &__item {
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      display: inline-block;
    }
  }
}

.ticketing-calendar {
   .h-calendar {

    &__heading {
      margin: 0;
      //padding-left: 24px;
      color: $color-text-tertiary;
    }

    .h-calendar__heading.active {
      color: $color-text-secondary;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      white-space: nowrap;
      padding: 0 30px 0 0;
    }

    li {
      display: inline-block;
      margin-left: -4px;
      //margin-left: 30px;
      margin-left: 24px;
      vertical-align: top;
      margin-top: 0;
      &:first-child {
        margin-left: 0;
      }
    }

    a {
      display: block;
      width: 77px;
      height: 94px;
      text-align: center;
      padding: 12px 9px;
      white-space: normal;
      border-radius: 2px;
      transition: all 0.3s ease;
      &:hover {
        background-color: #f7f7f7;
      }
      &.active {
        background-color: $color-brand-secondary;
        span {
          color: $color-white;
        }
      }
    }

    &__day,&__date {
      display: block;
    }
    
    &__day {
      font-size: 12px;
      line-height: 1;
      color: $color-text-secondary;
    }

    &__date {
      font-size: 16px;
      color: $color-text-primary;
      padding-top: 6px;
      line-height: 1;
    }

    &__status {
      font-size: 11px;
      color: $color-text-secondary;
      padding-top: 6px;
      line-height: 1;
      // display: block;
    }

    &__price {
      font-size: 12px;
      color: $color-text-primary;
      font-weight: $font-weight-semibold;
    }
    
    .disable {
      cursor: not-allowed;
      .h-calendar__day, .h-calendar__status {
        color: $color-text-tertiary;
      }
      .h-calendar__date {
        color: $color-text-tertiary;
        text-decoration: line-through;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}
