



.deal-detail-travel{
  // .offer-card{
  //   &__img{
  //     img{
  //       max-width: 100%;
  //       width: 100%;
  //       display: block;
  //     }
  //     .deal-main-img{
  //       max-height: 290px;
  //       overflow: hidden;
  //       //margin-right: 6px;
  //       border-radius: 4px 0 0 4px;
  //       img{
  //         border-radius:4px 0 0 4px;
  //         height: 100%;
  //       }
  //     }

  //     .img-collection{
  //       position: relative;
  //       img{
  //         filter: brightness(60%);
  //         -webkit-filter: brightness(60%);
  //         -moz-filter: brightness(60%);
  //       }
  //       &__content{
  //         position: absolute;
  //         top: 50%;
  //         left: 50%;
  //         transform: translate(-50%, -50%);
  //         cursor: pointer;
  //       }
  //     }
  //   }

  //   &__content{
  //     padding: 12px 18px 18px;
  //     li{
  //       vertical-align: middle;
  //       //&:last-child{
  //       //  border-left: 1px solid #e0e0e0;
  //       //  margin-left: 6px;
  //       //  padding-left: 12px;
  //       //}
  //     }

  //     .texticon-group__icon{
  //       padding-top: 0;
  //       padding-right: 6px;
  //     }
  //     .review-icon{
  //       background: url("//res4.nbstatic.in/static/images/travel-review.png");
  //       display: block;
  //       width: 76px;
  //       height: 13px;
  //       margin-top: 6px;
  //       background-repeat: no-repeat;
  //     }
  //     .user-icon{
  //       width: 22px;
  //       height: 22px;
  //       background: url("//res4.nbstatic.in/static/images/deal-detail/bought.svg") no-repeat;
  //       display: block;
  //     }
  //     .share-icon {
  //       width: 13px;
  //       height: 13px;
  //       background: url("//res4.nbstatic.in/static/images/deal-detail/share.svg") no-repeat;
  //       display: inline-block;
  //     }

  //     .favourite-icon {
  //       width: 13px;
  //       height: 13px;
  //       background: url("//res4.nbstatic.in/static/images/deal-detail/favourite.svg") no-repeat;
  //       display: inline-block;
  //     }
  //   }

  //   &__title{
  //     color: $color-text-primary;
  //     height: 44px;
  //     overflow: hidden;
  //     display: -webkit-box;
  //     -webkit-line-clamp: 2;
  //     -webkit-box-orient: vertical;
  //   }

  //   &__location{
  //     margin-bottom: 11px;
  //     p{
  //       font-size:13px;
  //     }
  //   }

  //   &__tags{
  //     margin: 54px 0 12px 0;
  //   }
  // }

  // about section

  .about-card {
    &-content {
      margin-bottom: 6px;
      transition-property: all;
      transition-duration: .5s;
      max-height: 300px;
      overflow: hidden;
      &.show-less {
        max-height: 45px;
        //max-height: 70px;
        display: block;
        position: relative;
        &:after {
          content: '...';
          position: absolute;
          bottom: 0;
          right: 0;
          color: #666;
          transition: all 0.5s 1s ease;
        }
      }
    }
  }

  // .tick-icon{
  //   background:url("//res4.nbstatic.in/static/images/green-check.png") no-repeat;
  //   width: 20px;
  //   height: 13px;
  //   display: inline-block;
  //   vertical-align: middle;
  //   background-position: 50%;
  //   background-size: 15px;
  //   left: -20px;
  // }

  // .date-picker-icon {
  //   background: url('//res4.nbstatic.in/static/images/date-picker-icon.png') no-repeat 95% $color-white;
  // }

  .option{
    position: relative;
    &__title{
      color: $color-text-primary;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 6px;
    }
    &__offer{
      .texticon-group__icon{
        padding-top: 0;
        padding-right: 6px;
      }
    }

    .actual-price {
      font-size: 11px;
      color: $color-text-tertiary;
      // font-weight: 100;
      line-height: 1;
    }

    .discounted-price{
      line-height: 18px;
      font-weight: 600;
      color: $color-brand-secondary;
    }

    &__left, &__right{
      display: inline-block;
      vertical-align: top;
    }
    &__left{
      width: 74%;
      margin-top: 6px;
    }
    &__right{
      width: 25%;
    }
    &__img{
      margin-right: 18px;
      display: inline-block;
      border-radius: 4px;
      img{
        max-width: 100%;
        display: block;
        width: 206px;
        height: auto;
        border-radius: 4px;
      }
    }
    &__desc{
      display: inline-block;
      vertical-align: top;
    }

    &__availability{
      margin-top: 12px;
      text-align: right;
      a{
        font-size: 12px;
        color: $color-text-secondary;
        text-decoration: underline;
      }
    }
  }

  // promise
  .promise {
    &-img {
      padding-right: 18px;
      border-right: 1px solid #e5e5e5;
      vertical-align: middle;
    }
    &-content{
      margin-left: 12px;
      //font-size: 14px;
      display: inline-block;
    }
  }

  .icon-help {
    vertical-align: middle;
    color: #999;
    font-size: 22px;
    cursor: pointer;
  }

  // location map
  .location-map {
    background-color: $color-divider-secondary;
    overflow: hidden;
    border-radius: 4px;
    height: 115px;

    img{
      display: block;
      width: 100%;
      max-width: 100%;
      cursor: pointer;
      transform: translateY(-28%);

    }
  }

  .facalities{
    &__content{
      margin-bottom: 6px;
      transition: all 0.25s ease-in-out;
      max-height:88px;
      overflow: hidden;
      &.show-more{
        max-height: 1500px;
      }
    }
  }
  .btn{
    &--tags{
      background: #e0e0e0;
      color: #333;
    }
  }
}
