.hero-banner__search {
  .hero-search-input{
    // &:before{
    //   content: '';
    //   position: absolute;
    //   background: url(//res4.nbstatic.in/static/images/city-search.svg) no-repeat;
    //   background-size: 100%;
    //   background-position: center center;
    //   height: 24px;
    //   width: 24px;
    //   top: 50%;
    //   left: 14px;
    //   transform: translateY(-50%);
    // }
  }
  // datepicker
  .datepicker {
    display: table;
    width: 100%;

    &__item {
      display: table-cell;
      width: 100%;
      input[type="text"] {
        background: url("//res1.nbstatic.in/static/images/calender.svg") no-repeat;
        background-position: 94%;
        background-size: 17px;
        width: 50%;
        border-radius: 0;
        border: 1px solid $color-divider-secondary;
        font-size: 14px;
        padding: 0 48px 0 12px;
        height: 60px;
        outline:0;
        &:first-child {
          border-right: none;
          border-left: none;
        }
      }
    }

    // &__left, &__right {
    //   width: 50%;
    //   border-radius: 0;
    //   border: 1px solid $color-divider-secondary;
    //   float: left;
    //   height: 60px;
    //   position: relative;

    //   .icon-calender {
    //     top: 22px;
    //   }
    // }

    // &__left {
    //   border-left: 0;
    //   border-right: 0;
    // }

    &__button {
      display: table-cell;
      vertical-align: top;
      width: 1%;

      .btn--primary {
        display: block;
        box-shadow: none;
        border-radius: 0 4px 4px 0;
        padding: 20px 30px;
        text-transform: capitalize;
        height: 60px;
      }
    }
  }
}