// Travel discover
.travel-discover {
  background-color: #ffbe32;
  border-radius: 4px;
  width: 100%;

  &__desc {
    position: relative;
    padding: 63px 34px;

    @media (min-width: to-em($breakpoint-desktop)) {    
     padding: 63px 74px;
    }
  }

  &__content {
    padding: 54px 34px;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 10px;
        top: 22%;
        height: 55%;
        left: -10px;
        border-radius: 5px / 100px;
        box-shadow: 0 0 31px rgba(0, 0, 0, 0.3);
    }

    @media (min-width: to-em($breakpoint-desktop)) {
     padding: 54px 74px;
    }

    .icon-calender {
      position: absolute;
      right: 24px;
      color: #999;
    }
  }

  &__heading {
    color: $color-white;
    font-weight: $font-weight-bold;
    width: 263px;
    line-height: 42px !important;
  }
}