
.user-header{
  border-radius: 4px;
  ul{
    border-bottom: 2px solid #f5f5f5;
    li{
      padding: 18px 0;
    }
  }
  a{
    font-size: 13px;
    padding: 18px 24px;
    color: $color-text-secondary;
    &.active{
      border-bottom: 2px solid $color-brand-primary;
      color: $color-brand-primary;
    }
  }
}
