
.foodfood-listing {
  .tick-icon {
    background: url(//res4.nbstatic.in/static/images/tick-icon.svg) no-repeat;
    width: 12px;
    height: 9px;
    display: inline-block;
  }

  .filter-wrapper {
    background-color: $color-white;
    position: relative;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.047) 0 2px 3px 0;

    .filter-categories {
      .sub-menu-options {
        &-header{
          display: block;
          margin-bottom: 6px;
          span{
            color: $color-text-secondary;
            &:hover{
              color: $color-brand-primary;
            }
          }
        }
      }
    }
  }

  .texticon-group {
    &__content {
      padding-top: 4px;

      span{
        color: $color-text-secondary;
      }
    }

    &__vote {
      display: table-cell;
      padding-top: 4px;
      padding-left: 8px;
      
      span {
        border: 1px solid $color-brand-tertiary;
        color: $color-brand-tertiary;
        border-radius: 2px;
        padding: 0px 6px;
        font-size: 11px;
      }
    }
  }

  .filter-categories {
    margin-bottom: 24px;
    &__list.voted {
      .texticon-group__content {
        span {
          color: $color-text-primary;
        }
      }
      
      .tick-icon {
        background: url(//res4.nbstatic.in/static/images/tick-dark-gray.svg) no-repeat;
        width: 12px;
        height: 9px;
        display: inline-block;
      }
    }

    .count {
      margin: 0 12px;
      font-size: 11px;
      color: $color-text-secondary;
    }
  }

  .menu > li {
    margin-bottom: 18px !important;

    &.active {
      span {
        color: $color-brand-primary;
      }

    .tick-icon {
        background: url(//res4.nbstatic.in/static/images/tick-active.svg) no-repeat;
        width: 12px;
        height: 9px;
        display: inline-block;
      }

      .texticon-group__vote {
        span {
          color: $color-brand-tertiary;
        }
      }
    }
  }
}