@import './settings.scss';
/*====================================================================
Element basic style (don't add custom classes here.)
======================================================================

/* box layout model to all elements */
html {
  box-sizing: border-box;
  //background-color: #f9f9f9;
  background-color: $body-bg;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-size: to-em($font-size-base);
  color: $color-text-secondary;
  line-height: 1.125;
}

/*html, body {
  height: 100%;
}*/


/*---------------Headings*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-primary;
  -webkit-font-smoothing: subpixel-antialiased;
  //font-weight: $font-weight-light;
}

h1 {
  font-size: to-em($font-size-h1); // 56px
  line-height: 60px;
}
h2 {
  font-size: to-em($font-size-h2); // 36px
  line-height: 42px
}
h3 {
  font-size: to-em($font-size-h3); // 30px
  line-height: 36px;
}
h4 {
  font-size: to-em($font-size-h4); // 24px
  line-height: 30px;
}
h5 {
  font-size: to-em($font-size-h5); // 18px
  line-height: 18px;
}
h6 {
  font-size: to-em($font-size-h6); // 16px
  line-height: 18px;
}


/*-----------------Links */
a{
  text-decoration: none;
  cursor: pointer;
}

a:focus, a:active {
  outline: 0;
  color: $color-brand-tertiary;
}

a:hover{
  color: $color-brand-primary;
}

span {
  font-size: to-em($font-size-p);
}

p {
  font-size: to-em($font-size-p);
  line-height: 24px;
  color: $color-text-secondary;
  -webkit-font-smoothing: subpixel-antialiased;
}

span{
  color: $color-text-tertiary;
  -webkit-font-smoothing: subpixel-antialiased;
}

b, strong {
  font-weight: $font-weight-bold;
  -webkit-font-smoothing: subpixel-antialiased;
}

strike {
  line-height: 18px;
}

table {
  width: 100%;
  background-color: $color-white;
  border: 0;
  border-radius: $border-default-radius;

  thead {
    border-bottom: 1px solid transparent;
  }
  tr:last-child td {
    border-bottom: 0;
  }
  td, th {
    font-size: to-em(12);
    padding: 18px 12px 18px 18px;
    text-align: left;
  }
  th {
    color: $color-text-primary;
    border-bottom: 1px solid $color-divider;
    vertical-align: middle;
  }
  td {
    color: $color-text-secondary;
    padding-top: 25px;
    padding-bottom: 20px;
  }


}

/*--------------------------------- LISTS */
ul {
  //font-size: to-em($font-size-p);
  list-style: disc;
  margin-left: 1em;
  margin-right: 1em;
}
ol {
  //margin-left: 1em;
  margin-right: 1em;
}
li {
  line-height: 18px;
}
li + li {
  margin-top: 12px;
}

/*--------------------------------- FORMS */
::-webkit-input-placeholder { /* WebKit browsers */
  color: $color-text-tertiary;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $color-text-tertiary;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $color-text-tertiary;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $color-text-tertiary;
}

button {
  font-family: $font-family-base;
  border: none;
  outline:0;
  background-color: transparent;
  cursor: pointer;
}

label {
  font-size: to-em(14);
  font-weight: $font-weight-medium;
  margin-bottom: 6px;
  vertical-align: top;
  display: inline-block;
  color: $color-text-secondary;
}


select{
  border: 1px solid $color-divider-secondary;
  outline: 0;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 100%;
  display: block;
  vertical-align: top;
  // line-height: 18px;
  line-height: 16px;
  padding: 12px;
  height: 42px;
  background-color: $color-white;
  color: $color-text-primary;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-position: 100% center;
  background-repeat: no-repeat;
  &:focus {
    border-color: $color-text-secondary;
  }
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

select.disabled {
  background-color: #ddd;
  cursor: not-allowed;
  pointer-events: none;
  border-color: #ccc;
}
.form-readonly{
  background: transparent;
  border:none!important;
  padding:0!important;
}

input[type="search"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearence: none;
}

input:placeholder {
  font-size: 13px;
}

textarea {
  resize: none;
  height: auto;
}

hr {
  border: none;
  border-bottom: 1px solid $color-divider-secondary;
}

sup {
  font-size: 70%;
  vertical-align: super;
}
