@import './settings.scss';
@import './tools.scss';

#prebootOverlay { display: none !important;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 999999;
background: black;
opacity: .3;}

a:hover{
  color: $color-brand-primary;
}
// .ok-icon {
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   vertical-align: middle;
//   background: url("//res4.nbstatic.in/static/images/tick.svg") no-repeat;
//   margin-right: 6px;
// }

// .section-spacing {
//   margin: 48px 0 0;
// }


/*---HELPER CLASSES---*/

///**===================  ELLIPSIS ===============================**/
.ellipsis{
  max-width: 70%;
  // display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
  &--sm{
    max-width: 44%;
    vertical-align: top;
  }
  &--lg{
    max-width: 100%;
  }
}

///**===================  FORM CONTROL & FORM GROUP ===============================**/
.form-control{
  padding: 12px 18px;
  border: 1px solid $color-divider-secondary;
  border-radius: 4px;
  color: $color-text-primary;
  font-size: 14px;
  width: 100%;
  outline: 0;
  -ms-transition: border 0.1s ease;
  -moz-transition: border 0.1s ease;
  -webkit-transition: border 0.1s ease;
  transition: border 0.1s ease;
  display: block;
  vertical-align: top;
  line-height: 18px;
  height: 42px;
  background-color: $color-white;
  margin: 0;
  &:focus {
    border-color: $color-text-secondary;
  }

  // Form control secondary
  &--secondary{
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    padding-left: 0;
    font-size:16px;
    &:focus{
      border-bottom: 2px solid #666;
    }
  }

  // Form control small
  &--sm{
    height: 36px;
    padding: 6px 18px;
  }
}

.form-group{
  margin-bottom: 24px !important;
  &--lg{
    margin-bottom: 30px !important;
  }
  &--inner{
    margin-bottom: 18px !important;
  }
}

.form-readonly{
  background: transparent;
  height: initial;
}

textarea.form-control {
  height: auto;
}

///**===================  HR ===============================**/
hr.divider {
  margin: 18px 0;
  border-bottom: 1px solid $color-divider-secondary;
  &--thick {
    border-width: 2px;
  }
  &--small {
    margin-top: 6px;
  }
  &--large {
    margin: 30px 0;
  }
}

///**===================  FULL WIDTH/OVERLAY ===============================**/
.full-width{
  width: 100%;
}

.no_scroll .overlay {
  background: rgba(0,0,0,0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  display: block;
}

.block-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.80);
  z-index: 9;
}


/*---COMPONENTS---*/

///**===================  LABELS ===============================**/
.label-mandatory {
  &:after {
    content: '*';
    padding-left: 6px;
    color: $color-brand-primary;
  }
}

///**===================  ACCORDION  ===============================**/
#accordion {
  box-shadow: 0 2px 0 0 $color-divider-secondary;
  border-radius: 2px;
  margin-bottom: 24px;
}

.accordion {
  // display: block;
  width: 100%;
  max-height: 54px;
  overflow-y: hidden;
  background-color: $color-white;

  &__header {
    padding: 18px;
    cursor: pointer;
    font-weight: $font-weight-semibold;
    box-shadow: inset 0px 11px 24px -11px rgba(0, 0, 0, 0.35);
    position: relative;
    .heading{
      color: $color-text-primary;
      span {
        color: $color-text-primary;
        font-weight: $font-weight-semibold;
      }
    }
  }

  &__cont {
    padding: 18px;
  }

  &.accordion-show {
      animation: accordionSlide 0.7s ease-in 0.1s 1 forwards;
    .accordion__header {
      background-color: $color-brand-secondary;
      box-shadow: none;
      h6 {
        color: $color-white;
      }
      &:after {
        transform: translateY(-50%) rotate(-45deg);
        border-color: $color-white;
      }
    }
    .heading {
      color: $color-white;
      span {
        color: $color-white;
      }
    }
  }

  &.accordion-hide {
    // animation: accordionSlideup 0.5s cubic-bezier(0, 1, 0.5, 1) 1; 
    animation: accordionSlideup ;
  }

  &.disable {
    cursor: not-allowed;
    pointer-events: none;
    .heading {
      color: $color-text-tertiary;
      span {
        color: $color-text-tertiary;
      }
    }
  }
}

// Accordion animation
@-moz-keyframes accordionSlide {
  0% {
    max-height: 54px;
    overflow: hidden;
  }
  100% {
    max-height: 9999px;
    overflow: inherit;
  }
}

@-webkit-keyframes accordionSlide {
  0% {
    max-height: 54px;
    overflow: hidden;
  }
  100% {
    max-height: 9999px;
    overflow: inherit;
  }
}

@keyframes accordionSlide {
  0% {
    max-height: 54px;
    overflow: hidden;
  }
  100% {
    max-height: 9999px;
    overflow: inherit;
  }
}

@-moz-keyframes accordionSlideup {
  0% {
    max-height: 9999px;
    overflow: inherit;
  }
  100% {
    max-height: 54px;
    overflow: hidden;
  }
}

@-webkit-keyframes accordionSlideup {
  0% {
    max-height: 9999px;
    overflow: inherit;
  }
  100% {
    max-height: 54px;
    overflow: hidden;
  }
}

@keyframes accordionSlideup {
  0% {
    max-height: 9999px;
    overflow: inherit;
  }
  100% {
    max-height: 54px;
    overflow: hidden;
  }
}

///**===================  DATEPICKER ===============================**/
.modal_open {
  .ui-datepicker {
    z-index: 1000 !important;
  }
}

.ui-datepicker {
  background-color: $color-white;
  margin: 0;
  //padding: 6px;
  width: 311px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0;
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;

  table {
    background-color: $color-white;
  }

  td {
    padding: 0;
    width: 50px;
  }

  th {
    //padding: 6px;
    padding: 24px 12px;
    text-align: center;
    border-bottom: 0;
  }

  .ui-widget-header {
    //padding: 18px;
    padding: 24px;
    position: relative;
    border-bottom: 1px solid $color-divider-secondary;
  }

  //date picker title
  .ui-datepicker-title {
    text-align: center;
    span {
      font-size: 15px;
      text-transform: uppercase;
      line-height: 1;
      color: $color-text-primary;
      font-weight: 600;
    }
  }

  //  previous & next arrow
  .ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform:  translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-indent: -9999px;
    span {
      height: 20px;
      width: 20px;
      transition: all 0.25s ease;
      display: block;
    }
  }

  .ui-datepicker-prev {
    span {
      background: url("//res4.nbstatic.in/static/images/arrow.svg") no-repeat;
      transform: translateX(-6px) rotate(180deg);
      -webkit-transform: translateX(-6px) rotate(180deg);
      -moz-transform:  translateX(-6px) rotate(180deg);
      -ms-transform: translateX(-6px) rotate(180deg);
      -o-transform: translateX(-6px) rotate(180deg);
      &:hover {
        background-image: url("//res4.nbstatic.in/static/images/arrow_hover.svg");
      }
    }
  }

  .ui-datepicker-next {
    right: 20px;
    span {
      background: url("//res4.nbstatic.in/static/images/arrow.svg") no-repeat;
      &:hover {
        background-image: url("//res4.nbstatic.in/static/images/arrow_hover.svg");
      }
    }
  }

  .ui-datepicker-calendar {
    padding: 10px;
    border-collapse: separate;
    thead {
      span {
        font-size: 14px;
        font-weight: 600;
        color: $color-text-tertiary;
      }
    }
    td {
      text-align: center;
      a {
        padding: 12px;
        height: 40px;
        width: 40px;
        font-size: 14px;
        color: $color-text-secondary;
        font-weight: 400;
        display: block;
        border-radius: 50%;
        transition: all 0.5s ease;
      }
      .ui-state-hover {
        background-color: $color-brand-secondary;
        color: $color-white;
      }
    }

    .ui-datepicker-other-month.ui-state-disabled:after {
      display: none;
    }

    .ui-state-disabled {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-left: 2px solid $color-text-tertiary;
        top: 40%;
        left: 40%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform:  rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
    }

    .ui-datepicker-unselectable:hover, .ui-state-disabled:hover {
      background: none;
      border-radius: 0;
    }
  }

  .ui-state-disabled, .ui-widget-content .ui-state-disabled {
    opacity: .35;
    background: none;
    //padding: 12px;

    span {
      font-size: 14px;
      padding: 12px;
      color: #666;
      font-weight: 400;
      display: block;
    }
  }

}

.ui-datepicker .ui-state-default.ui-state-active,
.ui-datepicker .ui-state-default.ui-state-hover,
.ui-datepicker td.check_in .ui-state-default,
.ui-datepicker td.check_out .ui-state-default{
  background-color: $color-brand-secondary;
  color: $color-white;
}

#ui-datepicker-div {display: none;}


///**===================  TEXT WITH ICON ===============================**/
.texticon-group{
  margin-bottom: 12px;
  display: table;

  &:last-child{
    margin-bottom: 0px;
  }

  &__icon{
    display: table-cell;
    padding-right: 12px;
    vertical-align: top;
    padding-top: 4px;
    line-height: 1;
  }

  &__content{
    display: table-cell;
  }
}

///**===================  ERROR ===============================**/

.error{
  border-bottom: 1px solid $color-brand-primary;
}

.has-error {
  input {
    border-color: $color-brand-primary;
    &:focus {
      border-color: $color-brand-primary;
    }
  }
}
.error-msg {
  font-size: 12px;
  display: block;
  margin: 6px 0 0;
  line-height: 18px;
  color: $color-brand-primary;
  &--font-sm {
    font-size: 11px;
  }
}

///**===================  MODAL ===============================**/
.modal_open{
  overflow: hidden;
  .modal_wrapper {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal_wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 999;
  left:0;
  padding: 60px 0 24px;
  -ms-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;

  &--no-bg{
    background: rgba(241, 241, 241, 0.90);
  }

  &--less-opaque{
    background: rgba(0, 0, 0, 0.60);
  }

  &--secondary {
    background: $color-white;
  }

  // Modal inner
  .modal {
    position: relative;;
    max-width: 721px;
    width: 100%;
    background: $color-white;
    border-radius: 4px;
    margin: 0 auto;
    &--sm{
      max-width: 530px;
    }
    &--lg{
      @media only screen and (min-width:960px) {
        max-width: 960px;
      }
    }
  }

  // Modal header
  .modal__header {
    padding: 18px;
    background-color: $color-divider;
    border-radius: 4px 4px 0 0;
    &--no-bg{
      background: transparent;
    }
  }
  .close {
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    .icon-close {
      color: $color-text-secondary;
    }

    &:hover .icon-close {
      color: $color-text-primary;
    }
  }
  .modal__body{
    padding: 18px 24px;
    &--no-pad {
      padding: 0;
    }
  }

  // Modal footer
  .modal__footer {
    padding: 12px 18px;
    background-color: $color-divider;
    border-radius: 0 0 4px 4px;
    // overflow: auto;
    &--no-bg {
      background-color: $color-white;
    }
  }
}

.modal-hide{
  opacity: 0;
  visibility: hidden;
}

.modal-show{
  opacity: 1;
  visibility: visible;
}

.fade {
  opacity: 0;
  transform: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

///**===================  BUTTONS ===============================**/
.btn{
  padding: 12px 30px;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  margin: 0;
  // letter-spacing: 0.6px;

  &:focus{
    outline:0 !important;
  }

  // Button sizes
  &--xs-small{
    padding: 6px;
    font-size: 12px;
    text-transform: capitalize;
    &.btn-left {
      margin-left: -6px;
    }
  }

  &--small{
    padding: 6px 18px;
    font-size: 14px;
  }

  &--large{
    padding: 18px 30px;
    font-size: 24px;
  }

  &-right {
    margin-right: -12px;
  }

  &-left {
    margin-left: -12px;
  }


  // Primary Buttons - Red Base
  &--primary{
    background-color: $color-brand-primary;
    color: $color-white;
    border: 1px solid transparent;
    //box-shadow: 0 5px 14px rgba(239,83,78,0.3);
    &:hover, &:focus{
      box-shadow: 0 5px 18px rgba(239,83,78,0.6)
    }
  }

  // Disabled Button
  &--disabled{
    background: $color-text-tertiary;
    border: 1px solid $color-text-tertiary;
    color: $color-white;
    cursor: not-allowed;
    opacity: 0.45;
    pointer-events: none;
  }

  // Transparent Button
  &--text{
    background-color: transparent;
    color: $color-text-tertiary;
    box-shadow:none;
    &:hover{
      color: $color-brand-primary;
    }
  }

  // Secondary Buttons - White Base
  &--secondary{
    background-color: $color-white;
    color: $color-brand-primary;
    border: 1px solid $color-brand-primary;
    &:hover, &:focus{
      background-color: #fff0f0;
    }
    &:active {
      color: $color-brand-primary;
    }
  }

  // Tertiary Buttons
  &--tertiary {
    padding: 12px;
    span,p {
      font-size: 14px;
      line-height: 1;
      color: $color-text-secondary;
    }
  }

  // Quaternary Buttons
  &--quaternary{
    background-color: $color-brand-secondary;
    border: 1px solid $color-brand-secondary;
    color: $color-white;
  }

  // Menu Button for deal detail page
  &--menu{
    border-radius: 4px;
    padding: 6px 42px;
  }

  // Button Tags
  &--tags{
    padding: 9px 12px;
    font-size: 12px;
    background-color: $body-bg;
    display: inline-block;
    color: $color-text-tertiary;
    text-transform: capitalize;
    margin-right: 6px;
    margin-bottom: 6px;
    line-height: 1;
    &:last-child{
      margin-right: 0;
    }
    &:hover {
      color: $color-text-tertiary;
    }
  }

  &--link {
    padding: 8px 9px;
    border-radius: 2px;
    border: 1px solid $color-link;
    box-shadow: 0px 1px 3px 0px rgba(2, 119, 189,0.5);
    color: $color-link;
    text-transform: none;
    font-size: 14px;
    line-height: 1;
  }
}

.btn-icon {
  span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    line-height: 1;
  }
}

.btn_cream {
  font-family: "Open Sans",sans-serif;
  background: $color-divider-secondary;
  border-radius: 50px;
  color: $color-text-tertiary;
  display: inline-block;
  font-size: 14px;
  padding: 10px 26px 8px;
  margin-top: 28px;
  margin-bottom: 40px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:active {
    border-color: $color-brand-primary;
  }
}

.btn-block{
  width: 100%;
  display: block;
}

.btngroup-inline{
  .btn{
    margin-right: 12px;
  }
  .btn:last-child{
    margin: 0;
  }
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .btn  {
    position: relative;
    float: left;
    margin-bottom: 0;
  }

  > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

///**===================  FORM TAB ===============================**/

// form tabs vertical
.form-tabs {
  width:100%;
  li {
    position: relative;
    margin: 0;
    &:last-child .form-tabs__divider {
      height: 0;
    }
  }
  &__steps{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    border: solid 2px $color-divider-secondary;
  }
  &__content {
    position: relative;
    top: -23px;
    left: 20px;
    p:first-child{
      font-size: 15px;
    }
  }
  &__divider {
    position: absolute;
    border-left: 1px solid $color-divider-secondary;
    height: 55%;
    left: 6px;
    top: 25px;
  }
}

// form tabs horizontal
.form-tabs{
  &--horizontal {
    display: table;
    li{
      display: table-cell!important;
      width:33%;
      text-align: center;
      &:first-child .form-tabs__divider {
        left: 50%;
      }
      &:last-child .form-tabs__divider {
        left: -50%;
      }
    }
    .form-tabs__steps{
      width: 28px;
      height: 28px;
      position: relative;
      z-index: 1;
      background: $color-white;
      box-shadow: 0 0 0 6px $color-white;
      margin-bottom: 12px;
    }
    .form-tabs__content {
      top: 0;
      left: 0;
      color: $color-text-tertiary;
    }
    .form-tabs__divider {
      border-top: 2px solid $color-divider-secondary;
      width: 100%;
      top: 20%;
      height: 0;
    }
  }
}

// form tabs horizontal active and done case
.form-tabs{
  &--horizontal {
    // active case
    li.active {
      .form-tabs__steps {
        background-color: $color-brand-secondary;
        border: solid 2px $color-brand-secondary;
      }
      .form-tabs__content p{
        color: $color-text-primary !important;
      }
    }
    // done case
    li.done {
      .form-tabs__steps {
        background: url("//res4.nbstatic.in/static/images/tick-white.svg") no-repeat $color-brand-secondary center;
        background-size: 16px;
        border: solid 2px $color-brand-secondary;
      }
      .form-tabs__content p{
        color: $color-brand-secondary !important;
      }
    }
  }
}

///**===================  INPUT GROUP ===============================**/
.input-group {
  position: relative;
  width: 100%;
  display: table;
  border-collapse: separate;

  .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    -ms-transition: border 0.1s ease;
    -moz-transition: border 0.1s ease;
    -webkit-transition: border 0.1s ease;
    transition: border 0.1s ease;
  }

  .input-group-addon {
    display: table-cell;
    padding: 12px 18px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    background-color: $color-white;
    border: 1px solid $color-divider-secondary;
    border-radius: 4px;
  }
}

input:focus + .border:after {
  content: '';
  position: absolute;
  border: 1px solid $color-text-secondary;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon:not(:last-child) {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child){
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

///**===================  FORM INLINE ===============================**/
.form-inline{
  // display: table;
  // margin:0 auto;
  // &__input{
  //   display: table-cell;
  //   vertical-align: middle;
  //   margin-bottom: 0;
  //   width: auto;
  // }
  input{
    font-size:15px;
    display: inline-block;
    width: auto;
    min-height: 44px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
  }
  button {
    // display: table-cell;
    // vertical-align: middle;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
    // margin-left: 10px;
  }
}

///**===================  CHECKBOXES & RADIO BUTTON ===============================**/
.nb-checkbox, .nb-radio {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  display: block;
  font-size: 14px;
  color: $color-text-secondary;
}
.nb-checkbox input, .nb-radio input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  margin: 0;
  color: $color-text-secondary;
}
.nb-checkbox__bg, .nb-radio__bg {
  border: 1px solid $color-text-tertiary;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  opacity: 1;
}
.nb-checkbox__icon, .nb-radio__icon {
  // position: static;
  // transition: none !important;
  // background-image: url(//res4.nbstatic.in/static/images/check1.png);
}
.nb-radio__bg {
  border-radius: 50%;
}

.nb-checkbox input:checked + .nb-checkbox__bg, .nb-radio input:checked + .nb-radio__bg {
  background-color: $color-brand-primary;
  border-color: $color-brand-primary;
  opacity: 1 !important;
}

.nb-checkbox input:checked + .nb-checkbox__bg > .nb-checkbox__icon, .nb-radio input:checked + .nb-radio__bg > .nb-radio__icon {
  width: 10px;
  height: 10px;
  background-image: url(//res4.nbstatic.in/static/images/check1.png);
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: 2px 3px;
  opacity: 1;
}

.radio-grp,.checkbox-grp {
  .nb-radio, .nb-checkbox {
    display: block;
  }
  &--inline{
    .nb-radio, .nb-checkbox {
      display: inline-block;
      margin-right: 18px;
    }
    .nb-radio:last-child{
      margin-right: 0;
    }
  }
}

///**===================  TOOLTIP POPOVER ===============================**/
.tooltip-popover-wrapper{
  position: relative;
  display: inline-block;
  //&:hover .tooltip-popup{
  //  display: block;
  //}
}

.tooltip-popover{
  width: 310px;
  position: absolute;
  z-index: 9;
  margin-top: 6px;
  background: $color-white;
  border-radius: 4px;
  top: 100%;
  border:1px solid $color-divider-secondary;
  box-shadow: 0 0px 3px $color-divider-secondary;
  padding: 24px 30px;
  display: none;
  // right:0;
  right:-18px;

  &:before{
    content: '';
    position: absolute;
    right: 7%;
    width: 10px;
    height: 10px;
    background: $color-white;
    border-top: 1px solid $color-divider-secondary;
    border-right: 1px solid $color-divider-secondary;
    top: -6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }

  &--small{
    width:224px;
  }

  &--lg{
    width:356px;
  }

  &--left{
    left: 0;
    &:before{
      left:7%;
    }
  }

  p{
    line-height: 22px;
  }

  button {
    position: absolute;
    right: 8px;
    top: 12px;

    .icon-close {
      font-size: 14px;
      color: #999;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    &:hover .icon-close {
      color: #333;
    }
  }
  

  li:last-child {
    border-left: 0!important;
    margin-left: 0;
    padding-left: 0;
  }
}

///**===================  TOOLTIP ===============================**/

.tooltip, .arrow:after {
  background: $color-text-primary;
}
.tooltip-wrapper{
  display: inline-block;
}
.tooltip {
  pointer-events: none;
  //opacity: 0;
  display: none;
  position: absolute;
  padding: 6px 12px;
  color: $color-divider-secondary;
  border-radius: 2px;
  margin-top: 20px;
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  right: 0;
  bottom: 100%;
  margin-bottom: 12px;
  &--left {
    left: 0;
  }
  &--active {
    display: block;
  }
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: 2%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow:after {
  content: "";
  position: absolute;
  top: -20px;
  width: 30px;
  height: 18px;
  -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /* left: 33%; */
}
//.tooltip.active {
//  //opacity: 1;
//  display: inline-block;
//  margin-bottom: 12px;
//  -webkit-transition: all 0.2s ease;
//  -moz-transition:    all 0.2s ease;
//  -ms-transition:     all 0.2s ease;
//  -o-transition:      all 0.2s ease;
//}
.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}

/*--------------- CUSTOM STYLE USED ACROSS DIFFERENT PAGES---------------*/

//LOGIN FLOW CSS

.field-group {
  margin-top: 24px;
  padding-bottom: 6px;
  &--lg {
    margin-top: 30px;
  }
}

.login-field {
  position: relative;
  cursor: text;
  .form-control {
    &:focus {
      border-color: $color-divider-secondary;
    }
  }

  &__input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $color-divider-secondary;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 0 0 6px;
    font-weight: 400;
    &:focus + span{
      font-size: 10px;
      bottom: 100%;
      margin-bottom: 6px;
    }
  }

  &__text {
    position: absolute;
    bottom: 12px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-text-tertiary;
    -ms-transition: bottom .3s ease;
    -moz-transition: bottom .3s ease;
    -webkit-transition: bottom .3s ease;
    transition: bottom .3s ease;
  }

  &__link {
    position: absolute;
    color: $color-brand-tertiary;
    font-size: 12px;
    right: 0;
    top: 0;
  }
}

.login-field.active {
  span {
    font-size: 10px;
    bottom: 100%;
    margin-bottom: 6px;
  }
}

// footer links
.ico-contact {
  background: url("//res4.nbstatic.in/static/images/ico_contact_new.png") no-repeat;
}
.contact-us{
  background: #f5f5f5;
  border-radius: 4px;
  padding: 18px 24px;
  a{
    font-weight:$font-weight-bold;
    color:$color-text-secondary;
    &:hover{
      text-decoration: underline;
    }
  }
  p{
    margin-bottom: 0;
  }
  .contact-icon{
    width: 20px;
    height: 20px;
    background: url("//res4.nbstatic.in/static/images/contact-icon.svg") no-repeat;
  }
  .mail-icon{
    width: 20px;
    height: 20px;
    background: url("//res4.nbstatic.in/static/images/mail-icon.svg") no-repeat;
  }
  .texticon-group__icon{
    padding-top:0;
  }
}

/*--------------- MEDIA QUERY FOR HEADER---------------*/


@media only screen and (min-width:960px) {
  .brand_logo {
    margin-right: 18px !important;
  }

  // deal-detail image collection

  //.deal-detail-travel, .deal-detail-local {
  //  .offer-card {
  //    .deal-main-img {
  //      max-height: 290px;
  //      overflow: hidden;
  //      margin-right: 6px;
  //      border-radius: 4px 0 0 4px;
  //    }
  //  }
  //}
}

@media only screen and (min-width:768px) {
  // text align center for thankyou page left section
  .sms-link,.sms-btn-box{
    text-align: center;
  }
}

///**===================  BLOCK ===============================**/
.block {
  border-radius: 4px;
  background-color: $color-white;
  border: 1px solid #e5e5e5;
  margin-bottom: 18px;
  // overflow: hidden;
  &__header {
    background-color: $color-text-quaternary;
    //background-color: $color-divider-secondary;
    padding: 18px;
    border-radius: 4px 4px 0 0;
  }

  &__inner {
    padding: 18px;
  }

  &__inner--sm{
    padding: 12px;
  }

  &__inner--md {
    padding: 18px 30px;
  }

  &__footer {
    border-top: 1px solid #e5e5e5;
    padding: 18px;
    background-color: $color-text-quaternary;
    //background-color: $color-divider-secondary;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    &--sm {
      padding: 8px 18px;
    }
  }

  &--secondary {
    border: 0;
    box-shadow: 0 2px 0 0 $color-divider-secondary;
  }
  &--tertiary {
    box-shadow: 5px 8.66px 37px 0px rgba(0, 0, 0, 0.15);
  }
}

///**=================== CUSTOM LIST STYLE ===============================**/
.list-style-disc {
  list-style: none;
  margin-left: 20px;
  li {
    font-size: 13px;
    position: relative;
    line-height: 16px;
    margin-bottom: 18px;
    > p {
        font-size: 13px;
        line-height: 16px;

        > span {
          font-size: 13px;
          line-height: 16px;
          color: $color-text-secondary;

          > a{
              color: $color-brand-primary;
            }

          > span{
            font-size: 13px;
            line-height: 16px;
            color: $color-text-secondary;
            > a{
              color: $color-brand-primary;
            }
          }
        }

        > a {
          color: $color-brand-primary;
        }
    }

    &:before {
      content: '';
      width: 7px;
      height: 7px;
      background-color: $color-divider-secondary;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 5px;
      left: -20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--secondary{
    li{
      &:before{
        background-color: $color-text-tertiary;
      }
    }
  }

  li + li {
    margin-top: 0;
  }
}


///**===================  TABS ===============================**/
.tabs-menu {
  list-style: none;
}

.tabs-container {
  background-color: $color-text-quaternary;
  // padding: 6px 0;
}

.tabs-menu {
  padding-top: 6px;
  > li {
    // height: 42px;
    line-height: 42px;
    float: left;
    margin-right: 6px;
    color: $color-text-secondary;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    + li {
      margin-top: 0;
    }
    &.current {
      position: relative;
      background-color: $color-white;
      border: 1px solid $color-divider-secondary;
      border-bottom: 1px solid $color-white;
      // z-index: 5;
    }
    a {
      padding: 12px;
      color: $color-text-primary;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      margin-top: -7px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
  .current a {
    color: $color-text-primary;
  }
}

.tab {
  background-color: $color-white;
  padding-bottom: 0
}

.tab-content {
  max-width: 688px;
  width: 100%;
  // padding: 18px;
  display: none;
  p {
    font-size: 13px;
    line-height: 18px;
  }
  .field {
    color: $color-text-tertiary;
  }
  .value {
    color: $color-text-secondary;
    font-weight: $font-weight-semibold;
  }
  .default-list-heading {
    font-size: 16px;
  }
}

#tab-1 {
  display: block;
}

///**===================  MODAL FULL SCREEN ===============================**/
.modal-fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 584px;

  &__header {
    width: 80%;
    margin: 48px auto;
    color: $color-white;

    &--sm {
      margin: 30px auto;
    }

    .close {
      background-color: #595959;
      padding: 14px;
      height: 48px;
      width: 48px;
    }

    .close-modal {
      position: absolute;
      right: 24px;
      top: 37px;
      &:hover .close-icon{
       opacity: 1;
      }
    }

    .close-icon {
      background: url('//res4.nbstatic.in/static/images/deal-detail/close-white.svg') no-repeat;
      height: 20px;
      width: 20px;
      display: block;
      margin-right: 0;
      opacity: 0.45; 
      -webkit-transition: all 0.25s ease; 
      -moz-transition: all 0.25s ease; 
      -ms-transition: all 0.25s ease; 
      -o-transition: all 0.25s ease; 
      transition: all 0.25s ease; 
    }
  }

  &__body{
    margin: 0 auto;
    width: 100%;
    max-height: calc(100vh - 78px - 12px);
    // overflow: hidden;
    margin-bottom: 12px;
  }
}

///**===================  FAVOURITE ===============================**/

.card{
  &__favourite {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-white;
    border-radius: 0 2px 0 2px;
    transition: all .3s ease;
    .nb-checkbox{
      padding: 6px 12px;
      transition: all .3s ease;
      margin-bottom: 0;
      display: inline-block;
      //margin-right: 0;
      &__bg{
        border: none;
        // background: url("//res4.nbstatic.in/static/images/heart.svg") no-repeat;
        // width: 15px;
        // height: 15px;
        margin-right: 0;
        // background-size: 14px;
        -webkit-animation: heart .4s 1;
        animation: heart .4s 1;
        color: $color-brand-primary;
      }

      &__bg--lg {
        height: 24px;
        width: 24px;
      }

      &__icon{
        // background: url("//res4.nbstatic.in/static/images/heart-filled.svg") no-repeat;
        // width: 15px;
        // height: 15px;
        // background-size: 14px;
        transition: all .3s ease !important;
        position: absolute;
        // left: 12px;
        // top: 7px;
        opacity: 0;
        margin-top: 2px;
        color: $color-brand-primary;
        &:after {
          content: '';
          background: $color-brand-primary;
          border-radius: 50%;
          width: 2px;
          height: 2px;
          transition: all .5s ease-out;
          opacity: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          -webkit-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
        }
      }

      span {
        font-size: 12px;
        font-family: $font-default-regular;
        color: $color-text-secondary;
        margin-left: 6px;
      }
    }
  }
  &__animation{
    .nb-checkbox__bg{
      -webkit-animation: heart .4s infinite;
      -moz-animation: heart .4s infinite;
      -ms-animation: heart .4s infinite;
      -o-animation: heart .4s infinite;
      animation: heart .4s infinite;
    }
  }
}

.card__favourite{
  &--active{
    .nb-checkbox__bg{
      opacity: 0;
      background: transparent;
      -webkit-animation: mymove .4s 1;
      animation: mymove .4s 1;
    }
    .nb-checkbox__icon{
      -webkit-animation: heart .4s 1;
      animation: heart .4s 1;
      opacity: 1;
      &:after {
        content: '';
        border-radius: 50%;
        width: 30px;
        height: 30px;
        opacity: 0;
      }
    }
    span {
      margin-left: 6px;
    }
  }
}

.card__favourite{
  &--no-bg{
    display: inline-block;
    position: static;
    border-radius: 2px;
    background: transparent;
    box-shadow: inset 0px 0px 0px 1px $color-divider-secondary;
    span{
      color: $color-text-primary !important;
    }
  }
}

@keyframes heart{
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  100% {
    transform:scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-webkit-keyframes heart{
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  100% {
    transform:scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-moz-keyframes heart{
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  100% {
    transform:scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-ms-keyframes heart{
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  100% {
    transform:scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-o-keyframes heart{
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  100% {
    transform:scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}


///**===================  LOADERS ===============================**/
// Block Level
.loaders {
  position: relative;
  &__block-level {
   &:before {
     content: '';
     background: url("//res4.nbstatic.in/static/images/block-loader.gif") no-repeat center center;
     display: block;
     width: 100%;
     height: 100%;
     position: absolute;
    //  position: fixed;
     right: 0;
     bottom: 0;
     margin: auto;
     z-index: 99; //changes because when we scroll its z-index is higher than header
    //  z-index: 12;
    // z-index: 1002;
     background-size: 70px;
   }
   &:after {
     content: '';
     position: absolute;
    //  position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     background-color: rgba(255, 255, 255, 0.7);
     z-index: 98; //changes because when we scroll its z-index is higher than header
    //  z-index: 10;
    // z-index: 1000;
     left: 0;
   }
   &--grey-base {
     position: relative;
     height: 80px;
     &:after {
     content: '';
      background: rgba(241,241,241,0.7);
    }
   }
  }

  // Button level spin loader
  .spin-loader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    .spin-loader {
      width: 30px;
      height: 30px;
      border: 5px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      border-top-color: $color-white;
      animation: spin 1s infinite linear;
      -webkit-animation: spin 1s infinite linear;
      -moz-animation: spin 1s infinite linear;
      -ms-animation: spin 1s infinite linear;
      -o-animation: spin 1s infinite linear;
    }
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }

  @-moz-keyframes spin {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }

  @-ms-keyframes spin {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }

  @-o-keyframes spin {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
}

.spin-loader-bg {
  color: $color-brand-primary;
  pointer-events: none;
}

// first time loader - category gif
.loader-page-level {
  position: fixed;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1000;
  &:after{
    content: '';
    background: url('//res4.nbstatic.in/static/images/page-level-loader.gif') no-repeat center center;
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}


// Progress bar loader
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $color-brand-primary;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $color-brand-primary, 0 0 5px $color-brand-primary;
  opacity: 1.0;
  -moz-transform:  rotate(3deg) translate(0px, -4px);
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);

}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}


///**===================  TIPSO TOOLTIP ===============================**/

.tipso_bubble {
  position: absolute;
  text-align: center;
  border-radius: 2px;
  z-index: 9999;
  background-color: $color-text-primary !important;
  color: $color-divider-secondary !important;
  font-size: 12px !important;
  padding: 6px !important;
}
.tipso_style{
  cursor: help;
}
.tipso_title {
  border-radius: 2px;
}
.tipso_content {
  word-wrap: break-word;
}

.tipso_bubble > .tipso_arrow{
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid;
  pointer-events: none;
}

.tipso_bubble.top > .tipso_arrow {
  border-top-color: $color-text-primary !important;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  top: 100%;
  left: 50%;
  margin-left: -8px;
}


///**===================  TOAST MESSAGE ===============================**/

.toast-message{
  opacity: 0;
  background-color: rgba(33,33,33, 0.85);
  color: #fff;
  padding: 4px 30px;
  top: -20%;
  border-radius: 3px;
  text-align: center;
  position: fixed;
  z-index: 1071 !important;
  left: 50%;   
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.15s linear;
}

.toast-message--active{
  opacity: 1;
  top: 40%;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-user-modify: read-write;
  background: url("//res4.nbstatic.in/static/images/close1.png") no-repeat center #e0e0e0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  -webkit-appearance: none;
  cursor: pointer;
  padding: 6px;
  background-size: 40%;
}

//**===================  CARD SLIDE STRUCTURE & NAVIGATION PANE  ===============================**/
.card-slide-wrapper {
  position: relative;
  white-space: nowrap;
  // padding-top: 6px;
  overflow: hidden;
  // padding-top: 42px;
  padding-top: 18px; // for new SF
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  > [class*="col-"] {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

.nav-pane  {
  button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 80px;
    width: 40px;
    background-color: $color-white;
    // text-indent: -999px;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid $color-divider-secondary;

    .icon-arrow_right {
      font-size: 18px;
      color: #999;

      &.left {
        transform: rotate(180deg);
      }
    }

    &:hover{
      box-shadow: 0 5px 15px rgba(0,0,0,0.25);
      .icon-arrow_right{
        color: #666;
      }
    }
  }

  img {
    display: block;
    opacity: 0.80;
  }

  .prev {
    //left: -12px;
    left: 0;
    img {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
    &--disable{
      background: $body-bg;
      cursor: not-allowed;
      &:hover{
        box-shadow: none;
        img{
          opacity: 0.20
        }
      }
      img{
        opacity: 0.20;
      }
    }
  }

  .next {
    right: 0;
    &--disable{
      background: $body-bg;
      cursor: not-allowed;
      &:hover{
        box-shadow: none;
        img{
          opacity: 0.20
        }
      }
      img{
        opacity: 0.20;
      }
    }
  }
}

//**===================  Service modal ===============================**/

//services modal
.services-modal, .travel-services {
  .modal__body {
    max-height: 400px;
    overflow-y: auto;
  }
  &__content {
    p {
      font-size: 15px;
      margin: 12px 0;
      font-weight: $font-weight-semibold;

      &:first-child {
        margin-top: 0;
      }
    }
    ul li{
      font-size: 13px;
      margin-bottom: 6px;
    }
    li + li{
      margin-top: 0;
    }
  }
}

.services-modal {
  &__content {
    p {
      font-size: 13px;
      font-weight: normal;

      span {
        font-size: 13px;
        color: #333;
      }
    }
  }
}

/*================================= LIST =================================================*/
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li + li{
    margin-top: 0;
  }
}
// .list-inline:after {
//   content: "";
//   display: table;
//   clear: both;
// }
.list-inline > li {
  display: inline-block;
}

.nb-list{
  &__item {
    margin-bottom: 30px;
  }
}

.list-block{
  margin: 0;
  padding: 0;
  list-style: none;
  &--with-margin{
    margin-left: 12px;
  }

  li + li{
    margin-top: 0;
  }
}

//.list-block li{
//	margin-bottom: 12px;
//}

//.list-block li:last-child{
//	margin-bottom: 0;
//}

.list-block > li{
  display: block;
}

// Default List
ul.default-list{
  li{
    font-size: 14px;
    color: #666;
    line-height: 18px;
  }
  li+li{
    margin-top: 6px;
  }
}

// ------------------------- Rupee symbol changes ----------------------------------------//

// .icon-rupee {
//   font-family: "fontello";
//   font-style: normal;
//   font-weight: normal;
//   display: inline-block;
//   text-decoration: inherit;
//   text-align: center;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1em;
//   font-size: 0.933333em;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

i {
  font-family: 'nb_font' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-like:before {
  content: "\e91b";
}
.icon-warning:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e919";
}
.icon-lock:before {
  content: "\e91a";
}
.icon-arrow_up:before {
  content: "\e900";
}
.icon-check_circle:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-share:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-rupee {
  font-size: 0.766666em;
    &:before {
    content: "\e905";
  }
}
.icon-arrow_right:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-nb_promised:before {
  content: "\e908";
}
.icon-nb_expired:before {
  content: "\e909";
}
.icon-nb_cancelled:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}
.icon-heart:before {
  content: "\e90d";
}
.icon-arrow_left:before {
  content: "\e90e";
}
.icon-help:before {
  content: "\e90f";
}
.icon-heart_filled:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e911";
}
.icon-arrow_down:before {
  content: "\e912";
}
.icon-distance:before {
  content: "\e913";
}
.icon-deal:before {
  content: "\e914";
}
.icon-contact:before {
  content: "\e915";
}
.icon-calender:before {
  content: "\e917";
}
.icon-bought:before {
  content: "\e918";
}

.previous-price {
  p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      border-top: 0.09rem solid #999;
      right: 0px;
      top: 6px;
      width: 100%;
    }
  }
}

//inclusion modal
.inclusion-modal {
  .modal__body {

    p {
      font-size: 13px;
      color: #333;

      > p {
        font-size: 13px;
        color: #333;

        > span {
          font-size: 13px;
          color: #333;
        }
      }
    }

    span{
      font-size: 13px;
      color: #333;
    }

    ul li{
      font-size: 13px;
      margin-bottom: 6px;
    }

    li + li{
      margin-top: 0;
    }
  }
}

//referral modal
.refer-tnc-modal {
    .modal__body {
    ol {
      list-style: decimal;
      margin-left: 12px;
      margin-right: 0;
      color: $color-text-primary;

      li {
        line-height: 24px;
        font-size: 13px;
      }

      li + li {
        margin-top: 18px;
      }
    }
  }
}

// ------------------------- Travel sale banner ----------------------------------------//
.travel-sale-banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 96;
  display: block;
  img {
    display: block;
  }
}


// overflow fix
.overflow-fix {
  max-height: 420px;
  overflow: auto;
}

.occasion__text {
  span {
    color: #fab000;
    font-size: 18px;
    font-weight: $font-weight-semibold;
  }
}

// ------------------------- Slide down animation ----------------------------------------//
.slide-down {
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.fade-in-animation {
  -ms-animation: fadein 0.25s 1 alternate backwards;
  -moz-animation: fadein 0.25s 1 alternate backwards;
  -webkit-animation: fadein 0.25s 1 alternate backwards;
  animation: fadein 0.25s 1 alternate backwards;
  -ms-transition: all 1.1s;
  -moz-transition: all 1.1s;
  -webkit-transition: all 1.1s;
  transition: all 1.1s;
}

@-webkit-keyframes fadein {
  0%   { opacity: 0.45; }
  50%  { opacity: 0.7; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0%   { opacity: 0.45; }
  50%  { opacity: 0.7; }
  100% { opacity: 1; }
}

// ------------------------- Snow fall animation ----------------------------------------//
.svg-snowscene {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  z-index: 1;
}

.snow {
  fill: #fff;
  -webkit-animation: snowing 3s ease-out infinite;
  -moz-animation: snowing 3s ease-out infinite;
  -ms-animation: snowing 3s ease-out infinite;
  -o-animation: snowing 3s ease-out infinite;
  animation: snowing 3s ease-out infinite;    
}
.snow:nth-child(2n) {
  -webkit-animation-delay:1.5s;
  animation-delay:1.5s;
}
.snow:nth-child(3n) { 
  -webkit-animation-delay: 2.3s;
  animation-delay:2.3s;
  -webkit-animation-duration:3.3s;
  animation-duration:3.3s
}
.snow:nth-child(4n) {
  -webkit-animation-delay:.8s;
  animation-delay:.8s;
  -webkit-animation-duration:3.2s;
  animation-duration:3.2s;
}
.snow:nth-child(5n) {
  -webkit-animation-delay:2.8s;
  animation-delay:2.8s;
}

@-webkit-keyframes snowing{ 
  0% {
    fill-opacity:1;
  } 
  100% { 
    fill-opacity:0;
    -webkit-transform:translateY(64px);
    transform:translateY(64px);
  }
}

@-moz-keyframes snowing{ 
  0% {
    fill-opacity:1;
  } 
  100% { 
    fill-opacity:0;
    -webkit-transform:translateY(64px);
    transform:translateY(64px);
  }
}

@-o-keyframes snowing{ 
  0% {
    fill-opacity:1;
  } 
  100% { 
    fill-opacity:0;
    -webkit-transform:translateY(64px);
    transform:translateY(64px);
  }
}

@keyframes snowing{ 
  0% {
    fill-opacity:1;
  } 
  100% { 
    fill-opacity:0;
    -webkit-transform:translateY(64px);
    transform:translateY(64px);
  }
}


// search bar
.search-bar {
  padding: 9px 0;
  // margin-top: -4px;
  display: inline-block;
  @media (min-width: to-em($breakpoint-desktop)) {
    padding: 9px 10px;
  }

  &__input {
    height: 42px;
    width: 227px;
    border: 1px solid #e0e0e0;
    border-radius: 4px 0 0 4px;
    line-height: 1;
    border-right: 0;
    // padding: 8px;
    padding: 10px;
    // padding-left: 36px;
    padding-left: 12px;
    cursor: text;
    position: relative;
     @media (min-width: to-em($breakpoint-desktop)) {
      width: 250px;
    }
    @media (min-width: to-em($breakpoint-thunderbolt)) {
      // width: 335px;
      width: 500px;
    }

    // &:before {
    //   content: '';
    //   position: absolute;
    //   display: block;
    //   background: url(//res4.nbstatic.in/static/images/city-search.svg) no-repeat;
    //   background-size: auto 100%;
    //   height: 18px;
    //   width: 18px;
    //   top: 10px;
    //   left: 12px;
    // }

    .icon-search {
      font-size: 12px;
      color: #999;
      vertical-align: middle;
      padding-right: 6px;
    }

    p {
      max-width: 179px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1 !important;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media (min-width: to-em($breakpoint-desktop)) {
        max-width: 230px;
      }
    }
  }
    
  &__btn {
    border-radius: 0 4px 4px 0;
    font-size: 13px;
    text-transform: capitalize;
    padding: 8px 17px;
    letter-spacing: 0;
    height: 42px;
    &:hover {
      box-shadow: none;
    }
  }
}

/* Safari only */ 
.search-bar:not(:root:root)  {
   margin-top: 0;
}

// ------------------------- View menu popup - data formatting ----------------------------------------//
.tab-content {
  .option-menu {
    > p {
      margin-bottom: 12px;
      > span {
        font-size: 13px;
        color: $color-text-secondary;
      }
    }
    > ul {
      margin-bottom: 24px;
      margin-left: 24px;
      li {
        font-size: 13px;
        span {
          font-size: 13px;
          color: $color-text-secondary;
        }
      }
      li + li {
        margin-top: 6px;
      }
    }

    h3 {
      font-size: 15px;
    }

    div {
      b {
        font-size: 13px;
      }
      p {
        margin-bottom: 6px;
      }
      ul {
        margin-bottom: 24px;
        margin-left: 24px;
        li {
          font-size: 13px;
        }
        li + li {
          margin-top: 6px;
        }
      }
    }
  }
}


// promo slider on listing
.promo-cont {
  .block__footer {
    background: $color-white;
  }
}

.modal_open {
  .offer-sticky {
    z-index: 99;
  }
}

.modal-location_open {
  overflow-y: hidden;
}

.info-circle {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 50%;
  margin-left: 6px;
  background: url('//res4.nbstatic.in/static/images/information.svg') no-repeat;
}

// ------------------------- Components(Promo banner & table guaranteed tag) for OLP ----------------------------------------// 
.card-offer {
  background-color: #f7f7f7;
  padding: 10px 12px;
  margin-bottom: 24px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  &__discount {
    font-size: 48px;
    color: #333;
    font-weight: 700;
  }

  &__cent {
    color: #333;
    line-height: 1;
    font-weight: 600;
    font-size: 24px;
  }

  &__title {
    height: 18px;
    max-width: 230px;
    overflow: hidden;
  }

  .texticon-group__icon, .texticon-group__content{
    padding-right: 18px;
    border-right: 1px solid #e0e0e0;
  }

  .texticon-group__icon{
    padding-right: 12px !important; 
    img {
      width: 80px !important;
      height: 48px !important;
    }
  }

  .texticon-group__content:last-child {
    border-right: 0;
    padding-right: 0;
  }

  .texticon-group__content{
    padding-left: 18px;
  }

  .ellipsis {
    max-width: 250px;
    @media (min-width: to-em($breakpoint-desktop)) {
      max-width: 130px;
    }
  }
}

.single-offer {
  max-width: 690px;
  margin: 0 auto;
}

.info-tag {
  background-color: #9658b0;
  color: #fff;
  padding: 0px 12px;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;
  font-family: helvetica;
  transform: translateY(-8px);
  @media (min-width: to-em($breakpoint-thunderbolt)) {
    transform: translateY(-13px);
  }
}


// ------------------------- Notification bar ----------------------------------------//
.notification {
  padding: 8px 20px;
  display: none;
  height: 40px;
  &--success {
    background-color: #2dbaaa;
  }
  .btn {
    padding: 3px 18px;
    background: #f1f1f1;
    font-weight: 600;
    font-size: 12px;
  }
  .ellipsis {
    margin-right: 24px;
    max-width: 60%;
    vertical-align: middle;
  }
}
.show-notification {
  .notification {
    display: block;
  }
  .header__primary {
    .sub_menu {
      top: 150px;
    }
  } 
  .header__primary .header-hover {
    .sub_menu {
      top: 134px;
    }
  }
  .secondary-nav {
    margin-top: 134px;
  }
  .wrapper-content {
    margin: 160px 0 0;
  }
  .wrapper-content--lg {
    margin: 200px 0 0;
  }
  .sold-out {
    top: 137px;
  }
  .hiw .how-it-works-show {
    -o-transform: translateY(-26%);
    -ms-transform: translateY(-26%);
    -moz-transform: translateY(-26%);
    -webkit-transform: translateY(-26%);
    transform: translateY(-26%);
  }

}

.isolp {
  margin-top: -50px;
  .location-cards .card--secondary .card__inner, .collection-cards .card--secondary .card__inner{
    border: 0;
    border-radius: 4px;
  }
}


// ------------------------- dtr end time changes ----------------------------------------// 

// informational banners
.info-banner {
  // padding: 0 24px;
  .block {
    border-radius: 5px;
    margin-bottom: 12px;
    overflow: hidden;
    &__inner {
      padding: 12px;
    }
  }
}
  


// ------------------------- Listing Grid ----------------------------------------// 
.filter {
  width: 230px;
  height: 1000px;
  background-color: #fff;
  padding: 12px;
}
.listing-grid {
  padding-left: 24px;
  .fl-column:first-child{
    @media (min-width: to-em($breakpoint-tab)) {
      padding-top: 0;
    }
  }
  .fl-column:nth-child(-n+2) {
    @media (min-width: to-em($breakpoint-laptop)) {
      padding-top: 0;
    }
  }
  .fl-column:nth-child(-n+3) {
    @media (min-width: to-em($breakpoint-desktop)) {
      padding-top: 0;
    }
  }
}
  