
@font-face {
  font-family: 'roboto-light';
  src: url('/static/fonts/Roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/Roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/Roboto/Roboto-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'roboto-regular';
  src: url('/static/fonts/Roboto/Roboto-Medium.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/Roboto/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/Roboto/Roboto-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'roboto-bold';
  src: url('/static/fonts/Roboto/Roboto-Bold.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/Roboto/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/Roboto/Roboto-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// font awesom
  @font-face {
    font-family: 'nb_font';
    font-weight: normal;
    font-style: normal;
    src: url('/static/fonts/font-awesome/nb_font.eot?hemnxv');
    src: url('/static/fonts/font-awesome/nb_font.eot?hemnxv#iefix') format('embedded-opentype'),     
         url('/static/fonts/font-awesome/nb_font.woff?hemnxv') format('woff'),
         url('/static/fonts/font-awesome/nb_font.ttf?hemnxv') format('truetype'),
  }
