@import "settings";
@import "tools";




/* =======================================================
	GIRD CSS
=======================================================*/
.wrapper:before,
.wrapper:after,
.wrapper-fluid:before,
.wrapper-fluid:after,
.row:before,
.row:after
{
  display: table;
  content: " ";
}

.wrapper:after,
.wrapper-fluid:after,
.row:after
{
  clear: both;
}

.wrapper, .wrapper-fluid{
  padding-right: 18px;
  padding-left: 18px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.wrapper--nopad, .wrapper-fluid--nopad {
  padding-right: 0;
  padding-left: 0;
}



@media (min-width: to-em($breakpoint-mobile)) {
  .wrapper {
    max-width: $width-mobile;   // 600-768px
  }
}
@media (min-width: to-em($breakpoint-tab)) {
  .wrapper {
    max-width: $width-tab;   //768-960px
  }
}
@media (min-width: to-em($breakpoint-laptop)) {
  .wrapper {
    max-width: $width-laptop;    //960-1140px
  }
}
@media (min-width: to-em($breakpoint-desktop)) {
  .wrapper {
    max-width: $width-desktop;    //1140-1280
  }
}
@media (min-width: to-em($breakpoint-thunderbolt)) {
  .wrapper {
    max-width: $width-thunderbolt;    // 1280
  }
}

.row {
  @include make-row;
}

.row {
  &--equal-height {
    display: table;
    width: 100%;
    margin: 0;
    > [class*="col-"] {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }

  &--no-gutter {
    margin-left:0;
    margin-right: 0;

    >[class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--middle {
    > [class*="col-"] {
      vertical-align: middle
    }
  }
}

.row {
  &--full-gutter {
    > [class*="col-"] {
      padding: 12px 20px;
      @media (min-width: to-em($breakpoint-desktop)) {
        padding: 12px 30px;
      }
    }
  }
}

.fl-row {
  display: flex;
  justify-content: space-between;
}

.fl-row {
  &--middle {
    align-items: center;
  }
  &--wrap {
    flex-wrap: wrap;
    justify-content: initial;
  }
}

.fl-column {
  &--3 {
    flex-basis: 33.33%;
  }
}

.fl-row--gutter {
  margin-left: -7px;
  margin-right: -7px;
  > .fl-column {
    padding: 0 7px;
  }
}

.fl-row--full-gutter {
  > .fl-column {
    padding: 12px;
  }
}

/* ---- Common properties to all grid classes ---*/
@include make-all-grid-columns;

/* ---- Making grid classes for Palm held phones( < 600px ) ----*/
@include float-grid-columns(xs);
@include make-grid(xs);

/* ---- Making grid classes for Tablets or phablets( > 600px ) ----*/
@media (min-width: to-em($breakpoint-tab)) {
  @include float-grid-columns(s);
  @include make-grid(s);
}

/* ---- Making grid classes for laptop( > 768px ) ----*/
@media (min-width: to-em($breakpoint-laptop)) {
  @include float-grid-columns(m);
  @include make-grid(m);
}

/* ---- Making grid classes for desktop( > 960px ) ----*/
@media (min-width: to-em($breakpoint-desktop)) {
  @include float-grid-columns(l);
  @include make-grid(l);
}

// /* ---- Making grid classes for Extra Large devices( >1176px ) ----*/
@media (min-width: to-em($breakpoint-thunderbolt)) {
  @include float-grid-columns(xl);
  @include make-grid(xl);
}
