
///* ============================================================================
//   CSS settings(e.g. fonts, breakpoints, color, etc.)
//   ========================================================================= */

///**=================== BREAKPOINTS ===============================**/

///**=================== BREAKPOINTS ===============================**/

//$breakpoint-phone: 600 !default; // Mobile devices below 600px
$breakpoint-mobile: 640 !default; // Tablet small
$breakpoint-tab: 768 !default; // Tablet large
$breakpoint-laptop: 960 !default; // laptop
$breakpoint-desktop: 1140 !default; // desktop
$breakpoint-thunderbolt: 1280 !default; // thunderbolt


///**===================  WRAPPER 0WIDTH ===============================**/
//$width-phone: 600px !default;
$width-mobile: 768px !default;
$width-tab: 960px !default;
$width-laptop: 1140px !default;
$width-desktop: 1140px !default;
$width-thunderbolt: 1272px !default;

$border-default-radius: 4px !default;


///*---------- Grid */
$grid-col: 12 !default;
$grid-gutter: 24px !default;


///**=================== FONTS ===============================**/

$font-family-base: 'roboto-light', Arial, Helvetica, sans-serif !default;

$font-default-light:  'roboto-light', Arial, Helvetica, sans-serif !default;
$font-default-regular:  'roboto-regular', Arial, Helvetica, sans-serif !default;
$font-default-bold:  'roboto-bold', Arial, Helvetica, sans-serif !default;


// /*------------ Weight */
$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

// /*------------ Size */
$font-size-base: 16 !default;

$font-size-h1: 56 !default;
$font-size-h2: 36 !default;
$font-size-h3: 30 !default;
$font-size-h4: 24 !default;
$font-size-h5: 18 !default;
$font-size-h6: 16 !default;

$font-size-p: 13;


// /*------- Line Height  */
$line-height-base:18 !default;

$line-height-xs:18 !default;
$line-height-s:24 !default;
$line-height-m:30 !default;
$line-height-l:36 !default;
$line-height-xl:42 !default;
$line-height-xxl:60 !default;



///**=================== COLORS ===============================**/

///*---------- Brand */

$color-brand-primary: #ef534e !default; // Red
//$color-brand-secondary: #2dbaaa !default; // Green
$color-brand-secondary: #34a853 !default; // Green
$color-brand-tertiary: #5ba4da !default; // Blue
$color-brand-quaternary: #22517f !default; // Dark Blue
$color-link: 	#0277bd !default; // Blue
$color-brand-quinary: #fab000 !default; //Yellow

///*---------- Base */
$color-black: #000 !default;
$color-white: #fff !default;

///*---------- Base */
// $body-bg: #f1f1f1 !default;
$body-bg: #e1e9ec !default;
$bg-primary: #f7f7f7 !default;

$color-delight-primary: #f47b58 !default;
$color-delight-secondary: #5b54df !default;
$color-delight-tertiary: #6a488e !default;
$color-delight-quaternary: #e64461 !default;
$color-delight-quinary: #5b89d8 !default;
$color-delight-senary: #488e71 !default;



///*---------- Text */
$color-text-primary: #333 !default; //80% black
$color-text-secondary: #666 !default; //60% black
$color-text-tertiary: #999 !default; // 40% black
$color-text-quaternary: #f6f6f6 !default;

///*---------- Divider */
$color-divider: #efefef !default; // 12% black
$color-divider-secondary: #e0e0e0;


///*---------- State */
$color-state-error:   #dc322f !default;
$color-state-success: #859900 !default;
$color-state-warning: #b58900 !default;
$color-state-information: #268bd2 !default;

///*---------- Forms */

$color-text-input-placeholder: #999 !default;

///*----------- Margin  */
$margin-xs:6px !default;
$margin-s:12px !default;
$margin-m:18px !default;
$margin-l:24px !default;
$margin-xl:30px !default;
$margin-xxl:36px !default;
$margin-xxxl:42px !default;
