/*==================================================================================
  RE-USABLE CLASSES (e.g. visibility, float, text-align)
====================================================================================*/

.wrapper-content{
  margin: 92px 0 0 0;
  &--md {
    margin: 120px 0 0;
  }
  &--lg{
    margin: 160px 0 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix-odd:nth-child(odd) {
  clear: left;
}

/*================================= FONT SIZE =================================================*/
.font-size-xs{
  font-size: 13px !important;
}
.font-size-sm{
 font-size: 14px !important;
}
.font-xs {
  font-size: 11px !important;
}
.font-sm {
  font-size: 12px !important;
}
.font-m {
  font-size: 13px !important;
}
.font-l {
  font-size: 16px;
}
.font-xl {
  font-size: 18px;
}

.font-xxl {
  font-size: 24px;
}

.font-light {
  font-family: 'roboto-light', Arial, Helvetica, sans-serif;
}  

.font-regular {
  font-family: 'roboto-regular', Arial, Helvetica, sans-serif;
}  

.font-medium {
  font-family: 'roboto-medium', Arial, Helvetica, sans-serif;
}  

.font-bold {
  font-family: 'roboto-bold', Arial, Helvetica, sans-serif;
} 

.font-black {
  font-family: 'roboto-black', Arial, Helvetica, sans-serif;
} 


/*================================= FORM GROUP =================================================*/
//.form-group{
//  margin-bottom: 24px;
//  &--inner{
//    margin-bottom:18px;
//  }
//}


/*================================= FLOAT =================================================*/

.flt-left {
  float: left !important;
}
.flt-right {
  float: right !important;
}

/*================================= Equal Height ==========================================*/
.full-height {

  @include mq($breakpoint-laptop) {
    max-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  }

}

/*================================= Table Layout ==========================================*/
.table {
  display: table;
  width: 100%;
  &__cell {
    display: table-cell;
    vertical-align: top;
  }
}

/*================================= Text =================================================*/

/* ---------- Heading font size */
.h1 {
  font-size: to-em($font-size-h1) !important;
  line-height: 60px;
}
.h2 {
  font-size: to-em($font-size-h2) !important;
  line-height: 36px
}
.h3 {
  font-size: to-em($font-size-h3) !important;
  line-height: 30px;
}
.h4 {
  font-size: to-em($font-size-h4) !important;
  line-height: 24px;
}
.h5 {
  font-size: to-em($font-size-h5) !important;
  line-height: 18px;
}
.h6 {
  font-size: to-em($font-size-h6) !important;
  line-height: 18px;
}

/*-------------- Text Colors */
.txt-primary {
  color: $color-text-primary !important;
}
.txt-secondary {
  color: $color-text-secondary !important;
}
.txt-tertiary {
  color: $color-text-tertiary !important;
}
.txt-quaternary {
  color: $color-text-quaternary !important;
}
.txt-white {
  color: $color-white !important;
}
.txt-link {
  color: $color-link !important;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.txt-black {
  color: $color-black !important;
}
.txt-brand-primary {
  color: $color-brand-primary !important;
}
.txt-brand-secondary {
  color: $color-brand-secondary !important;
}
.txt-brand-tertiary {
  color: $color-brand-tertiary !important;
}
.txt-brand-quaternary {
  color: $color-brand-quaternary !important;
}
.txt-brand-quinary {
  color: $color-brand-quinary !important;
}
.bg-primary {
  background-color: $bg-primary;
}
.bg-delight-primary {
  background-color: $color-delight-primary;
}
.bg-delight-secondary {
  background-color: $color-delight-secondary;
}
.bg-delight-tertiary {
  background-color: $color-delight-tertiary;
}
.txt-delight-primary {
  color: $color-delight-primary;
}
.txt-delight-secondary {
  color: $color-delight-secondary;
}
.txt-delight-tertiary {
  color: $color-delight-tertiary;
}
/*-------------- Text Weight */
.font-weight-thin {
  font-weight: $font-weight-thin !important;
}
.font-weight-light {
  font-weight: $font-weight-light !important;
}
.font-weight-regular {
  font-weight: $font-weight-regular !important;
}
.font-weight-medium {
  font-weight: $font-weight-medium !important;
}
.font-weight-semibold {
  font-weight: 600 !important;
}
.font-weight-bold {
  font-weight: $font-weight-bold !important;
}

/*-------------- Line Height */
.line-height-xs{
  line-height: 18px !important;
}

.line-height-sm{
  line-height: 24px !important;
}

.line-height-md{
  line-height: 30px !important;
}

.line-height-lg{
  line-height: 36px !important;
}
.line-height-xl{
  line-height: 42px !important;
}

.line-height-default {
  line-height: 1 !important;
}

.line-height-standard {
  line-height: 1.5 !important;
}

/*-------------- Text Alignment */
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}

/*-------------- Text Decoration */
.txt-strike-through{
  text-decoration: line-through;
}

.txt-decoration-underline{
  text-decoration: underline;
}

.txt-italic {
  font-style: italic;
}

.text-left-on-laptop{
  @include mq($breakpoint-laptop){
    text-align: left;
  }
}
.text-right-on-laptop{
  @include mq($breakpoint-laptop){
    text-align: right;
  }
}
/*-------------- Text transform */
.txt-uppercase {
  text-transform: uppercase;
}
.txt-lowercase {
  text-transform: lowercase;
}
.txt-capitalize {
  text-transform: capitalize;
}
.txt-trasnform-none {
  text-transform: none !important;
}

.txt-truncate {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*================================= SPACING =================================================*/

.no-padding{
  padding: 0 !important;
}

/*---------------- Margins --- */

.margin-top-zero{
  margin-top:0 !important;
}
.margin-top-xs{
  @include margin-all($margin-xs, null, null, null);
}
.margin-top-s{
  @include margin-all($margin-s, null, null, null);
}
.margin-top-m{
  @include margin-all($margin-m, null, null, null);
}
.margin-top-l{
  @include margin-all($margin-l, null, null, null);
}
.margin-top-xl{
  @include margin-all($margin-xl, null, null, null);
}
.margin-top-xxl{
  @include margin-all($margin-xxl, null, null, null);
}
.margin-top-xxxl{
  @include margin-all($margin-xxxl, null, null, null);
}

.margin-right-zero{
  margin-right:0 !important;
}
.margin-right-xs{
  @include margin-all(null, $margin-xs !important, null, null);
}
.margin-right-s{
  @include margin-all(null, $margin-s !important, null, null);
}
.margin-right-m{
  @include margin-all(null, $margin-m !important, null, null);
}
.margin-right-l{
  @include margin-all(null, $margin-l !important, null, null);
}
.margin-right-xl{
  @include margin-all(null, $margin-xl !important, null, null);
}
.margin-right-xxl{
  @include margin-all(null, $margin-xxxl !important, null, null);
}
.margin-right-xxxl{
  @include margin-all(null, $margin-xxxl !important, null, null);
}

.margin-bottom-zero{
  margin-bottom:0 !important;
}
.margin-bottom-xs{
  @include margin-all(null,  null, $margin-xs !important, null);
}
.margin-bottom-s{
  @include margin-all(null,  null, $margin-s !important, null);
}
.margin-bottom-m{
  @include margin-all(null,  null, $margin-m !important, null);
}
.margin-bottom-l{
  @include margin-all(null,  null, $margin-l !important, null);
}
.margin-bottom-xl{
  @include margin-all(null,  null, $margin-xl !important, null);
}
.margin-bottom-xxl{
  @include margin-all(null,  null, $margin-xxl !important, null);
}
.margin-bottom-xxxl{
  @include margin-all(null,  null, $margin-xxxl !important, null);
}

.margin-left-zero{
  margin-left:0 !important;
}
.margin-left-xs{
  @include margin-all(null,  null, null, $margin-xs );
}
.margin-left-s{
  @include margin-all(null,  null, null, $margin-s );
}
.margin-left-m{
  @include margin-all(null,  null, null, $margin-m );
}
.margin-left-l{
  @include margin-all(null,  null, null, $margin-l );
}
.margin-left-xl{
  @include margin-all(null,  null, null, $margin-xl );
}
.margin-left-xxl{
  @include margin-all(null,  null, null, $margin-xxl );
}
.margin-left-xxxl{
  @include margin-all(null,  null, null, $margin-xxxl );
}


// ------------Margin reset------------------------------//

.margin-reset {
  margin: 0 !important;
}

.margin-top-mobile-reset {
  margin-top: 0 !important;
}
.margin-bottom-mobile-reset {
  margin-bottom: 0 !important;
}

@media (min-width: to-em($breakpoint-tab)) {
  .margin-top-tab-reset {
    margin-top: 0 !important;
  }
  .margin-bottom-tab-reset {
    margin-bottom: 0 !important;
  }
}
@media (min-width: to-em($breakpoint-laptop)) {
  .margin-top-lap-reset {
    margin-top: 0 !important;
  }
  .margin-bottom-lap-reset {
    margin-bottom: 0 !important;
  }
  //.margin-left-lap-sm {
  //  margin-left: 12px !important;
  //}
}
@media (min-width: to-em($breakpoint-desktop)) {
  .margin-top-desktop-reset {
    margin-top: 0 !important;
  }
  .margin-bottom-desktop-reset {
    margin-bottom: 0 !important;
  }
  .margin-right-desktop-xs {
    margin-right: 6px !important;
  }
  .margin-left-desktop-sm {
    margin-left: 12px !important;
  }
}



/*--------- PADDING-----------------------------------*/

//------------------------------Padding-reset-------------------------//
.padding-reset {
  padding: 0 !important;
}

.padding-top-mobile-reset {
  padding-top: 0;
}
.padding-bottom-mobile-reset {
  padding-bottom: 0;
}
.padding-left-mobile-reset {
  padding-left: 0 !important;
}
.padding-right-mobile-reset {
  padding-right: 0;
}

//----------------------------------------Padding---------------------------------//

.padding-top-zero{
  padding-top:0 !important;
}
.padding-top-xs{
  @include padding-all($margin-xs, null, null, null);
}
.padding-top-s{
  @include padding-all($margin-s, null, null, null);
}
.padding-top-m{
  @include padding-all($margin-m, null, null, null);
}
.padding-top-l{
  @include padding-all($margin-l, null, null, null);
}
.padding-top-xl{
  @include padding-all($margin-xl, null, null, null);
}
.padding-top-xxl{
  @include padding-all($margin-xxl, null, null, null);
}
.padding-top-xxxl{
  @include padding-all($margin-xxxl, null, null, null);
}

.padding-right-zero{
  padding-right:0 !important;
}
.padding-right-xs{
  @include padding-all(null, $margin-xs, null, null);
}
.padding-right-s{
  @include padding-all(null, $margin-s, null, null);
}
.padding-right-m{
  @include padding-all(null, $margin-m, null, null);
}
.padding-right-l{
  @include padding-all(null, $margin-l, null, null);
}
.padding-right-xl{
  @include padding-all(null, $margin-xl, null, null);
}
.padding-right-xxl{
  @include padding-all(null,$margin-xxl, null, null);
}
.padding-right-xxxl{
  @include padding-all(null,$margin-xxxl, null, null);
}

.padding-bottom-zero{
  padding-bottom:0 !important;
}
.padding-bottom-xs{
  @include padding-all(null,  null, $margin-xs, null);
}
.padding-bottom-s{
  @include padding-all(null,  null, $margin-s, null);
}
.padding-bottom-m{
  @include padding-all(null,  null, $margin-m, null);
}
.padding-bottom-l{
  @include padding-all(null,  null, $margin-l, null);
}
.padding-bottom-xl{
  @include padding-all(null,  null, $margin-xl, null);
}
.padding-bottom-xxl{
  @include padding-all(null,  null, $margin-xxl, null);
}
.padding-bottom-xxl{
  @include padding-all(null,  null, $margin-xxxl, null);
}

.padding-left-zero{
  padding-left:0 !important;
}
.padding-left-xs{
  @include padding-all(null,  null, null, $margin-xs );
}
.padding-left-s{
  @include padding-all(null,  null, null, $margin-s );
}
.padding-left-m{
  @include padding-all(null,  null, null, $margin-m );
}
.padding-left-l{
  @include padding-all(null,  null, null, $margin-l );
}
.padding-left-xl{
  @include padding-all(null,  null, null, $margin-xl );
}
.padding-left-xxl{
  @include padding-all(null,  null, null, $margin-xxl);
}
.padding-left-xxxl{
  @include padding-all(null,  null, null, $margin-xxxl);
}



// .col-reset {
//   padding: 0;
//   width: 0px !important;

//   @include mq($breakpoint-tab) {
//     width: auto;
//     padding-left: 12px;
//     padding-right: 12px;
//   }
// }




/*================================= Media =================================================*/
.img-responsive {
  max-width: 100%;
  width: 100%;
}

/*================================= ICONS =================================================*/
[class$="-icons"] {
  color: $color-text-secondary;
  vertical-align: middle;
}
//.icon-s {
//  font-size: 12px;
//}
//.icon-m {
//  font-size: 16px;
//}
.icon-l {
  font-size: 24px;
}
.icon-sort {
  margin-left: 10px;
  transition: all 0.3s ease;
  vertical-align: middle;
  font-size: 14px;
}

// /*================================= show / hide content =================================================*/

.show-on-tab{
  display: none;
  @media (min-width: to-em($breakpoint-tab)) {
    display: block;
  }
  &--display-table{
    display: none  !important;
    @media (min-width: to-em($breakpoint-tab)) {
      display: table-cell !important;;
    }
  }
}

.show-on-laptop{
  display: none;
  @media (min-width: to-em($breakpoint-laptop)) {
    display: block;
  }
  &--display-table{
    display: none  !important;
    @media (min-width: to-em($breakpoint-laptop)) {
      display: table-cell !important;;
    }
  }
}
.show-on-desktop{
  display: none !important;
  @media (min-width: to-em($breakpoint-desktop)) {
    display: block !important;
  }
  &--display-table{
    display: none  !important;
    @media (min-width: to-em($breakpoint-desktop)) {
      display: table-cell !important;
    }
  }
  &--display-inline{
    display: none  !important;
    @media (min-width: to-em($breakpoint-desktop)) {
      display: inline-block !important;
    }
  }
}


.hide-on-tab{
  display: block;
  @media (min-width: to-em($breakpoint-tab)) {
    display: none;
  }
  &--display-table{
    display: none  !important;
    @media (min-width: to-em($breakpoint-tab)) {
      display: table-cell !important;;
    }
  }
}

.hide-on-laptop{
  display: block;
  @media (min-width: to-em($breakpoint-laptop)) {
    display: none;
  }
  &--display-table{
    display: none  !important;
    @media (min-width: to-em($breakpoint-laptop)) {
      display: table-cell !important;;
    }
  }
}
.hide-on-desktop{
  display: block;
  @media (min-width: to-em($breakpoint-desktop)) {
    display: none;

  }
  &--display-table{
    display: none  !important;
    @media (min-width: to-em($breakpoint-desktop)) {
      display: table-cell !important;
    }
  }
}

.flt-right-on-desktop{
  float: none;
  @media (min-width: to-em($breakpoint-thunderbolt)) {
    float: right;
  }
}

// -----------------------_Cursor----------------------------//
.cursor-pointer{
  cursor: pointer;
}

.cursor-default{
  cursor: default;
}

.cursor-text{
  cursor: text;
}

.disabled {
  pointer-events: none;
}



// ------------------------border's--------------------------------------//
.border-top-primary {
  border-top: 1px solid $color-black;
}

.default-border {
  margin: 12px 0;
  border-bottom: 1px solid $color-divider-secondary;
}

.thick-border {
  border-bottom: 2px solid $color-divider-secondary;
  margin: 18px 0;
  &--width-sm {
    border-width: 1px;
  }
}

.border-reset {
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.border-right{
  border-right: 1px solid $color-divider-secondary;
}

.border-top{
  border-top: 1px solid $color-divider-secondary;
}

.border-bottom{
  border-bottom: 1px solid $color-divider-secondary;
}

.border-left{
  border-left: 1px solid $color-divider-secondary;
}
// ------------------------- overlay-layout ----------------------------------------//

.overlay-layout{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 9;
  background: #fff;
  padding: 0 12px;
  overflow-y: scroll;


  .btn--default--full-width  {
    width: 100%;
  }
}

// ------------------------- HELPER CLASSES FOR CSS ----------------------------------------//

.white-space-normal {
  white-space: normal;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.vertical-align-top {
  vertical-align: top;
}

.inline-ele {
  display: inline-block;
  vertical-align: middle;
}

.vertical-align-middle {
  vertical-align: middle;
}

.position-relative {
  position: relative;
}

.position-static {
  position: static;
}

.hover-dark-bg{
  &:hover{
    color: $color-white;
  }
}
.overflow-hidden {
  overflow-y: hidden;
}

.overflow-inherit {
  overflow: inherit !important;
}

/*================================= SECTIO SPACING =================================================*/
.section-spacing {
  padding: 0 0 42px 0;
 }

.section-heading {
  //margin-bottom: 42px;
  margin-bottom: 12px;
  text-align: center;
  color: $color-text-primary;
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    width: 40%;
    content: '';
    border-bottom: 2px solid $color-brand-primary;
    left: 0;
    text-align: center;
    margin: 0 auto;
    right: 0;
    padding-top: 10px;
    bottom: -12px;
  }
  
  a {
    display: inline-block;
  }

  .category-name {
    font-size: 18px;
    color: $color-text-secondary;
    // padding-right: 18px;
    vertical-align: middle;
    font-weight: $font-weight-regular;
    text-transform: capitalize;
  }
  .show-all-deal {
    font-size: 11px;
    color: #ef534e;
    padding-left: 12px;
    font-weight: 600;
    padding-top: 0;
    margin-left: -4px;
    vertical-align: inherit;
    line-height: 1;
  }
}

